alembic
certifi
chardet
click
Flask
Flask-WTF
gunicorn
html5lib
idna
itsdangerous
Jinja2
lxml
Mako
MarkupSafe
python-dateutil
python-dotenv
python-editor
requests
six
soupsieve
urllib3
webencodings
Werkzeug
WTForms
python-dotenv
yfinance
matplotlib