Vũ Luyện Điên Phong - Chương 16: Thối thể tầng năm<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Phát hiện này khiến Dương Khai cảm thấy phấn chấn. Tu luyện trong Lăng
Tiêu các đã ba năm trời, chẳng qua cũng chỉ đạt đến Thối Thể tầng ba,
vậy mà sau khi có được cuốn Vô Tự Hắc Thư này, ngay từ ngày thứ hai đã
đột phá đến tầng bốn. Đến nay mới chỉ qua hai ngày mà lại sắp đột phá
được nữa rồi. Tốc độ tu luyện này cũng khiến bản thân Dương Khai cảm
thấy có chút kinh ngạc.</p><p>Việc tu luyện Thối Thể thiên tiêu hao rất nhiều năng lượng, Dương Khai nghỉ ngơi một lúc lâu mới dần dần tỉnh
táo, ăn nốt mấy nắm cơm còn lại rồi mới tiếp tục lên đường tìm thuốc.</p><p>Tất cả những nơi có thể có thảo dược trong trí nhớ thì ngày hôm qua đã tìm
hết rồi, nên hôm nay đành phải trông chờ vào vận may thôi. May mà giá
trị của những loại thảo dược Phàm cấp này thực sự cũng không cao, không
phải ai nhìn thấy cũng hái, vì thế dù sao vẫn còn có chút thu hoạch.</p><p>Trong một ngày trời, Dương Khai lại tìm được thêm bảy tám cây thảo dược, thậm chí ngay cả Tam Diệp Tàn Hồn Hoa cũng tìm được hai cây. Lần này cuối
cùng cũng tìm được các loại thảo dược cần cho việc tu luyện, chỉ là số
lượng có chút khiêm tốn.</p><p>Thời gian vội vàng trôi đi, khi bóng đêm đã buông xuống thì Dương Khai vẫn đang đi trong rừng, không phải hắn
không muốn nghỉ ngơi, thực sự là đói không thể chịu được nữa rồi.</p><p>Vốn nghĩ hôm nay có thể kiếm được chút hương vị thú rừng, nhưng không ngờ
đến cả một con thỏ cũng không thấy, chỉ kiếm được mấy quả dại bằng móng
tay, chua đến mức vừa cho vào mồm đã thấy ê răng, nuốt vào bụng càng
thấy đói hơn.</p><p>Sớm biết như vậy thì lúc đầu đã làm thêm chút cơm
nắm mang theo rồi, bây giờ mới thấy hối hận. Ở nơi không hàng quán này
kiếm đâu được đồ ăn bây giờ?</p><p>Đúng lúc đang đói không biết làm thế nào thì Dương Khai chợt nhìn thấy phía trước có ánh lửa từ trong núi
hắt ra, lập tức tinh thần trở lên chấn động, vội vàng chạy đến hướng đó.</p><p>Dám đốt lửa trong chốn rừng núi thế này, hoặc là kẻ đần đồn không biết gì,
hoặc là người có kinh nghiệm không còn gì phải lo sợ. Người Dương Khai
gặp lần này thuộc loại người thứ hai.</p><p>Vừa mới đến gần đống lửa, ngẩng mặt lên thì nghe thấy có tiếng gầm truyền đến:</p><p>- Ai đó?</p><p>Lúc đó, Dương Khai cảm thấy da thịt mình như xiết lại, cột sống lạnh cứng,
đưa mắt nhìn theo, nhưng chỉ thấy hai bóng người một cao một thấp bên
cạnh đống lửa đang nhìn mình với ánh mắt hết sức cảnh giác.</p><p>Người cao là một người đàn ông thân hình cường tráng, trên tay đang cầm một
cây cung đã được lắp tên, giương lên, mũi tên hướng trúng vào mình.
Ngoài ra bên cạnh người đàn ông này còn có một cậu bé tuổi khoảng chừng
mười một mười hai, tuy còn nhỏ nhưng đôi mắt sáng ngời, không những
không chút sợ hãi mà ngược lại còn có cảm giác như nóng lòng muốn thử.
Trên tay cậu bé cũng đang cầm một chiếc cung tên, chỉ có điều chiếc cung tên này rất nhỏ, uy lực có lẽ cũng không cao.</p><p>Tuy bị hai
chiếc cung kéo căng dây chĩa thẳng vào người nhưng Dương Khai không hề
tức giận. Khi hành tẩu bên ngoài, không thể thiếu sự đề phòng, vì thế
hành động của bọn họ cũng không hề gì.</p><p>- Đừng căng thẳng, ta chỉ lên núi hái thuốc thôi.</p><p>Dương Khai vội vàng ra tiếng.</p><p>Nghe hắn nói vậy, người đàn ông và cậu bé trước mặt mới cẩn thận quan sát
hắn, người đàn ông cường tráng từ từ hạ cung tên xuống, sau đó lại vỗ vỗ cậu bé ra hiệu hãy yên tâm, rồi mới cười và nói:</p><p>- Ta cứ tưởng ánh lửa đã dụ thú giữ đến, hóa ra chỉ là sợ bóng sợ gió.</p><p>- Thật xin lỗi</p><p>Dương Khai cười ngượng ngạo nói.</p><p>Người đàn ông cường tráng này có vẻ rất hào phóng, y vẫy tay nói:</p><p>- Lại đây đi, đêm đến gió rét, ở bên ngoài kiếm ăn cũng không hề dễ dàng.</p><p>Dương Khai cảm ơn một tiếng rồi mới đi đến phía trước và ngồi cạnh đống lửa.
Người đàn ông cường tráng vẫn nhìn chằm chằm vào Dương Khai, thấy hắn
gầy gò ốm yếu thì cũng không khỏi có chút đồng cảm.</p><p>Một khi đã
ngồi cùng nhau thì tất nhiên phải nói chuyện rồi. Trong khi trò chuyện,
Dương Khai mới biết được hai người là cha con, sống ngay dưới chân núi
và chủ yếu kiếm sống bằng việc săn bắn. Cuộc sống tuy không giàu có
nhưng dù sao vẫn đủ no ấm. Hơn nữa, cậu bé tuy nhìn nhỏ tuổi nhưng cũng
được coi là lão thủ săn bắn, sau nhiều lần theo cha lên Hắc Phong Sơn
thì kinh nghiệm trà trộn vào rừng núi của cậu còn phong phú hơn Dương
Khai rất nhiều.</p><p>Dương Khai cũng tự kể về gia môn của mình, sau
khi biết được hắn là đệ tử của Lăng Tiêu các, người đàn ông có chút ngạc nhiên, cậu bé thì lại càng hiếu kì, đôi mắt đen nhánh cứ liên tục đảo
nhìn khắp người Dương Khai.</p><p>Người đàn ông nói:</p><p>- Tên tiểu tử
này nhà ta vốn cũng muốn luyện võ, nhưng tư chất lại không có, nên đã bị trả về, vì thế nó rất sùng bái những người luyện võ như ngươi.</p><p>Câu nói này khiến Dương Khai hồi tưởng lại cảnh ngộ của mình trong ba năm
nay, không khỏi có chút đồng cảm, nên liền đưa tay ra xoa đầu cậu bé.</p><p>Đang lúc nói chuyện thì bụng của Dương Khai sôi lên, cậu bé sửng sốt rồi đột nhiên cười, sau đó lấy ra một phần lương khô trong gói đồ bên cạnh đưa
cho Dương Khai.</p><p>Dương Khai rất cảm động, nhưng lại không đưa tay ra nhận mà nhìn người đàn ông khôi ngô, người đàn ông cười nói:</p><p>- Ăn đi, nhìn bộ dạng ngươi có vẻ như hôm nay chưa ăn gì rồi.</p><p>Dương Khai không từ chối nữa, hắn nhận lấy miếng lương khô rồi nhai nuốt ngấu nghiến như hổ đói.</p><p>Nói chuyện thêm lúc nữa rồi ba người thiếp đi bên cạnh đống lửa. Dương Khai thì không dám ngủ say mà luôn trong trạng thái mơ màng, chỉ đợi một khi có nguy hiểm gì ập đến thì có thể giúp hai cha con thợ săn, cũng coi
như để báo đáp ân tình.</p><p>Nhưng một đêm trôi đi cũng không có chuyện gì xảy ra.</p><p>Một buổi sáng sớm nữa lại đến, Dương Khai không chờ đến khi hai cha con thợ săn tỉnh dậy thì đã lặng lẽ rời đi, trước khi đi còn để lại hai cây
thảo dược làm quà cảm ơn bữa ăn đêm qua.</p><p>Hai cây thảo dược này
nếu như vò nát đi cũng có công hiệu trị thương nhất định, cha con thợ
săn quanh năm trà trộn rừng núi, ắt sẽ có lúc dùng đến.</p><p>Mặt trời
đã ló ở phía đông, Dương Khai lại luyện nửa canh giờ Thối Thể thiên, đến lúc kết thúc việc tu luyện liền hít lấy một luồng khí màu tím. Kinh
mạch trong cơ thể đột nhiên bị chấn động mạnh, cảm giác nóng ấm truyền
khắp cơ thể, khí cảm bừng bừng, không ngừng sôi trào trong kinh mạch.</p><p>Thối Thể tầng năm! Cảm giác ngày hôm qua quả nhiên không sai, đích thực là
sắp tấn thăng rồi. Hôm nay chỉ luyện có nửa canh giờ mà quả nhiên lại
thêm một lần đột phá.</p><p>Dương Khai vô cùng vui sướng, trong lòng càng ngày càng mong đợi có được bí quyết Ngạo Cốt Kim Thân.</p><p>Tính ra có được Ngạo Cốt Kim Thân chẳng qua chỉ mới vài ngày, nhưng đã đột
phá hai lần, tốc độ tu luyện này quả thực là không gì sánh bằng. Đó là
vẫn còn có sự hạn chế về thời gian tu luyện, chứ nếu như thường xuyên tu luyện thì tốc độ sẽ nhanh đến mức nào?</p><p>Dương Khai tự mình nghĩ
cũng thấy có chút líu lưỡi không ra lời. Nhưng dù sao Thối Thể cảnh cũng chỉ là giai đoạn căn bản của người luyện võ, đương nhiên là tu luyện
khá nhanh, sau này cùng với sự tăng lên về cảnh giới thì việc nâng cao
tốc độ e là sẽ chậm lại.</p><p>Nghỉ ngơi một lúc, Dương Khai lại tiếp tục đi tìm thảo dược.</p><p>Ngày hôm nay thu hoạch được không ít, hái được những mười mấy cây thảo dược, hơn nữa lại còn bắt được một chú thỏ béo, giải quyết được nỗi lo đói
bụng.</p><p>Ngày thứ ba lên núi, Dương Khai tiến sâu vào bên trong Hắc
Phong Sơn hơn một chút, gần như đã đạt đến giới hạn phạm vi ba mươi dặm. Đến đây Dương Khai cũng không dám đi sâu vào nữa, với thực lực hiện giờ của bản thân nếu như gặp phải thú dữ thì chỉ còn cách chạy thục mạng,
chạy không được còn có thể trở thành mồi cho chúng.</p><p>Tuy rằng
vẫn chưa vào quá sâu nhưng thu hoạch ngày hôm nay cũng nhiều hơn rất
nhiều so với hai hôm trước. Hơn hai mươi cây thảo dược, tính ra cũng
bằng tổng số thu hoạch của hai ngày trước. Lần này lên núi tìm được gần
bốn mươi cây thảo dược, nhưng hai loại cần dùng thì lại quá ít.</p><p>Tìm được tất cả bốn mươi cây thảo dược trong ba ngày, tuy là đều là loại
Phàm cấp hạ phẩm nhưng thu hoạch cũng không phải nhỏ, mang về tông môn
cũng đổi được không ít điểm cống hiến. Nhưng như vậy cũng làm lỡ mất
thời gian tu luyện, nên có chút lợi bất cập hại. </p> </div>