Vũ Luyện Điên Phong - Chương 15: Lên núi tìm thuốc<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Tu luyện xong, lại mất hơn một canh giờ để hoàn thành công việc ngày hôm nay, sau đó mới Dương Khai mới chạy đến Cống Hiến đường.</p><p>Mặc dù
đã quyết định lên núi tìm thuốc nhưng Dương Khai không hề biết gì về
dược lí, thậm chí ngay cả Tam Diệp Tàn Hồn hoa và Tuyệt Địa Khô Mộc thảo cũng chỉ là nghe kì danh chứ chưa từng nhìn thấy, chỉ e khi nhìn thấy
cũng không nhận ra.</p><p>Vì vậy phải chuẩn bị thật tốt, không lại mất
công chạy một chuyến rồi lại lơ ngơ không biết làm thế nào. Dương Khai
đến Cống Hiến đường cũng chính là để ghi nhớ hình dáng của hai loại thảo dược này.</p><p>Vốn định nhờ Mộng chưởng quầy mở đường cho mình, dạy
cách nhận biết thảo dược nhưng không ngờ chưởng quầy lại ném thẳng quyển sách tới.</p><p>Dương Khai cầm lấy quyển sách xem thì thấy nội
dung đều là giới thiệu về thảo dược, không chỉ có công hiệu trị liệu mà
còn có môi trường sinh trưởng của thảo dược. Trong mỗi trang sách còn có hình vẽ, giới thiệu tương đối tường tận. Có chút đáng tiếc là quyển
sách này chỉ giới thiệu những loại thảo dược bình thường chứ không hề
nhắc đến những chủng loại cao cấp hơn.</p><p>Người tu luyện có phân
cảnh giới cấp bậc, thảo dược, vũ khí, đơn dược trong thiên hạ cũng phân
cấp bậc như vậy. Từ thấp lên cao có Phàm cấp, Địa cấp, Thiên cấp, Huyền
cấp, Linh cấp, Thánh cấp, mỗi cấp lại chia làm thượng, trung, hạ tam
phẩm.</p><p>Ví như Tam Diệp Tàn Hồn hoa và Tuyệt Địa Khô Mộc thảo mà
Dương Khai cần cũng là loại thảo dược Phàm cấp hạ phẩm, công hiệu thấp,
vì thế giá trị cũng không cao.</p><p>Rời khỏi Cống Hiến đường, Dương
Khai liền đến chỗ tạp vụ xin phép nghỉ. Dù gì thì hắn cũng là đầy tớ
quét dọn trong Lăng Tiêu các, lần này đi Hắc Phong Sơn nhất định không
thể trở về trong ngày, tất nhiên là phải thông báo một tiếng.</p><p>Chủ quản ở chỗ tạp vụ cũng không làm khó hắn, sẵn sàng cho phép nghỉ ba ngày, lúc này Dương Khai mới bắt đầu khởi hành.</p><p>Chân núi Hắc Phong Sơn cách các Lăng Tiêu các chỉ có hai mươi dặm đường,
không xa cũng không gần, trước đây Dương Khai cũng thường qua lại săn
bắn, vì vậy cũng khá quen thuộc.</p><p>Nhưng dù sao lần này lên núi hái thuốc cũng như là lần đầu cô nương lên kiệu hoa. Dương Khai chuẩn bị
cũng khá chu đáo, mang theo chút nước, làm vài nắm cơm, còn cầm theo một chiếc xẻng, một chiếc túi vải rồi lên đường.</p><p>Sau một canh giờ
vội vội vàng vàng, cuối cùng Dương Khai cũng tới Hắc Phong Sơn, nhìn về
phía trước thì thấy núi rừng đen nhánh như một con quái vật thời tiền sử vắt ngang giữa trời và đất, xa xăm bất tận, rừng cây xanh biếc, đất đá
gồ ghề, phong cảnh độc nhất vô nhị, ngay cả làn gió nhẹ thổi đến cũng
khiến Dương Khai cảm giác vô cùng khoan khoái nhẹ nhàng.</p><p>Trên Hắc Phong Sơn thú dữ vô kể, ngay cả những người luyện võ tu luyện thành
công cũng không phải đối thủ của số lớn bọn chúng. Vì thế những người
không có công lực đều không dám vào sâu bên trong. Phạm vi ba mươi dặm
bên ngoài vẫn coi là khu vực an toàn, qua khỏi ba mươi dặm này thì nguy
hiểm trùng trùng, càng vào sâu bên trong càng hung hiểm.</p><p>Dương
Khai cũng chỉ là muốn tìm chút thảo dược giá trị thấp nên cũng không cần đi vào quá sâu, vì thế không phải lo ngại an toàn cho bản thân.</p><p>Trong lộ trình một canh giờ, Dương Khai cũng không hề nhàn rỗi, hắn luôn cố
gắng nhớ lại những thảo dược mà trước đây khi vào Hắc Phong Sơn đã từng
nhìn thấy, lúc đó không biết nên đương nhiên không hái về, lần này đến
đã có chuẩn bị thì nhất định không thể bỏ qua.</p><p>Lần suy nghĩ này
thật sự đã khiến Dương Khai nhớ đến không ít nơi, thậm chí ngay cả loại
thảo dược mà hắn cần cũng có một nơi sinh trưởng.</p><p>Dương Khai vô cùng hăng hái, lập tức đi theo đường quen tiến vào Hắc Phong Sơn.</p><p>Sau nửa canh giờ, một cây Lợi Xỉ thảo nấp trong bụi gai đã được thu vào
trong túi một cách dễ dàng. Khi đã có được khởi đầu tốt, những kí ức
tràn lan trong đầu Dương Khai càng trở nên rõ nét, sau đó vừa đi vừa hái giống như một cái máy. Đến lúc gần tối Dương Khai đã hái được bốn cây
thảo dược khác nhau.</p><p>Nơi đây dù sao cũng là bên ngoài Hắc Phong
Sơn, thường xuyên có người đi lại, nên thảo dược cũng khó sinh trưởng,
đa số vừa lớn lên liền bị người ta hái mất, vì thế cho dù chỉ hái được
bốn cây nhưng Dương Khai cũng cảm thấy mãn nguyện rồi.</p><p>Bốn cây
thảo dược này đều không phải thứ mình cần, phẩm hạng cũng không cao, chỉ là loại Phàm cấp hạ phẩm, nhưng dù sao lấy về cũng có thể đổi được ít
điểm cống hiến.</p><p>Mặt trời sắp xuống núi, Dương Khai chân bước vội
vàng, tóm lại là trước khi mặt trời xuống núi phải đến kịp nơi cuối cùng có thảo dược trong kí ức của mình.</p><p>Đây là một nơi rất kì quái,
cây cỏ xung quanh xanh tốt, nhưng trước mặt lại chỉ là một mảnh đất
trống không, đại khái trong phạm vi bán kính ba trượng gần như một tử
địa, không những không có cây cối mà ngay cả cỏ dại cũng không mọc được.</p><p>Nhưng ở chính giữa mảnh tử địa này lại mọc lên ba gốc cỏ xếp thành hình tam
giác đang phất phơ trong gió, cỏ màu vàng úa, thoáng nhìn cứ tưởng đã
chết héo, nhưng thực ra loại thảo dược này vốn dĩ có màu như vậy.</p><p>Nhìn thấy thảo dược vẫn còn ở đây Dương Khai mới thở phào nhẹ nhõm, khuôn
mặt tươi cười rạng rỡ, vội vã chạy tới, cầm lấy cái xẻng rồi hùng hổ
đào.</p><p>Không bao lâu, ba cây thảo dược đã được thu gọn vào trong tay.</p><p>Cảm thấy không yên tâm lắm nên Dương Khai mới lấy quyển sách Mộng chưởng
quầy đưa cho để đối chiếu, sau đó hắn mới định tâm lại, không phải nghi
ngờ gì nữa, đây chính xác là Tuyệt Địa Khô Mộc thảo. Cây trên tay không
khác gì hình vẽ trong cuốn sách, hơn nữa môi trường sinh trưởng cũng
giống như trong sách đã miêu tả.</p><p>Ở nơi Tuyệt Địa Khô Mộc thảo
sinh trưởng, cây cỏ khô héo, vì thế việc tìm kiếm cũng khá dễ dàng. Đại
thể những nơi nào trên núi giống như mảnh tử địa trước mặt thì đó tuyệt
đối là do có Tuyệt Địa Khô Mộc thảo sinh trưởng.</p><p>Dương Khai cẩn thận bỏ ba cây Tuyệt Địa Khô Mộc thảo vào trong túi rồi mới lấy cơm nước ra, ngồi ăn tại chỗ.</p><p>Lần này vào núi chủ yếu là để tìm Tam Diệp Tàn Hồn hoa và Tuyệt Địa Khô Mộc thảo nhưng đến giờ chỉ tìm được một loại, mà số lượng cũng không nhiều, vì thế phải tiếp tục kiên trì mới được.</p><p>Nhưng bây giờ trời đã
gần tối, đương nhiên là không dễ tìm, vì thế Dương Khai quyết định nghỉ
tại đây một đêm, đợi mai trời sáng lại tìm tiếp.</p><p>Trước đây khi
lên núi săn thú cũng là đi về trong ngày chứ Dương Khai chưa từng qua
đêm trong núi bao giờ. Nhưng tục ngữ có câu: Chưa ăn thịt heo chẳng lẽ
chưa từng thấy heo chạy sao? Qua đêm trong núi phải chú ý những gì,
Dương Khai đương nhiên là cũng biết rõ.</p><p>Dương Khai liền tìm một cây đại thụ gần đó trèo lên, sau đó kiếm một chỗ thoải mái thích hợp để ngồi xuống chợp mắt.</p><p>Nhất thời cũng không ngủ được nên Dương Khai liền lấy Vô Tự Hắc Thư ra, tiện tay mở đến trang thứ ba, vừa suy nghĩ một chút thì một lư hương từ bên
trong hiện ra.</p><p>Đây cũng là một huyền bí mà Dương Khai vô tình
phát hiện ra, những thứ xuất hiện từ cuốn Hắc Thư cũng có thể bị thu hồi lại. Cuốn Hắc Thư dù sao cũng do Trấn Hồn thạch tạo ra. Trấn Hồn thạch
vốn có chức năng khai mở không gian, cất giữ đồ vật, vì thế lư hương có
thể được đặt trong đó là điều dễ hiểu.</p><p>Điều duy nhất khiến Dương
Khai khó hiểu là ngoài lư hương này ra thì những đồ vật khác lại không
được Hắc Thư tiếp nhận, điều này khiến hắn không sao hiểu được. Lẽ nào
cuốn Vô Tự Hắc Thư do Trấn Hồn thạch tạo ra này lại còn có thể lựa chọn
cất chứa đồ vật nào sao?</p><p>Ngắm nghía cuốn Hắc Thư một hồi, Dương
Khai cũng cảm thấy mệt mỏi. Dù sao hôm nay cũng đã đi không ít đường
núi, nên hắn liền ngủ một giấc thật say.</p><p>Cả đêm hôm đó không có
chuyện gì xảy ra, sáng sớm hôm sau, Dương Khai như thói quen cũ luyện
nửa giờ Thối Thể thiên, kết quả cũng không tồi. Chẳng những hắn đã đánh
nhiều hơn hai ngày trước đó vài quyền, hơn nữa khí cảm trong người ngày
càng rõ ràng hơn. Dương Khai có cảm giác như gần phá vỡ được bức chướng, khí cảm trong kinh mạch dường như sắp đến cực hạn, như chỉ còn một bước chân nữa là có thể lên thêm một tầng. </p> </div>