Vũ Luyện Điên Phong - Chương 5: Ngạo cốt kim thân<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Ý nghĩa của ba mươi hai chữ này rất dễ lí giải, Dương Khai đương nhiên hiểu.</p><p>Nhưng nguồn gốc của Hắc Thư không rõ ràng, cũng làm cho Dương Khai có chút
kiêng dè, ngộ nhỡ đây là cạm bẫy gì đó thì sao? Nghĩ đến đây, Dương Khai lại cười mỉa một hồi. Hiện tại mình chẳng qua chỉ là một đệ tử thí
luyện của Lăng Tiêu các, ai lại lãng phí tâm tư đối phó với mình chứ?</p><p>Nhưng dựa vào ý nghĩa mặt chữ ẩn đằng sau mấy hàng chữ thì thấy sở dĩ chiếc
gối Hắc Thạch có thể biến thành Hắc Thư, e rằng có liên quan đến giấc mơ đó của mình hôm nay.</p><p>Mình đã gối lên nó hơn một năm cũng không
hề có thay đổi gì, hôm nay lại biến thành Hắc Thư, hẳn là có liên quan
đến việc chuyển biến với tâm cảnh trong giấc mơ của mình.</p><p>Chính vì sự chuyển biến của mình mới dẫn đến sự thay đổi của chiếc gối Hắc Thạch.</p><p>Nếu mình đã thúc đẩy sự xuất hiện của Hắc Thư, vậy Hắc Thư này chính là ứng với mình mà xuất hiện! Mình chính là chủ nhân của cuốn Hắc Thư này!</p><p>Vừa nghĩ đến đây, Dương Khai không chần chừ nữa. Chữ trên Hắc Thư viết rõ
ràng là muốn mình lấy máu làm dẫn. Trong lòng muốn thử xem sao nên Dương Khai đưa tay vào miệng, hung hăng cắn, sau đó đưa ngón tay đến trang
đầu tiên của Hắc Thư.</p><p>Máu tươi nhỏ giọt rơi xuống. Lúc đầu vẫn
không có động tĩnh gì. Thời gian trôi đi, trên trang Hắc Thư, từng tầng
từng tầng hào quang màu đen bắt đầu tỏa ra. Cơ thể của Dương Khai vốn
không tốt, hôm nay lại bị thương, sau một phen giày vò hì hơi có cảm
giác hoa mắt chóng mặt.</p><p>Nhưng Dương Khai cắn răng chịu đựng, máu tươi vẫn đang chảy, hào quang trên trang sách cũng càng ngày càng thịnh.</p><p>Thời gian kéo dài chừng một chén trà, Dương Khai suýt chút nữa thì xỉu ra
đất, trang sách mới có sự thay đổi rõ ràng. Hào quang màu đen dâng lên
lay động một hồi rồi lại thu lại, nhưng ở vị trí chính giữa trang sách
lại xuất hiện một vòng xoáy nhỏ.</p><p>Ngay sau đó, trong vòng xoáy
hiện ra một chút kim quang. Dương Khai cố gắng giữ cho đầu óc tỉnh táo,
nhìn chăm chăm vào động tĩnh trước mắt.</p><p>Trong vòng xoáy màu đen, một vật tròn sáng bóng, kim quang lập lòe từ từ nhô lên.</p><p>Dương Khai kinh hãi, trong trang sách này quả thật là có thứ gì đó. Tuy lúc
quyết định lấy máu, Dương Khai cũng có chút kì vọng, nhưng không ngờ là
có thể thành công thật.</p><p>Nhưng lúc này, tất cả trước mắt đều nói rõ ba mươi hai chữ trên trang sách không phải là giả.</p><p>Tích huyết vi dẫn, Kim Thân hàng lâm!</p><p>Rốt cuộc Kim Thân là cái gì? Gương mặt tái nhợt của Dương Khai tràn đầy kì vọng.</p><p>Lát sau, khi vật tròn sáng bóng kia hoàn toàn hiện ra trước mắt Dương Khai, Dương Khai không khỏi nuốt nước bọt. Dù hắn có tưởng tượng phong phú
thế nào đi chăng nữa, cũng không ngờ Kim Thân lại có hình dạng như vậy.</p><p>Đây là một bộ xương khô màu vàng kim cao chỉ chừng nửa thước, mà vật tròn
sáng bóng xuất hiện lúc trước là cái đầu của bộ xương này. Bộ xương khô
màu vàng cứ như vậy lơ lửng ở trên trang Hắc Thư, khoanh chân mà ngồi,
rõ ràng là tư thế ngồi thiền. Mỗi khúc xương của nó đều tỏa ra ánh sáng
màu vàng, chiếu vào căn phòng nhỏ của Dương Khai khiến nó trở nên bừng
sáng rực rỡ.</p><p>Vòng xoáy màu đen trên trang Hắc Thư dần dần biết mất, hết thảy quay về bình thường.</p><p>Dương Khai thấy sự xuất hiện ly kỳ của bộ xương khô màu vàng, nhất thời cũng
không biết phải làm thế nào mới đúng. Trên trang sách chỉ nói làm thế
nào để Kim Thân xuất hiện, chứ không nói sau khi xuất hiện nên xử lý như thế nào.</p><p>Nhìn rồi lại nhìn, Dương Khai lập tức cảm thấy có gì đó không đúng. Rõ ràng là bộ xương khô màu vàng trước mặt không có mắt
nhưng Dương Khai lại cảm thấy nó dường như đang đánh giá mình, rõ ràng
nó cũng không có mồm, nhưng lại như đang cười nhạo mình yếu đuối.</p><p>Nhận ra điều này, Dương Khai giận dữ hướng về bộ xương khô màu vàng mà nắm lấy.</p><p>Một bộ xương khô hèn mọn, lại dám lớn lối như vậy!</p><p>Nào ngờ hắn vừa mới động thủ, bộ xương khô màu vàng liền nghênh diện bay
tới, trực tiếp xuyên qua tay của Dương Khai, khắc một chỗ trên ngực hắn.</p><p>Đây là một cảnh tượng cực kì kinh hãi, một bộ xương khô đâm vào người Dương Khai. Ngay sau đó kim quang mạnh lên, bộ xương khô màu vàng trực tiếp
hóa thành từng điểm sáng, xâm nhập vào các lỗ chân lông trên toàn bộ tứ
chi bách hài của Dương Khai.</p><p>Trong chốc lát, toàn thân đau đớn.
Cảm giác đau đớn này không phải là đau đớn bình thường, mà là cơn đau
đến từ sâu trong xương tủy! Dương Khai kêu lên thảm thiết rồi ngã thẳng
xuống đất, cả thân co quắp như con tôm, co rút từng đợt.</p><p>Trong
khoảnh khắc này, xương cốt toàn thân đều như vỡ vụn. Dương Khai ngay đến sức lực cử động một ngón tay cũng không có. Đây không phải là ảo giác,
nếu Dương Khai có thể nhìn thấy bên trong, thì có thể nhìn thấy xương
cốt của mình đã hoàn toàn bị vỡ vụn. Nhưng bên cạnh mỗi phần xương vỡ
vụn ấy, đều có một tầng ánh sáng màu vàng bao bọc, không ngừng tu bổ cho mỗi phần xương đã vụn. Nhưng tốc độ tu bổ kém xa tốc độ phá hủy, vừa
hoàn thành tu bổ, lại liền bị dập phá.</p><p>Xương cốt của con người
bao lấy tủy bên trong, trong xương tủy có dây thần kinh, bất kể sự đụng
chạm nào dù rất nhỏ đều có thể mang đến tổn thương nghiêm trọng. Có thể
tưởng tượng được, giờ phút này, Dương Khai cảm thấy đau đớn biết bao.</p><p>Không phải trên người hắn không một khúc xương nào đứt gãy, mà toàn thân từ
trên xuống dưới không một khúc xương nào là nguyên vẹn cả.</p><p>Nếu là người khác, cho dù thực lực có cao hơn Dương Khai gấp trăm lần, giờ
phút này e rằng cũng đã hôn mê, nhưng Dương Khai không vậy. Ngược lại,
đau đớn mãnh liệt lại làm đầu óc hắn tỉnh táo hơn. Cái giá phải trả đó
là phải chịu sự đau đớn lớn hơn gấp trăm lần.</p><p>Tiếng kêu cực kì bi thảm từ trong phòng nhỏ truyền ra, các đệ tử Lăng Tiêu các đang đi lại
cách đó không xa hoảng sợ hết hồn, vội vàng chạy tán loạn.</p><p>Bên
trong tối om, Dương Khai dường như cảm ứng được một điều, một điều do
Kim Thân mang đến: tiêu diệt ý thức của Dương Khai, chiếm lấy thân xác
này!</p><p>Dương Khai nào chịu đồng ý? Dù cho không cách nào nhúc
nhích, cũng cố gắng duy trì ý thức tỉnh táo, tuyệt không để Kim Thân
chiếm lĩnh thân thể. Kim Thân cũng không hề sợ hãi, lần lượt phá nát
xương cốt của Dương Khai, tra tấn thần kinh của hắn, làm cho hắn ngất
đi.</p><p>Một là Ngạo Cốt Kim Thân, một là linh hồn không chịu khuất
phục, ai thắng ai thua, chưa đến giây phút cuối cùng thì căn bản không
cách nào nhìn ra.</p><p>Dương Khai biết, thời khắc này liên quan đến sự sống chết thật sự, không giống với những lần tỷ thí khiêu chiến với các sư huynh đệ trong tông môn. Nếu không vượt qua được thì trên đời này
cũng không còn sự tồn tại của Dương Khai nữa. Cho nên nhất định phải
vượt qua, cho dù đau đớn như thế nào cũng phải cố gắng chịu đựng.</p><p>Ý thức của Dương Khai và sức phá hoại của Kim Thân, giữa hai bên diễn ra
một trận chiến đấu gian khổ, mà chiến trường chính là thân thể Dương
Khai. Kẻ tới người qua, đôi bên hoàn toàn không lui bước, tuyệt không
nhượng bộ.</p><p>Thời gian trôi qua, Dương Khai bất ngờ phát hiện cơn
đau không thể nào chịu được đó lại từ từ giảm bớt, thần kinh không khỏi
chấn động, hăng hái hẳn lên.</p><p>Điều này cũng khó trách, sau khi Kim Thân phá hủy xương cốt của Dương Khai lại từ từ tu bổ. Trong quá trình
phá đi rồi tu bổ lại đã khiến cho thân thể của Dương Khai có đầy đủ nhân tố của Kim Thân. Xương cốt của Dương Khai càng ngày càng mạnh mẽ, mà
năng lượng của Kim Thân lại càng ngày càng yếu. So sánh đôi bên, đau đớn tự nhiên giảm đi rất nhiều. Một khi Kim Thân hoàn toàn dung nhập vào
nội thể Dương Khai, trận chiến kia sẽ kết thúc.</p><p>Cán cân chiến
thắng dần dần cũng nghiêng về phía Dương Khai, cơn đau không cách nào
chịu đựng được từ từ chuyển thành có thể chịu được, lại chuyển thành cơn ngứa ngáy khó chịu, rồi lại chuyển thành sung sướng vô cùng. Loại cảm
giác đó như là đột nhiên được khai thông, khiến cho hàng tỉ lỗ chân lông khắp người đều như không kìm được mà nở ra thư giãn.</p><p>Nhận thấy
được trong cơ thể, Kim Thân còn có một tia chống đối, Dương Khai tức
giận mắng một tiếng. Tinh thần hăng hái trong ý thức đã dồn ép nó xuống.</p><p>Cơ thể cuối cùng bình thường lại.</p><p>Bên tai dường như vang lên tiếng thở dài. Trong tiếng cảm thán này chứa đựng một sự thanh thản, còn có một chút như trọng trách. </p> </div>