Vũ Luyện Điên Phong - Chương 4: Hắc thư<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Sau khi tắm rửa sạch sẽ, Dương Khai mới cầm lọ Ngưng Huyết Khư Ứ cao
lên, đưa sát mũi hít nhẹ, phát hiện loại thuốc này quả nhiên có mùi
thơm. Mùi hương này khiến tinh thần sảng khoái, hắn ngồi gật gù đắc ý.</p><p>Mở nắp lọ, lấy ra một ít, định bôi lên những chỗ bị thương thì động tác
của Dương Khai đột nhiên dừng lại. Hắn vội vàng bưng chén nước tới,
nhúng ngón tay dính thuốc vào, cẩn thận quấy đều rồi mới dùng thứ nước
thuốc đã pha loãng này xử lý vết thương.</p><p>Mặc dù hiệu quả trị liệu ngoại thương của Ngưng Huyết Khư Ứ cao rất tốt nhưng sợ khi pha loãng
như vậy, công dụng sẽ giảm đi nhiều. Nhưng trong tay Dương Khai chỉ có
một lọ, đương nhiên phải dùng tiết kiệm một chút.</p><p>Dùng hết một
chén thuốc, cuối cùng Dương Khai cũng hoàn tất việc xử lý vết thương.
Tuy nhiên, có một điều hắn nghi ngờ là mùi thơm của Ngưng Huyết Khư Ứ
cao không giống với mùi thơm lúc trước hắn ngửi được, chẳng những không
thơm mà ngược lại còn rất nồng.</p><p>Mặc quần áo chỉnh tề, Dương Khai lấy củ khoai nướng đen sì từ trên bếp xuống ăn, rồi ngả xuống giường ngủ ngon lành.</p><p>Mặt trời chiếu qua từng lỗ thủng trên nóc nhà làm cho căn phòng sáng hơn.
Đồ đạc trong phòng đơn giản đến mức tối thiểu, chỉ vẻn vẹn có một cái
giường, ngay cả bàn cũng không có. Thậm chí trên giường cũng chỉ có một
tấm da hươu nhỏ bằng cái bàn làm chăn và một khối Hắc Thạch vuông vắn để gối đầu. Đó là toàn bộ tài sản của Dương Khai.</p><p>Tấm da hươu là
thành quả của một chuyến đi săn, do chính tay hắn lột da làm thành. Mặc
dù không dày nhưng cũng đủ cho mùa đông lạnh giá. Còn chiếc gối Hắc
Thạch là Dương Khai nhặt được trong một lần rời Lăng Tiêu các đi săn thú ở Hắc Phong Sơn, phía sau Lăng Tiêu các.</p><p>Khối Hắc Thạch này
vuông vắn, dài một thước, dày ba chỉ, thoạt nhìn giống một khối đá nhưng sờ vào lại không hẳn như vậy, cũng không nặng giống đá. Dương Khai cũng không biết nó thực sự là gì nữa, dù sao làm gối tốt không gì bằng, vì
thế nên không nghĩ ngợi gì nhiều.</p><p>Dương Khai đã dùng chiếc gối
Hắc Thạch này hơn một năm qua, cũng không biết có phải là ảo giác không
nhưng gối lên nó dễ ngủ hơn nhiều.</p><p>Trong khi ngủ mơ, Dương Khai
mơ thấy trận chiến hôm nay, lần lượt bị Chu sư đệ, Chu Định Quân đánh
bay ra ngoài, rồi lại lần lượt đứng dậy, nhưng trong lòng lại nhen nhóm ý chí bất khuất kiên cường, khí thế hừng hực trong lồng ngực.</p><p>Giấc mơ lại tiếp tục, nhiệt huyết trong lồng ngực cũng càng lúc càng mãnh
liệt. Trong mơ, sắc mặt của Dương Khai đau khổ nhưng thần sắc kiên nghị
vô cùng, trong lòng có một cỗ chấp nhất, dù là chân bước sơn đao, thân
chìm hỏa hải cũng vui mừng mà không hề sợ hãi.</p><p>Trong giấc mơ,
Dương Khai cũng không hề để ý đến chiếc gối Hắc Thạch dưới đầu mình bỗng nhiên phát ra thứ ánh sáng rực rỡ sâu thẳm, Dương Khai càng vui thì ánh sáng đó càng rực rỡ.</p><p>Trong mơ, cuộc gặp gỡ của Dương Khai diễn
ra lúc sáng sớm, bị Chu Định Quân đánh nằm sõng soài trên mặt đất. Cho
đến lúc đứng dậy lần thứ trăm ngàn thì ý chí bất khuất và kiên trì nhen
nhóm trong lòng lập tức bùng nổ mãnh liệt từ trước đến nay chưa từng có, hung hăng quật ngã Chu Định Quân. Chu Định Quân nằm sõng soài dưới đất. Trong nháy mắt, bộ dạng y trở nên mơ hồ, cuối cùng cũng biến thành bộ
dạng của chính mình.</p><p>Giờ khắc này, Dương Khai vui vẻ bình tĩnh
trở lại, không phải vì đánh bại đối thủ trong mơ mà vì chiến thắng chính mình, chiến thắng chính sự hèn nhát và khuất phục trong chính con người mình.</p><p>Cảm giác thản nhiên lan tỏa, dường như trong thiên hạ không còn sự gì, không còn kẻ nào có thể làm cho mình khuất phục được nữa.</p><p>Trong thực tế, chiếc gối Hắc Thạch dưới đầu Dương Khai phát ra ánh hắc quang, ánh hắc quang này tập trung thành vòng tròn quanh Hắc Thạch, lung linh
giữa không trung rồi theo huyệt Bách Hội chui vào trán Dương Khai, trong nháy mắt không thấy gì nữa.</p><p>Cùng lúc đó, một cỗ khí tức hoang dã xưa cũ tỏa ra, giống như sóng biển thủy triều, giận dữ như tuyết lở.
Bất cứ người nào khi đứng trước cỗ khí tức này đều trở nên nhỏ bé yếu
ớt.</p><p>Dương Khai mở trừng mắt, mồ hôi vã ra khắp người, trong lòng còn đầy sợ hãi.</p><p>Hắn bị cỗ khí tức kia làm thức giấc.</p><p>Định thần lại, Dương Khai cười khan một tiếng. Tự mơ rồi lại tự hù dọa mình, thật sự có chút vô lý. Xoa xoa mặt, nhìn thứ ánh sáng xuyên qua trên
nóc nhà để đoán định thời gian, hắn liền cảm thấy chút phiền não. Mình
đã ngủ hơn hai canh giờ, trời sắp tối rồi.</p><p>Vội vàng đứng dậy, hất tấm da hươu ra, xếp lại cẩn thận, chỉnh lại chiếc gối Hắc Thạch cho
ngay ngắn. Đang định xuống giường, Dương Khai bỗng nhíu mày, quay đầu
kinh ngạc nhìn chiếc gối Hắc Thạch.</p><p>Cảm thấy hình như… cảm giác khác lạ.</p><p>Sau khi nghi ngờ, Dương Khai đưa tay cầm chiếc gối Hắc Thạch lên. Thật sự
nó không giống như lúc trước nữa. Thứ này đã nhẹ đi rất nhiều.</p><p>Kỳ lạ, một khối đá sao đột nhiên lại trở nên nhẹ như vậy? Dương Khai tiện tay tung tung, và lập tức có chuyện xảy ra.</p><p>Giống như một cuốn sách rất nặng bị ném lên không trung, trang sách xột xoạt
mở ra. Dương Khai nghẹn họng nhìn trân trân nhưng lại quên đưa tay ra
đón.</p><p>Bộp một tiếng, chiếc gối Hắc Thạch rơi trên mặt đất, Dương
Khai vẫn không thể tin được nhìn xuống. Rõ ràng phát hiện ra chiếc gối
Hắc Thạch bây giờ giống hệt một cuốn sách đang mở ra trên mặt đất.</p><p>Đây không phải là khối đá sao? Sao đột nhiên lại biến thành cuốn sách?</p><p>Dương Khai đã gối đầu lên chiếc gối Hắc Thạch hơn một năm nay, hình dạng của
nó thế nào thì Dương Khai đã quá rõ. Trước kia chưa từng phát hiện nó là một cuốn sách, tại sao hôm nay lại thay đổi chóng mặt đến vậy?</p><p>Rất lâu sau, Dương Khai mới khom lưng nhặt cuốn Hắc Thư lên, trong nháy mắt lúc chạm vào, Dương Khai cảm giác trong người có một dòng huyết mạch
chảy qua.</p><p>Cẩn trọng lật từng trang ra xem, Dương Khai không thể
không thừa nhận chiếc gối Hắc Thạch thật sự là một quyển sách, bìa sách
bằng da, bìa và trang sách đều rất dày. Nhưng điều khiến người ta không
nói nên lời là trên cuốn Hắc Thư này không có lấy một chữ, hoàn toàn
trống không. Hơn nữa Dương Khai cũng không biết những trang sách này làm từ chất liệu gì, khẽ lấy tay xé nhưng không rách.</p><p>Nó thật sự có ý nghĩ gì, mình đã gối lên nó hơn một năm, không ngờ đến hôm nay mới biết được diện mạo thật của nó.</p><p>Nhưng một cuốn Hắc Thư không chữ như vậy thì có ích gì? Dương Khai lật tới lật lui nhưng không thu hoạch được gì.</p><p>Ma xui quỷ khiến thế nào, Dương Khai mở trang đầu tiên, dồn sức mở to hai mắt nhìn chằm chằm vào trang sách không chữ.</p><p>Một lát sau, Dương Khai phát hiện rõ ràng trang sách trước mắt có chút thay đổi. Ngừng một lát, cỗ khí tức hoang dã trong giấc mơ vừa rồi lại một
lần nữa xuất hiện, một hàng chữ to thiếp vàng chậm chậm hiện lên trước
mắt Dương Khai.</p><p>- Dĩ huyết vi dẫn, Kim Thân hàng lâm, thần công bất thành, kim thân bất diệt!</p><p>Cỗ khí tức này hướng thẳng vào trong tim, Dương Khai đóng mạnh cuốn Hắc
Thư, tay chân không ngừng run rẩy. Hít mấy hơi thật sâu, lúc này Dương
Khai mới bình tĩnh lại được.</p><p>Rốt cuộc cuốn Hắc Thư này chứa đựng
bí mật gì, Dương Khai cũng không biết. Dương Khai chỉ biết là thứ mình
nhặt được ở Hắc Phong Sơn này, chắc là có lai lịch quan trọng gì đó.</p><p>Suy nghĩ một lúc lâu Dương Khai mới mở cuốn Hắc Thư ra lần nữa. Lúc này chỉ cần liếc mắt một cái đã thấy hàng chữ thiếp vàng đó trên trang thứ
nhất.</p><p>Thì ra… không phải là mơ!</p><p>Rồi những dòng chữ khác cũng lần lượt hiện ra.</p><p>- Ngạo Cốt Kim Thân, bá giả hoành lan, bất khuất chi hồn, phương năng hàng chi!</p><p>Tám hàng ba mươi hai chữ trong một trang sách, làm cho người ta có cảm giác như trên trời dưới đất, duy ngã độc tôn, giống như những dòng chữ kia
cũng tràn đầy khí phách!!! </p> </div>