Vũ Luyện Điên Phong - Chương 1: Tiểu tư quét rác<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Trời mới tờ mờ sáng, Dương Khai đã tỉnh dậy, rửa mặt qua loa rồi cầm cái chổi trong góc bước ra khỏi căn phòng nhỏ đơn độc.</p><p>Đứng ở cửa vươn vai một cái, nhìn thấy phía đường chân trời đã hiện lên chút ánh sáng. Hắn nhắm mắt tập trung để hưởng thụ khoảnh khắc thanh tịnh
này rồi lại ngay lập tức mở mắt ra bắt đầu cầm chổi quét dọn, chăm chú
dọn sạch đám bụi bặm và lá rụng trước mặt.</p><p>Y phục màu xanh, giản
dị mà sạch sẽ. Màu sắc già dặn của bộ trang phục vô tình làm cho cậu
thiếu niên già đi mấy tuổi. Lưng Dương Khai thẳng tắp như cây lao. Mặc
dù đang làm công việc thấp hèn nhưng thần sắc trên mặt cũng tỏ rõ sự cẩn thận, tỉ mỉ. Động tác rất trầm ổn, hai tay cầm chổi cũng không dùng
nhiều lực, cũng không đong đưa người nhiều, chỉ bằng sự chuyển động của
cổ tay, cái chổi kia trở nên dễ dàng sai khiến, đưa đi đưa lại, di
chuyển theo từng bước chân hắn. Trên mặt đất, từng đám bụi đất và lá
rụng chuyển động một cách thần kỳ, dường như bỗng nhiên mọc thêm đôi
chân.</p><p>Dương Khai là đệ tử của Lăng Tiêu các, ba năm trước đã gia
nhập tông môn bắt đầu tu luyện nhưng cho đến nay vẫn chỉ mới tu luyện
đến Thối Thể cảnh tầng ba. Các sư huynh đệ cùng hắn nhập môn đã sớm vượt xa giai đoạn này, có những người còn có được cơ duyên bái nhập các vị
cao nhân tọa hạ trong môn phái và thăng tiến rất nhanh. Còn hắn chỉ có
thể lực bất tòng tâm.</p><p>Ba năm Thối Thể tầng ba, loại tư chất này
không thể dùng hai chữ bình thường để hình dung ra được mà phải nói là
vô cùng bình thường.</p><p>Không còn cách nào khác, Dương Khai chỉ có thể tiếp tục ở lại tông môn quét rác, vừa duy trì kế sinh nhai, vừa khổ sở tu luyện.</p><p>Lăng Tiêu các là một môn phái khá đặc biệt. Đặc biệt ở chỗ các đệ tử môn hạ
phải cạnh tranh tàn khốc. Trong môn phái này, người có năng lực sẽ được
thăng tiến, người không có năng lực sẽ bị đào thải. Quy luật cá lớn nuốt cá bé ở Lăng Tiêu các này diễn ra vô cùng thuần thục.</p><p>Các tông
môn khác có lẽ còn có chút tình bạn đồng môn hay tình nghĩa thủ túc,
nhưng ở Lăng Tiêu các này tuyệt đối không có! Nếu muốn thăng tiến chỉ có một con đường duy nhất là đạp lên vai những người gọi là sư huynh đệ,
giẫm lên máu tươi của họ, như vậy mới được coi là có tư cách.</p><p>Lăng Tiêu các ra quy định rất nghiêm ngặt, là môn phái danh tiếng lẫy lừng
trong Đại Hán triều này. Dù không phải đại môn phái cao siêu gì nhưng sự tranh đấu tàn khốc giữa các môn hạ đệ tử thì đúng là số một, không môn
phái nào sánh bằng! Cũng chính vì vậy mà các đệ tử ai nấy đều võ phong
dũng mãnh, trên giang hồ không có mấy ai dám trêu chọc.</p><p>Lăng Tiêu các có một quy tắc, các đệ tử dưới mười bốn tuổi bất kể là ai, trong ba năm kể từ khi nhập môn được xem như thời gian thí luyện. Trong vòng ba
năm này, việc ăn ở đều do tông môn phụ trách, đệ tử chỉ cần tập trung tu luyện. Trong thời gian ba năm, nếu có thể phá được Thối Thể kỳ thì sẽ
có tư cách bái nhập các cao thủ trong tông môn làm đồ đệ, được các vị
cao thủ này chỉ dạy tu luyện. Đương nhiên cũng có thể không bái sư mà tự mình tu luyện, nhưng con đường tu luyện có lương sư dạy bảo và tự mình
tu luyện cũng hoàn toàn khác nhau. Tới một mức độ nào đó mà nói, quy tắc này của Lăng Tiêu các cũng có một chút tự do.</p><p>Còn những kẻ trong vòng ba năm vẫn chưa phá được Thối Thể kỳ thì hoặc là bị trục xuất khỏi tông môn, hoặc là bị giáng chức xuống thành đệ tử thí luyện.</p><p>Đệ tử thí luyện, đó chính là thân phận hiện tại của Dương Khai! Cũng là nỗi sỉ nhục của Lăng Tiêu các!</p><p>Không giống như các đệ tử khác, đệ tử thí luyện sinh tồn trong một môi trường vô cùng hà khắc. Vì đã lâm vào hoàn cảnh này nên tất cả mọi việc ăn mặc ngủ nghỉ đều phải tự làm, tông môn sẽ không tốn thêm bất cứ thứ của cải tu luyện nào cho đệ tử thí luyện nữa. Một khi đã bị giáng xuống làm đệ
tử thí luyện thì cuộc đời này vĩnh viễn không thể có ngày nổi danh được
nữa rồi. Trừ phi trong khoảng thời gian ngắn có sự tiến bộ cực lớn, các
tông môn khác cảm thấy ngươi có đủ điều kiện để gia nhập.</p><p>Toàn bộ Lăng Tiêu các có ba nghìn đệ tử mà có mấy đệ tử thí luyện? Số lượng chỉ đếm trên đầu ngón tay! Dương Khai may mắn trở thành một trong số đó!</p><p>Đệ tử thí luyện muốn tiếp tục sinh tồn trong Lăng Tiêu các quả thực khó
như lên trời. Cứ ví dụ như căn nhỏ mà Dương Khai đang sống bây giờ chính là căn phòng do tự tay hắn dùng từng tấm gỗ dựng nên, mấy cái lỗ trên
nóc nhà vẫn chưa có thời gian sửa chữa, mỗi khi trời mưa căn phòng nhỏ
liền bị dột, nước không thoát ra được. Y phục cũng là do tự hắn mua, đồ
ăn cũng tự hắn làm, tất cả đều tự hắn lo lấy.</p><p>Căn phòng nhỏ cũng nằm ở vị trí hẻo lánh nhất trong Lăng Tiêu các, không hề có người hỏi thăm đến.</p><p>Sự đãi ngộ tồi tệ như vậy, người bình thường rất khó có thể tiếp tục chịu
đựng. Đây cũng là lý do khiến cho số lượng đệ tử thí luyện của Lăng Tiêu các vô cùng ít. Về cơ bản các đệ tử không phá nổi cảnh giới trong Thối
Thể kỳ đều chọn con đường rời khỏi Lăng Tiêu các, nhưng Dương Khai lại
lưu lại nơi đây.</p><p>Đã bị người ta đuổi ra khỏi nhà một lần, lần này sao có thể lại như thế nữa được chứ?</p><p>Mấy tháng trước, sau khi bị giáng xuống làm đệ tử thí luyện, Dương Khai liền ở trong tông môn quét rác kiếm sống.</p><p>Có thể nói bây giờ Dương Khai là đệ tử thí luyện của Lăng Tiêu các, cũng
là tiểu tư quét rác trong Lăng Tiêu các. Nhưng công việc quét rác cũng
không làm Dương Khai ấm no được. Hắn khi đói khi no, lúc bị phong hàn
cũng không có ai thăm hỏi, sống cuộc sống đau thương sầu khổ đến cô độc. Ngay cả như thế, Dương Khai cũng chưa từng muốn lùi bước. Con người
sinh ra trên đời, tính ra có mấy chục năm, bản thân đã lựa chọn con
đường này thì sẽ tiếp tục đi đến cùng, bỏ dở giữa chừng là chuyện mà nam nhân không thể làm được.</p><p>Dương Khai có bản tính bền bỉ, không gặp ngõ cụt thì quyết không quay đầu lại!</p><p>Trời dần sáng, Dương Khai đã quét dọn được một hồi, nơi đây đã sạch sẽ, không còn bụi bẩn nữa.</p><p>Quét rác tuy rằng không tiêu hao khí lực gì nhưng sáng sớm chưa ăn gì mà đã
phải làm việc lâu như vậy, Dương Khai mệt đến toàn thân mồ hôi đầm đìa.
Điều này không phải vì thực lực có vấn đề mà hoàn toàn là vì thể chất
quá kém.</p><p>Ba bữa cơm thì có hai bữa đói, cho dù ai ở vào trong hoàn cảnh của Dương Khai thì thể chất cũng không thể tốt được.</p><p>Dần dần có mấy đệ tử Lăng Tiêu các vây quanh hắn, những đệ tử này đều dậy
rất sớm, không đi tu luyện mà lại vây quanh Dương Khai. Rất nhiều người
còn hăng hái đánh giá Dương Khai, cũng có những người ánh mắt tham lam
xem Dương Khai bây giờ như một mỹ nữ đang trần như nhộng, toàn thân tỏa
ra hương thơm như chiếc bánh thơm ngon.</p><p>Nhưng trong số những đệ
tử vây quanh Dương Khai, cũng có một bầu không khí cạnh tranh căng thẳng đang bao trùm, cảnh giác quan sát các sư huynh đệ bên cạnh, sắc mặt
người nào người nấy đều không tốt.</p><p>Trong đám đông có một người lộ rõ vẻ không đành lòng, hạ giọng nói:</p><p>- Nhiều người như vậy, đúng là có phần quá đáng rồi!</p><p>Lập tức liền có người trả lời:</p><p>- Nếu ngươi cảm thấy nhiều người thì có thể rời đi, không ai cần ngươi lưu lại.</p><p>Một câu khiến cho tên kia ngượng ngùng không nói. Tất cả mọi người đều biết vì sao lại tụ tập ở đây, đều biết vì sao lại nhìn chằm chằm vào Dương
Khai. Hiện tại chính là đang chờ đợi thời khắc đó đến. Thời khắc đó đã
sắp đến rồi, bây giờ mà bỏ đi chẳng phải là rất đáng tiếc sao? Nếu như
có thể đoạt vị trí đứng đầu thì hôm nay đúng là bội thu.</p><p>Mọi động tĩnh xung quanh, Dương Khai tất nhiên đều biết, chỉ là thần sắc hắn vẫn luôn không thay đổi. Cứ năm ngày hắn lại trải qua một trận chiến như
vậy, một tháng sáu lần. Thực sự bây giờ cũng không có gì đáng kinh ngạc, hơn nữa thấy những người trước mắt cũng có ít đi, chắc là họ chưa đến
đủ.</p><p>Cho nên hắn vẫn cứ quét rác, mặc kệ không hỏi han đến những người xung quanh, vừa đi vừa quét.</p><p>Thời gian cứ trôi qua, số lượng người tụ tập bên cạnh Dương Khai càng ngày
càng nhiều, phỏng chừng ít nhất cũng có trên ba bốn mươi người.</p><p>Dương Khai đột nhiên dừng lại, cứ ngồi giữa đường như vậy, chậm rãi hít một
hơi, khôi phục thể lực hắn đã tiêu hao từ sáng sớm tinh mơ đến giờ.</p><p>Vừa thấy động tĩnh này, những kẻ vây quanh Dương Khai liền tản ra, bao vây
hắn vào giữa. Bầu không khí cạnh tranh căng thẳng bỗng nhiên vụt đến một cảnh giới mới, dường như ngay cả không khí cũng trở nên đông cứng lại.</p><p>Mọi người ai cũng thấy không vừa mắt, tuy nhiên đều nhìn Dương Khai với ánh mắt vô cùng trông đợi.</p><p>Nếu để cho người không rõ chân tướng chứng kiến cảnh tượng này, chỉ sợ sẽ
nghĩ rằng người đang bị vây bủa trong đám đông kia chính là một tuyệt
đại cao thủ, bằng không tại sao lại điều động nhiều người như vậy để đối phó với hắn? Nhưng trên thực tế, Dương Khai chỉ là đệ tử thí luyện của
Thối Thể cảnh tầng ba mà thôi, mọi người ở đây đều lợi hại hơn Dương
Khai.</p><p>- Dương Khai, ngươi đừng phí tâm sức vô ích nữa, đợi lát
nữa ngoan ngoãn để ta đánh gục, mọi người cũng tiết kiệm thời gian đúng
không nào?</p><p>Có người nhìn thấy bộ dạng Dương Khai như vậy lập tức có chút khinh thường nói.</p><p>Có mỗi cái Thối Thể tầng ba còn khôi phục làm gì nữa? Dù sao cũng phải
thua, chi bằng rõ ràng một chút, hà tất phải kéo dài hơi tàn đó nữa?</p><p>- Đúng vậy, đúng vậy. Dương Khai, ngươi cũng nên thông cảm một chút với
các chư vị sư huynh đệ, ngươi không giống với chúng ta, đánh xong trận
này chúng ta còn phải đi tu luyện nữa.</p><p>Lời nói này giống như là
Dương Khai nên nhanh chóng bại dưới tay chúng. Như vậy, việc Dương Khai
đang khôi phục thể lực cũng tức là một hành động bất kính với họ rồi.</p><p>Dương Khai làm lơ, giống như lão tăng ngồi thiền.</p><p>Thời gian tiếp tục trôi qua, bỗng nhiên một tiếng chuông du dương mênh mông
vang lên, đó là tiếng chuông buổi sáng của Lăng Tiêu các. Tiếng chuông
truyền đến tai mọi người, các đệ tử đang vây quanh Dương Khai nhất tề
tinh thần chấn động.</p><p>Chín tiếng chuông vang lên, mặt trời đã mọc, một ngày mới lại đến!</p><p>Hơi thở của mọi người đột nhiên chùng xuống, đôi mắt trông mong nhìn vào
Dương Khai đang bị vây ở giữa. Dương Khai chậm rãi đứng dậy, cầm theo
cái chổi trên tay, thản nhiên nhìn lướt qua một lượt những người đang
vây quanh mình.</p><p>- Chọn ta đi Dương sư huynh!</p><p>Có người cao giọng nói.</p><p>- Ta xuống tay rất nhẹ thôi, cam đoan sẽ không làm ngươi đau!</p><p>- Nói xạo! Chọn ta đi, ta sẽ xử lý nhanh thôi, một quyền là xong, tuyệt đối sẽ không lãng phí thời gian của mọi người.</p><p>- Chọn ta!</p><p>- Chọn ta!</p><p>Trong sân ồn ào hẳn lên, giống như các lái thương đang tích cực mời chào rau
quả được trồng trong chính vườn nhà mình, lại còn liều mạng so sánh xem
của ai tươi ngon hơn.</p><p>- Dương Khai, ngươi đừng phá vỡ quy định mà mình đã đặt ra!</p><p>Có người lên tiếng nhắc nhở.</p><p>Dương Khai khẽ cười, tiện tay ném chổi lên trời. Ánh mắt mọi người đồng loạt
hướng lên nhìn, tràn đầy mong chờ, đợi thời điểm cái chổi rơi xuống đất, mọi người trong lòng đều đang cầu nguyện:</p><p>- Chọn ta, chọn ta đi!</p><p>Thời gian dường như chậm lại, cái chổi xoay vài vòng trên không trung rồi chợt rơi xuống, nảy lên trên mặt đất rồi bất động.</p><p>Cán chổi chỉ vào một thiếu niên thân hình khôi ngô cường tráng.</p><p>Một loạt những âm thanh oán hận vang lên, tràn đầy u oán và không cam lòng. Ngược lại thiếu niên khôi ngô kia cười ha hả từ trong đám đông kia đi
ra, chắp tay làm lễ với mọi người cười nói:</p><p>- Chư vị sư huynh đệ, trận đấu ngày hôm nay tiểu đệ đã nắm được rồi, mong rằng các vị sư huynh đệ chớ trách mắng.</p><p>- Chết tiệt, chó ngáp phải ruồi!</p><p>Có người đố kỵ không ngớt.</p><p>- Tại sao lại không chọn ta chứ, cứ năm ngày ta đều tới một lần, đến đây
đã tròn một tháng rồi, là Dương Khai ngươi cố ý đúng không?</p><p>- Đừng nói nữa, ta đến đây ba tháng rồi, còn chưa được chọn lấy một lần!</p><p>- Sư huynh, huynh còn thảm hơn đệ nữa.</p><p>- Không thảm không thảm, là xem kịch vui mới đúng.</p><p>Hai sư huynh đệ liếc nhau, ngầm hiểu rồi cười.</p><p>Giữa sân, những người khác đã tản ra, chỉ để lại Dương Khai và thiếu niên khôi ngô đang nhìn nhau.</p><p>- Đệ tử thí luyện Dương Khai, Thối Thể tầng ba!</p><p>Dương Khai nhìn đối phương nói.</p><p>- Đệ tử phổ thông Chu Định Quân, Thối Thể tầng năm!</p><p>Thiếu niên khôi ngô tự giới thiệu.</p><p>Các đệ tử Lăng Tiêu các cũng được phân cấp theo trình tự, từ dưới lên trên
đó là năm cấp bậc: đệ tử thí luyện, đệ tử phổ thông, đệ tử tọa hạ, đệ tử tinh anh, đệ tử hạch tâm. Chu Định Quân nói hắn là đệ tử phổ thông, đó
là do hắn vẫn chưa bái nhập cao thủ môn hạ trong tông môn, tức là chưa
được lương sư chỉ dạy. Nếu là phá được Thối Thể kỳ, bái nhập cao thủ môn hạ trong tông môn, tức là một đệ tử tọa hạ. Cao thêm một cấp nữa đó là
đệ tử tinh anh, đều là những người xuất chúng, được tuyển chọn từ đệ tử
tọa hạ lên.</p><p>Còn đệ tử hạch tâm là hy vọng đời sau của Lăng Tiêu
các. Trong tông môn, những người này được bồi dưỡng để trở thành người
kế nghiệp tương lai.</p><p>Chế độ nhiều cấp bậc đệ tử, dường như là
không hợp tình hợp lý nhưng lại có thể phát huy tâm huyết và ý chí cạnh
tranh của người trẻ tuổi, đây cũng là căn cơ của chế độ tàn khốc trong
Lăng Tiêu các.</p><p>Còn nguyên nhân cơ bản khiến cho Dương Khai bị vô
số người tranh giành lại là một quy tắc khác của Lăng Tiêu các, quy tắc
khiêu chiến. </p> </div>