Vũ Luyện Điên Phong - Chương 3: Nam nhân bị đánh bại liên tục<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Các đệ tử Lăng Tiêu các chiến đấu, hàng năm cũng không ít người chết,
nhưng Chu Định Quân nhìn về vị sư huynh dũng cảm không chùn bước này,
trong lòng không tránh khỏi có chút lo lắng.</p><p>Nếu Chu Định Quân tự đối phó chưa chắc đã đạt được trình độ như vậy, sợ là biết mình không địch lại được mà nhận thua.</p><p>Núi xanh còn đó, lo gì thiếu củi đun, đó là cách xử thế. Không đụng tường không quay đầu lại, đó gọi là kiên trì.</p><p>Thấy bộ dạng thê thảm của Dương Khai, nhưng ý chí chiến đấu ngày càng hừng
hực, Chu Định Quân biết không làm cho hắn bất tỉnh thì việc này hôm nay
xem như chưa thể kết thúc.</p><p>Nghĩ đến đây, Chu Định Quân vung đao
lên kè vào cổ Dương Khai. Khí thế dũng mãnh của Dương Khai dường như
biến mất, hai mắt thất thần, cả người mềm nhũn ra, ngã khụy xuống đất.</p><p>Thấy cảnh này, người đứng trên tán cây đại thụ cách đó hơn chục trượng lấy
ra quyển sách nhỏ, mở một trang, viết: trận đấu giữa đệ tử thí luyện
Dương Khai và đệ tử phổ thông Chu Định Quân, Chu Định Quân thắng.</p><p>Dáng vẻ của người này rất thướt tha, rõ ràng là nử tử, có điều tấm lụa đen
che mặt khiến người ta không nhìn rõ dung mạo, nhưng dáng chân mày thanh tú chứng tỏ người này vẫn còn trẻ. Trên cánh tay người này đeo một
phiến lá nói lên thân phận của mình: Đệ tử Ám đường của Lăng Tiêu các!</p><p>Ám đường của Lăng Tiêu Các là cơ cấu đặc biệt, thuộc sự quản lý của ba vị
trưởng lão trong tông. Đệ tử Ám đường phụ trách ghi chép lại những việc
lớn nhỏ trong tông, bao gồm cả những trận quyết đấu thắng thua giữa các
đệ tử.</p><p>Cho nên khiêu chiến trong Lăng Tiêu các, không cần phải lo lắng mình thắng rồi mà không được cộng điểm cống hiến, các đệ tử Ám
đường ẩn nấp ở những nơi kín đáo sẽ ghi chép lại hết những chiến tích,
mỗi tháng tổng kết một lần.</p><p>Nữ tử của Ám dường này sau khi ghi
chép toàn bộ thắng thua của trận đấu này, lại lấy ra một quyển sổ nhỏ
khác từ bên hông, liếc nhìn một cái, viết: ngày bảy tháng năm năm mười
bốn, Kỷ Hòa, trận thứ một trăm bốn mươi bảy, Dương Khai bại!</p><p>Ngoại trừ dòng chữ vừa viết thêm này, phía trên là chi chít những ghi chép về kết quả các trận đấu của Dương Khai, tất cả đều là khi nào, trận thứ
bao nhiêu, thua bao nhiêu trận. Kết quả chỉ có một chữ: bại!</p><p>Liên tiếp bị đánh bại một trăm bốn mươi bảy trận, không một trận thắng. Kết
quả này có thể nói từ khi Lăng Tiêu các khai tông lập phái đến nay chưa
từng có, thành tích này đủ để kinh thiên động địa, quỷ thần kinh hãi,
trước sau chưa từng có ai như vậy. Mà người tạo ra thành tích này giờ
phút này đang nằm bất động trên mặt đất, chưa biết sinh tử ra sao.</p><p>Dương Khai chưa bao giờ đi khiêu chiến người khác, một trăm bốn mươi bảy trận này đều do người khác đến khiêu chiến hắn. Nói cách khác, cứ năm ngày
bị khiêu chiến một lần. Những ngày tháng như vậy đã kéo dài suốt hai năm rồi.</p><p>Nhìn Dương Khai nằm phía dưới, đôi mi thanh tú của Hạ Ngưng Thường nhíu lại, nàng không hiểu vì sao Dương Khai lại kiên trì đến
vậy. Đã bị cách chức xuống làm đệ tử thí luyện của Lăng Tiêu các rồi,
ngay cả chuyện cơm áo của bản thân cũng là cả một vấn đề, sao hắn còn ở
lại Lăng Tiêu các chứ? Nếu rời khỏi đây, cuộc sống của hắn chắc chắn sẽ
tốt hơn nhiều. Rốt cuộc trong lòng cậu thiếu niên thân hình gầy gò yếu
ớt này cố chấp như thế nào mà khiến hắn bị đánh bại liên tiếp một trăm
bốn mươi bảy trận vẫn không chút tức giận.</p><p>Có thể đây là một nam
nhân ngu ngốc? Để ý đến Dương Khai cũng là sự trùng hợp ngẫu nhiên. Hạ
Ngưng Thường là đệ tử Ám Đường, được giao nhiệm vụ phụ trách khu vực
này. Dương Khai mỗi lần bị khiêu chiến, mỗi lần bị đánh ngất xỉu nàng
đều chứng kiến. Lần một lần hai thì không có gì, nhưng nhiều lần rồi, Hạ Ngưng Thường bắt đầu chú ý nhiều hơn đến cậu thiếu niên chỉ có Thối Thể tầng ba này.</p><p>Nàng rất muốn biết, với sức lực của hắn, rốt cuộc
hắn sẽ kiên trì đến bao giờ mới rời khỏi Lăng Tiêu các. Tư chất như vậy, tốc độ tu luyện như vậy, về cơ bản không thích hợp với giới giang hồ,
thế giới người thường mới là chỗ của hắn.</p><p>Mọi người tản dần đi, chỉ còn lại mình Dương Khai mê man trên mặt đất. Người qua kẻ lại, thời gian cứ thế trôi đi.</p><p>Thoắt cái Hạ Ngưng Thường cũng biến mất khỏi tán cây.</p><p>Đến khi Dương Khai tỉnh lại, mặt trời đã lên cao. Toàn thân đau ê ẩm, cố
gắng tập tễnh đứng dậy, Dương Khai đưa mắt nhìn một lượt xung quanh,
nhận ra vị trí hiện tại của mình không phải chỗ đã bị đánh ngất, mà là
phía dưới một tán cây đại thụ mát mẻ gần đó.</p><p>Điều này thật kỳ lạ, chẳng lẽ hôm nay có vị huynh đệ nào tốt bụng đã đưa mình đến đây? Trước nay chưa từng có chuyện này. Dương Khai vò đầu bứt tai, mơ hồ nhớ lại,
lúc ý thức còn mông lung có một bóng người thoắt ẩn thoắt hiện trước mặt hắn, nhưng ký ức này thực sự rất mơ hồ, không thể nào nhớ ra là ai.</p><p>Nhưng giữa vị trí hiện tại mình đang đứng và chỗ mình đã hôn mê, có một vết
kéo rất rõ rệt, mà dấu vết đó rõ ràng là vết kéo lê người trên mặt đất.</p><p>Đột nhiên hắn cảm thấy phía sau lưng mình một cơn đau đớn, bỏng rát như lửa thiêu truyền tới.</p><p>Dương Khai hơi sửng sốt, chợt giận dữ! Điều này khiến cảm giác biết ơn vị ân
nhân bí ẩn đã làm chuyện tốt chợt biến mất trong nháy mắt. Người này
chắc chắn đã kéo lê mình tới đây, nếu không làm sao lưng mình bị chà sát đến mức chảy máu được.</p><p>Chi bằng cứ mặc kệ mình nằm đó không quan tâm còn hơn. Dương Khai thầm nghĩ.</p><p>Đang lúc buồn bực, đột nhiên Dương Khai phát hiện dường như tay phải mình
đang nắm chặt một vật gì đó. Trong lúc nghi hoặc liền cúi đầu nhìn xuống thì thấy trong tay là một lọ sứ nhỏ được chế tác tinh xảo.</p><p>Đây
là cái gì? Lọ sứ này chắc chắn không phải của mình. Trên người Dương
Khai chẳng có thứ gì, ngoại trừ bộ y sam đang mặc trên người thì chỉ còn mỗi cái chổi quét rác, làm gì có vật này?</p><p>Trên lọ có dán nhãn, trên nhãn có chữ, Dương Khai nhìn vào đó, miệng thầm thì ra tiếng:</p><p>- Ngưng Huyết Khư Ứ cao!</p><p>Ngưng Huyết Khư Ứ cao, Dương Khai cũng có biết.</p><p>Đây là cao dược trị ngoại thương của Lăng Tiêu các, mặc dù không phải loại
tuyệt thế lương dược nhưng có hiệu quả trị liệu rõ rệt. Thông thường mỗi đệ tử Lăng Tiêu các đều có một lọ giắt lưng đề phòng bất trắc. Mà loại
thuốc tốt như vậy ở khu hậu cần của Lăng Tiêu các lại bán không rẻ.</p><p>Mười điểm cống hiến tông môn một lọ!</p><p>Dương Khai quét rác cả tháng trời cũng có được bao nhiêu điểm cống hiến đâu?
Chính xác chỉ vẻn vẹn có mười điểm, nói cách khác, giá trị của lọ cao
dược trên tay bằng một tháng quét rác của Dương Khai.</p><p>Là ai? Giờ
khắc này, trong lòng Dương Khai không kìm được cảm động vô cùng, cảm
giác đau đớn sau lưng cũng giảm đi nhiều. Gia nhập Lăng Tiêu các ba năm
rồi, thời gian ba năm qua, Dương Khai đã quen với việc bạc tình bội
nghĩa giữa các đệ tử trong tông môn, quen với việc lòng người thay đổi.
Nhưng ngày này giờ này lại có người để lại lọ Ngưng Huyết Khư Ứ cao khi
mình bị thương. Điều này khiến Dương Khai vô cùng xúc động.</p><p>Hóa ra, đệ tử tông môn này cũng không hoàn toàn là kẻ bạc nghĩa.</p><p>Có lẽ, một lọ cao dược trị ngoại thương như thế này với người đó mà nói
thì chẳng thấm vào đâu, nhưng với Dương Khai lúc này lại là thứ cần
thiết nhất.</p><p>Người xưa có câu: Một giọt tri ân, cả đời không quên. Sau này thăng tiến chắc chắn sẽ báo đáp!</p><p>Dương Khai vừa cảm động vừa cố gắng nhớ lại thân ảnh kia nhưng càng lúc càng
mơ hồ. Ngược lại một mùi thơm thoảng thoảng nhẹ nhàng quanh quẩn ở chóp
mũi, rất lâu mãi không tan.</p><p>- Thì ra thuốc này có mùi thơm sao?</p><p>Dương Khai tức thời phát hiện ra.</p><p>Lấy lại quyết tâm, sửa sang lại y phục, cẩn thận cất lọ thuốc Ngưng Huyết
Khư Ứ cao vào trong người, Dương Khai cầm chổi lên tiếp tục công việc
quét rác.</p><p>Từ trong ra ngoài đều được quét dọn sạch sẽ, bận rộn
đến tận trưa công việc hôm nay mới kết thúc. Dương Khai gắng sức lê cái
thân xác vừa mệt vừa đói về phòng.</p><p>Vết thương của trận đánh lúc
sáng vẫn chưa được xử lý. Dù chịu đói chịu khát, Dương Khai cũng chỉ có
thể chịu đựng, xử lý xong vết thương rồi hẵng tính.</p><p>Cởi bỏ chiếc
áo xanh trên người, Dương Khai bưng một chậu nước sạch đến rửa thân
mình. Nếu có người gần đó nhìn thấy bộ dạng Dương Khai lúc này, chắc
chắn sẽ không khỏi giật mình.</p><p>Thể trạng Dương Khai rất yếu, gầy
trơ xương, có thể thấy rõ từng chiếc xương sườn, toàn thân hầu như không có thịt, vậy mà trên cơ thể gầy gò ốm yếu ấy chỗ nào cũng bầm tím, trầy xước, gần như không có chỗ nào lành lặn cả.</p><p>Cứ năm ngày bị khiêu chiến một lần, mỗi lần đều thất bại, mỗi lần đều bị đánh ngất xỉu, vết
thương cũ chưa lành đã thêm vết thương mới. Nếu là người khác chắc chắn
sẽ không chịu được đau đớn như vậy. Vậy mà Dương Khai chịu được, không
những chịu đựng được mà mỗi ngày còn kiên trì quét rác như không hề hấn
gì vậy. </p> </div>