Vũ Luyện Điên Phong - Chương 17: Chiến yêu thú<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Mãi đến trưa, Dương Khai mới thay đổi phương hướng, quay người đi về hướng Lăng Tiêu các.</p><p>Mình chỉ báo nghỉ ba ngày, chưa tính ngày khởi hành, trước sáng ngày mai
phải nhanh chóng trở về mới được, nếu không e rằng sẽ bị phạt.</p><p>Thời gian rất dư dật, Dương Khai tính toán bản thân còn cách Lăng Tiêu các
khoảng hơn một trăm dặm, xem ra không xa lắm, có thể đến trước khi trời tối.</p><p>Trong lòng đầy mong chờ xem lư hương mà trang thử ba
Hắc thư kia sẽ mang lại hiệu quả như thế nào, tâm trạng của
Dương Khai thật vui vẻ, bước chân cũng nhẹ nhàng.</p><p>Chưa đến
một nửa Dương Khai đột nhiên nghe thấy tiếng rống thảm thiết như xé ruột xé gan từ một nơi không xa, lẫn trong đó tiếng khóc của trẻ con.</p><p>Nghe thấy tiếng động, Dương Khai dừng bước, nghe ngóng cẩn thận. Một lúc
sau, sắc mặt Dương Khai biến đổi, chạy đến nơi phát ra âm thanh ban nãy.</p><p>Hắn đã nhận ra, tiếng hét thất thanh ấy là tiếng hét của gã thợ săn mà hắn
đã gặp lúc gần tối, và tiếng khóc đó cũng là đứa trẻ phát hiện ra điều
gì đó.</p><p>Hai cha con chỉ sợ là gặp phải phiền phức, nếu không
thì chẳng phải hoảng sợ như thế. Một buổi tối nọ Dương Khai ăn lương khô của người ta, người ta đối với mình xem như là cũng có cảm tình, bây
giờ sao có thể mặc kệ?</p><p>Trong khi chạy trốn, tiếng hét của gã thợ
săn càng lúc càng thê lương, trái ngược với tiếng khóc của đứa trẻ, dần
dần trở nên yếu ớt.</p><p>Dương Khai sắc mặt nặng nề, trong lòng mơ hồ có chút dự cảm không lành.</p><p>Dương Khai chạy đến, tiếng hét của gã thợ săn cũng không nghe thấy nữa, chỉ
nhìn thấy trước mặt dưới sườn núi cao cao một cửa hang tối mịt, cỏ rậm
rạp mọc bên cửa hang, mạng nhện giăng đầy khắp nơi, trên mặt đất là một
chiếc cung nhỏ, chính là cái cung mà cậu bé đêm đó đã cầm trên tay.</p><p>Không kịp nghĩ, Dương Khai vội vàng ném những thứ trên người mình xuống đất,
mở to đôi mắt, cảnh giác với tiếng động xung quanh, xông thẳng vào cửa
hang tối om kia.</p><p>Ánh sáng trong hang không sáng lắm, nhưng có thể thấy những thứ xung quanh.</p><p>Xem xét xung quanh, Dương Khai ngạc nhiên, chỉ thấy trong hang đầy mạng
nhện, bên vách động, trên mặt đất, những vệt trắng bạc như những chiếc
đũa, đan xen chồng chéo, tầng tầng lớp lớp, cản đường phía trước.</p><p>Trong hang u ám ẩm ướt, trên đầu nước nhỏ xuống tí tích tí tách, Dương Khai bước lên cảm giác có chút hụt bước.</p><p>Im lặng đi vào hang, mới đi được vài bước, Dương Khai thấy một người đang
nằm đó hình như là đang bị một con nhện nhả tơ cuốn lại thành nhộng, chỉ lộ ra khuôn mặt, chính là gã thợ săn mà hắn đã gặp.</p><p>Dương Khai
trườn lên phía trước, dò xét một lúc, phát hiện gã thợ săn đang cố sức
thở, ngất đi, không ngần ngại gì, liền bấm một cái vào hắn.</p><p>Gã thợ săn yếu ớt tỉnh lại, sau khi nhìn thấy Dương Khai liền cầu cứu</p><p>- Cứu con ta với!</p><p>Con ta bị kéo vào trong rồi, cứu nó, cứu con ta đi!</p><p>- Bị lôi vào trong rồi sao?</p><p>Dương Khai kinh hãi, vội vàng mở trói cho gã thợ săn, Không ngờ rằng tơ nhện
cuốn người gã vô cùng chắc chắn, mãi mãi vẫn không thể thoát ra được,
đành tạm thời từ bỏ, đột nhiên nhìn vào trong hang.</p><p>Gã thợ săn nhắc nhở:</p><p>- Cẩn thận đấy, Đó là một con nhện yêu thú.</p><p>Nghe thấy hai chữ yêu thú, trong lòng Dương Khai có chút lo sợ, yêu thú
không giống như những con thú hoang, mặc người chém giết, đây thật sự là mãnh thú, bất cứ thứ gì cũng không phải là thứ mà Dương Khai có thể đùa được.</p><p>Bên ngoài núi Hắc Phong được cho là khu vực an toàn, là do nơi đây không có yêu thú, thế nhưng bây giờ đột nhiên lại xuất hiện một con, thật sự là không ai ngờ tới.</p><p>Biết rằng bên trong có yêu
thú, Dương Khai càng cẩn thận hơn, mò mẫm vào trong chắc đã vài chục
trượng, lúc này mới thấy con của gã thợ săn.</p><p>Đứa trẻ lúc này cũng bị cuốn tơ nhện quanh người thật chặt giống như cha của nó, dính vào
một cái mạng nhện khổng lồ, lơ lửng giữa không trung.</p><p>Bên cạnh
đứa trẻ, một con nhện lưng hoa khổng lồ đang thò cái ông trong miệng
ra, đâm vào cánh tay của đứa trẻ, từng dòng máu đỏ tươi có thể nhìn thấy được từ người đứa trẻ đang chảy vào miệng của con nhện.</p><p>Trên mặt đất, đống xương cổ quái kì lạ chất chồng thành núi, chắc là con nhện
quái thú ở đây đã săn giết không biết bao nhiêu con mồi.</p><p>Dương
Khai không kịp nghĩ là có thể đấu lại con nhện này hay không, kéo dài
thêm chút nào nữa thôi cũng có thể khiến đứa trẻ mất mạng ngay lập tức,
giữ yên lặng, xông thẳng về phía trước.</p><p>Con nhện lưng hoa khổng
lồ có lẽ lúc này không ngờ lại bị quấy rầy. Đang lúc ăn ngốn ngáo, lại
bị đánh một phát thật mạnh, cái mạng nhện khổng lồ bị rách một mảng lớn, con nhện lưng hoa và Dương Khai cùng ngã bay ra ngoài, đứa trẻ cũng rơi xuống đất.</p><p>Bỗng nhiên bị tập kích, con nhện lưng hoa tức giận,
tám cái chân dài lông lá đang bò trên mặt đất, con mắt cũng nhìn về
hướng Dương Khai.</p><p>Dương Khai lúc này còn chưa kịp bò dậy, liền bị con nhện lưng hoa đè mạnh xuống đất.</p><p>Dương Khai gầm thét, đưa ra đòn thiết quyền, ngay chính giữa miệng con nhện
lưng hoa, đánh nó một phát lảo đảo, nhân cơ hội này, lại xuất ra thêm
một cước, đạp bay con nhện ra ngoài.</p><p>Quay cuồng, Dương Khai nữa ngồi trên mặt đất, cảnh giác động tĩnh của con nhện lưng hoa.</p><p>Đánh nhau một trận, khiến hắn có chút vững tâm, con yêu thú này không mạnh.
Nếu không thì bản thân đã không thể đấu với nó, đoán rằng nó cũng chỉ là một con yêu thú cấp một.</p><p>Nhưng mặc dù chỉ là yêu thú cấp một, thực lực hiện tại của hắn cũng khó mà đối phó.</p><p>Cả hai bên đều đang đánh giá đối thủ, con nhện lưng hoa không nóng vội,
Dương Khái có chút thiếu kiên nhẫn, bởi vì đứa trẻ trông có vẻ đang mất
máu quá nhiều, mà còn có dấu hiệu bị trúng độc, không giải quyết nhanh
chóng thì sẽ chẳng thể cứu mạng nó.</p><p>Bỗng nhiên, con nhện lưng hoa mở ra những cái xúc tu trên miệng, hít hít, một sợ to óng ánh phun ra,
đánh thẳng về phía Dương Khai.</p><p>Sự bền chắc của tơ nhện Dương Khai đã biết, đương nhiên biết không thể bị cuộn lại, lập tức lăn ra, khó
khăn lắm mới tránh ra được.</p><p>Không ngờ con nhện lưng hoa không
quản đến sự né tránh của hắn, không ngừng phun tơ nhện về phía đó, chờ
Dương Khai phản ứng lại, hang đã bị mạng nhện khổng lồ ngăn cách, hoàn
toàn cắt đứt đường lui, nhốt hắn bên trong.</p><p>- Bức ta đấu đến chết sao?</p><p>Dương Khai cười, không một chút băn khoanh, thói kiêu ngạo trong xương bộc phát.</p><p>Trong tình huống này, không giết được con nhện lưng hoa thì không thể thoát ra được. Đã thế này, vậy thì chỉ có thể liều mạng.</p><p>Thời gian cấp bách, Dương Khai không trì hoãn, hai chân đạp một cái lên mặt
đất, nhanh chóng tiếp cận con nhện lưng hoa. Lập tức bay lại một sợi tơ, Dương Khai liền một tay đỡ lấy, làm sao đương đầu đây?</p><p>Liên tiếp tránh được ba sợ tơ, cuối cùng đã rút ngắn được khoảng cách với yêu
thú. Không đợi Dương Khai xuất quyền, con nhện lưng hoa liền giương chân trước ra, điên cuồng đâm vào hắn.</p><p>Dương Khai đỡ lấy. chân trước bén nhọn của con nhện lưng hoa liền đâm xuyên vào tay của hắn</p><p>Đau đớn khiến Dương Khai nổi giận gầm lên một tiếng, máu toàn thân sôi trào lên, máu tươi chảy ra, không những không khiến hắn sợ hãi kinh hoảng,
mà lại nảy sinh một sự hưng phấn và sự chờ mong trong lòng trào dâng,
xương cốt kêu răng rắc, cảm giác ấm áp lan tỏa khắp cơ thể. </p> </div>