Vũ Luyện Điên Phong - Chương 12: Quỷ kế<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Sau một hồi ẩu đả vang trời, tuy các tiểu thương ở con đường này chỉ là
những người bình thường, nhưng lúc này họ cũng đã bộc phát sức chiến đấu đến ghê người. Bọn họ ít nhiều gì cũng từng bị lừa mất tiền bạc, nên
xưa nay hận nhất hạng người này, chính lúc này lại có đối tượng để trút
giận, cớ gì lại phải nương tay?</p><p>Nhất là tiểu nhị của tiệm gạo Hà thị, lấy hai túi vải trùm phủ đầu hai tên kia, vừa đủ mỗi kẻ một cái, tha hồ mà nện.</p><p>Lúc này mọi người ra tay càng lúc càng mạnh, đằng nào thì hai tên đó cũng
chẳng biết ai đang đánh mình, nên tất nhiên là chẳng cần lo có bị báo
thù hay không.</p><p>Người đông, lực lượng lớn, Dương Khai chỉ làm bộ vậy, chưa kịp hạ thủ đã bị đám tiểu thương chen lấn đẩy ra ngoài rồi.</p><p>Phải một hồi sau, đám tiểu thương mới dần ngưng tay, chỉ còn lại hai tên đồ
tể đang nằm co quắp trên đường, kêu gào không thôi. Túi vải phủ đầu cũng bị đánh bay ra. Tô Mộc định nhãn ngóng vào trong xem, hắn thót cả tim,
bàn chân cứ như bị rút hết gân. Chỉ thấy hai tên vốn cao to lực lưỡng
giờ này mũi không ra mũi, mắt không ra mắt, mặt sưng nhìn không khác gì
lợn, suýt chút nữa bị đánh đến mức cha mẹ ruột cũng nhìn không ra rồi.</p><p>Cục diện ra nông nỗi này cũng tại bản thân chúng không hề có bao nhiêu thực lực. Tuy là lưng giắt đao kiếm, nhưng cũng chỉ làm ra vẻ vậy thôi. Nếu
là cao thủ thực sự há phải để ý đến sự công kích của người bình thường
này sao?</p><p>Thế nhưng nói đi cũng phải nói lại, nếu là cao thủ thực sự thì sao có thể làm chuyện bỉ ổi này?</p><p>Đánh gục được hai tên này, các tiểu thương ai nấy cũng đều trút được mối hận, nhưng vẫn bao vây xung quanh, không chịu rời đi.</p><p>Hai tên đấy nhận thấy vẻ mặt họ bất thiện, trong lòng sợ hãi tột độ. Một
tên trong đó run rẩy giơ tay lên hướng về phía Tô Mộc, kêu yếu ớt:</p><p>- Tô...</p><p>Sắc mặt Tô Mộc chợt thay đổi, gầm lên giận dữ:</p><p>- Giòn cái gì mà giòn? Muốn ông đây nắn thêm gân cốt cho nhà ngươi à? (chữ Tô và giòn đọc giống nhau)</p><p>Dương Khai hiểu hết, trong lòng cười thầm, hắn tiến về phía trước cao giọng:</p><p>- Hai tên tiểu nhân đê tiện này, không biết đã dùng cách này để vu hại
bao nhiêu tiểu thương rồi, làm họ phải nhà tan cửa nát, thật là quá ác
độc mà!</p><p>Câu nói này của Dương Khai quả thật có chút phóng đại,
nhưng những người đang có mặt đều là tiểu thương, thế nên trong chốc lát đã khiến người ta có cảm giác đồng cảm. Tiểu nhị tiệm gạo Hà thị thì
lại phỉ nhổ thêm:</p><p>- Hừ! Cái đám thối tha này chết cũng chẳng tiếc, dám cả gan đến làm loạn ở cửa tiệm chúng ta à.</p><p>Tiểu nhị chỉ muốn trút cho hả giận thôi, ai ngờ Dương Khai còn nhân cơ hội tiếp thêm:</p><p>- Không sai, hạng người này đúng là chết cũng chẳng tiếc, vị sư đệ này,
chi bằng ta và đệ cho mỗi người một đao giết đi cho xong, để chúng sau
này khỏi phải làm xằng làm bậy nữa, cũng coi như là thay trời hành đạo.</p><p>Dương Khai vừa dứt lời, ai nấy cũng kinh sợ. Hai tên kia đang nằm sõng xoài
sợ đến toát mồ hôi lạnh, thất kinh ngước nhìn Dương Khai. Chúng không
ngờ rằng tên thiếu niên mình gầy ốm yếu này, tâm địa lại độc ác đến vậy.</p><p>Tô Mộc trợn tròn mắt nhìn Dương Khai, để xem xem có phải hắn đang nói đùa
không. Thế nhưng vẻ mặt Dương Khai rất nghiêm nghị, rõ ràng là đang nói
thật.</p><p>Nói thật thì, hai tên này tuy rất đáng ghét, nhưng tội cũng không đáng chết. Câu nói này của Dương Khai đúng là có hơi tàn nhẫn
rồi.</p><p>Tô Mộc lắp bắp:</p><p>- Vị sư huynh này, làm vậy thì cũng hơi quá đáng rồi.</p><p>- Quá đáng?</p><p>Dương Khai nghiêm mặt lắc đầu:</p><p>- Nếu như hôm nay để chúng thực hiện được âm mưu, vậy thì cửa tiệm của
ông chủ Hà có lẽ phải đóng cửa rồi. Nếu cửa tiệm của ông chủ Hà bị đóng
cửa, cả nhà ông làm sao sống đây? Chúng làm vậy tức là muốn bức người ta đến đường cùng, giết chúng đi thì có gì là quá đáng? Đệ cần phải biết,
bất cứ ai làm việc gì cũng đều phải trả giá.</p><p>Vốn dĩ khi thấy
Dương Khai đòi giết người, mấy tiểu thương kia cũng cảm thấy bất nhẫn,
nhưng họ lại thấy câu nói này rất có lý, thế nên họ càng không biết phải làm sao mới phải. Song dù sao việc giết người này cũng không cần bọn họ động thủ, thế nên ai nấy cũng đành khoanh tay đứng nhìn. Duy chỉ có ông chủ Hà định mở lời, nhưng lại bị một ánh nhìn của Dương Khai chế ngự
lại.</p><p>- Nhưng... nhưng mà cho dù là vậy, cũng không thể tùy tiện giết người được.</p><p>Tô Mộc sốt ruột thật rồi. Tên sư huynh này ra tay tàn độc như vậy là điều
mà y không bao giờ nghĩ đến. Kế hoạch lẽ ra phải diễn ra suôn sẻ rồi,
cho hai tên này xuất hiện vu cáo ông chủ Hà, sau đó để bản thân mình
giải vây, như thế thì có thể khiến ông chủ Hà biết ơn y, mục đích cũng
từ đó mà đạt được. Ấy vậy mà chẳng ngờ lại nhảy đâu ra một tên sư huynh
tàn ác, hở ra là muốn giết người diệt khẩu.</p><p>Thế này thì thật không ổn.</p><p>Tô Mộc có thể nhìn thấy rõ mồn một ánh mắt khẩn cầu của hai tên kia, mong y có thể cứu được chúng, thậm chí trong ánh mắt đó còn có ý đe dọa nữa,
Tô Mộc không lý nào lại không nhìn ra ẩn ý của bọn chúng.</p><p>Đều là
đám châu chấu cùng bị trói chung sợi dây rồi, bọn ta không được yên thì
ngươi cũng chẳng dễ chịu là bao đâu. Phải, chính là ánh mắt này.</p><p>Chính lúc này, Dương Khai cười nói:</p><p>- Sư đệ, Nho dĩ văn loạn pháp, Hiệp dĩ võ phạm cấm, chúng ta đều là người trong giang hồ, bàn tay nào mà chẳng giết qua mấy mạng người rồi? Chẳng nhẽ sư đệ không xuống tay nổi? Hoặc là... các ngươi có quen biết, nên
mới không muốn giết?</p><p>Tô Mộc bị nói trúng tim đen, quay phắt lại
nhìn Dương Khai, thì thấy gương mặt đang mỉm cười, buông ánh nhìn giễu
cợt về phía mình của đối phương.</p><p>- Câu này của sư huynh có ý gì?</p><p>Gương mặt Tô Mộc bỗng lạnh tanh, y nghĩ có khi nào kế hoạch của mình đã bị
bại lộ rồi? Nhưng từ đầu đến cuối y đâu hề hé ra sơ hở nào, sao lại bị
bại lộ được?</p><p>Y đâu có biết, Dương Khai chẳng qua chỉ vô tình phát hiện được thôi, tất cả quả là trùng hợp, nếu không nhờ sự vô tình đó
thì hôm nay Dương Khai cũng đã bị lừa gọn rồi.</p><p>Ông chủ Hà vốn là người thông minh, khi nghe câu nói này của Dương Khai có hàm ý, không tránh khỏi hồ nghi:</p><p>- Tiểu huynh đệ, màn kịch này rốt cuộc là sao đây.</p><p>Dương Khai có phần nhắm vào Tô Mộc. Làm thế nào mà ông chủ Hà lại không nhìn ra chứ?</p><p>Dương Khai lắc đầu không trả lời, cũng không hề vạch trần tiếp mà chỉ nhìn chằm chằm Tô Mộc:</p><p>- Sư đệ, ta thấy đệ là người quả cảm, nhưng hôm nay thay trời hành đạo,
tạo phúc cho người thì tại sao lại do dự? Huống hồ còn có sư huynh ta
đây giúp đệ, đệ còn sợ cái gì nữa?</p><p>- Ta sợ cái gì?</p><p>Tô Mộc cười ha hả, da mặt hơi co giật, cứ như đang tự nói với chính mình:</p><p>- Ta thì sợ cái gì? Giết người thôi mà? Có ai chưa giết người chứ?</p><p>Dường như việc thừa nhận bản thân chưa từng giết một ai chính là hạ thấp bản thân trước mặt Dương Khai.</p><p>Rốt cuộc thì với tích cách thiếu niên đó, sau khi chịu chiêu khích tướng
của Dương Khai, y không còn cách nào thoát lui được nữa.</p><p>Sau khi
hạ quyết tâm, Tô Mộc tiến về hai tên kia với vẻ mặt đầy sát khí. Hai tên này khi vừa tiếp xúc với ánh mắt của Tô Mộc thì biết sắp nguy to rồi.
Tên tiểu tử này bị người khác xoay vần một hồi, đến nỗi thần trí không
còn tỉnh táo nữa rồi.</p><p>- Sư đệ, chúng ta lên nào. Dương Khai tiếp tục đổ thêm dầu vào lửa xúi giục y.</p><p>Tô Mộc thở hổn hển, khe khẽ gật đầu.</p><p>Hai tên đồ tể nhận thấy tình hình không ổn, biết mình đến số rồi. Cái tên
lúc nãy đứng đỡ làm sao mà nhịn nổi nữa, bèn nhảy lên, chỉ thẳng vào mũi của Tô Mộc mà nói:</p><p>- Tô Mộc, cái tên tiểu tử lật lọng nhà ngươi,
chính ngươi sai hai huynh đệ ta đến tiệm gạo Hà thị làm loạn để ngươi
thay ông chủ Hà giải vây, chiếm thiện cảm với mọi người, vậy mà giờ
ngươi lại dám hạ thủ với huynh đệ ta, ngươi đến súc vật còn không bằng,
một kẻ cặn bã không hơn không kém.</p><p>- Ngươi nói láo!</p><p>Bị mọi người nhìn rõ bộ mặt thật, Tô Mộc cũng thẹn quá nên hoá giận.</p><p>- Hờ hờ!</p><p>Gã đó cứ cười nhạt liên hồi, không ngờ khiến vết thương trên mặt cũng bị
tác động theo, gã ố á bưng lấy khóe miệng, suýt xoa rồi trấn tĩnh lại:</p><p>- Thưa các vị, hôm nay huynh đệ tôi đến tiệm gạo Hà thị gây phiền phức,
tất cả là chủ ý của tên tiểu tử này. Y thích con gái của ông chủ Hà,
chẳng biết sao mà người ta không ưa y, nên mới nghĩ ra cái trò quỷ này. </p> </div>