Vũ Luyện Điên Phong - Chương 8: Thân hình đẫy đà, chân dài, da<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Chỉ trong nửa canh giờ đã tấn thăng lên một tầng, tác dụng của Thối Thể
thiên không cần nói cũng đã rõ. Tuy một phần cũng nhờ vào sự tích lũy
kiến thức của Dương Khai, nhưng nếu không có Thối Thể thiên, Dương Khai
tin rằng phải cần ít nhất là ba tháng mới có thể tấn thăng được.</p><p>Tâm trạng kích động, Dương Khai không kìm được hơi, liên tục bị sặc.</p><p>Một cỗ khói đen bẩn thỉu và hôi thối bị đẩy ra ngoài theo hơi thở từ trong
miệng Dương Khai, bay thẳng xuống đất, cuộn một lớp bụi. Sau khi phun
ra, Dương Khai cảm thấy toàn thân nhẹ nhõm, ngũ quan và lục cảm trở nên
nhạy bén hơn rất nhiều.</p><p>Đây là tạp chất từ khi sinh ra đến nay sao? Dương Khai kinh ngạc vô cùng.</p><p>Luyện Thối Thể cảnh, sẽ đẩy tạp chất ra khỏi cơ thể sau mỗi lần tấn thăng.
Trước đây Dương Khai cũng đã trải qua chuyện như vậy, nhưng đều không
bằng lần này.</p><p>Vô số cảm xúc và suy tư cứ quanh quẩn trong đầu
Dương Khai không chịu đi. Tuy lần này vừa tu luyện đã tấn thăng lên một
tầng, nhưng vẫn chưa phát huy được hết hiệu quả thực sự của Thối Thể
thiên. Bởi vì trong nửa canh giờ, Dương Khai chỉ thi triển chưa đến một
phần trăm quyền cước trong bộ võ của Thối Thể thiên. Mới được một phần
trăm mà đã mang lại hiệu quả thế này, nếu thi triển toàn bộ thì sẽ thế
nào?</p><p>Việc gì cũng không nên nóng vội, dục tốc bất đạt...</p><p>Ngẫm nghĩ suy tư một hồi lâu, Dương Khai đã vạch ra cho mình con đường tương lai sau này. Tuy chưa được toàn diện lắm, nhưng không thể đi một bước
tính một bước giống như lúc trước được. Trong lúc nhất thời, trong lòng
hắn không kìm được xúc động.</p><p>Ăn qua loa chút gì đó, Dương Khai mới cầm chổi lên làm công việc của một tiểu tư quét dọn.</p><p>Mặc dù Dương Khai là tiểu tư quét dọn của Lăng Tiêu các, nhưng cũng không
cần phải quét dọn hết toàn bộ Lăng Tiêu các. Khu vực hắn phụ trách chẳng qua cũng chỉ bằng một phần mười của Lăng Tiêu các mà thôi. Cho nên việc quét dọn cũng không đến nỗi mệt nhọc, về cơ bản trong vòng khoảng một
canh giờ là có thể hoàn thành.</p><p>Hạ Ngưng Thường đứng ở ngọn cây
giám sát mọi hoạt động của các đệ tử Lăng Tiêu các ngày hôm nay, vô tình nhìn thấy Dương Khai đang quét dọn, không thể không cảm thấy kỳ quặc.
Hôm nay rõ ràng hồn vía của Dương Khai để ở đâu, cũng không biết đang
nghĩ gì, mà quét mỗi một chỗ hơn nửa canh giờ không chịu rời bước, làm
khoảnh đất đó sạch sẽ láng bóng, e là một con muỗi có lỡ rơi xuống đất
cũng bị trẹo chân.</p><p>Người này…</p><p>Hạ Ngưng Thường có chút dở khóc dở cười.</p><p>Đúng thật là Dương Khai đang suy nghĩ. Hôm qua có được cơ duyên lớn như vậy, hắn phải suy nghĩ thật kỹ cho tương lai của mình. Nhưng nghĩ tới nghĩ
lui cũng không phải là cách hay, chỉ có nửa canh giờ trước khi mặt trời
mọc để luyện, thời gian còn lại mình nên làm gì đây.</p><p>Trong lúc
đang suy nghĩ, phía sau lưng có tiếng bước chân vội vã chạy tới. Dương
Khai vội vàng tránh ra, nào biết đối phương cũng tránh qua, thế là đụng
vào nhau.</p><p>Dương Khai chẳng hề hấn gì, người chỉ hơi chao đảo một
chút, nhưng người bị hắn đụng phải, lại cảm thấy như đụng vào một tấm
thép, la ái một tiếng rồi ngã nhào xuống đất, chỗ bị đụng đã tê rần lên.</p><p>Dương Khai như hoàn hồn lại, áy náy nhìn đối phương:</p><p>- Vị sư đệ này, ngươi không sao chứ?</p><p>Người đó vẫn đang tức giận, ngẩng đầu lên nhìn thì ra là Dương Khai, cái tên
cứ năm ngày lại bị mọi người đem ra bắt nạt cho hả giận, lập tức cơn
giận cũng tiêu tan. Nổi giận với hạng người này cũng chẳng có ý nghĩa
gì, hơn nữa chuyện này cũng có phần lỗi của mình.</p><p>Vội vàng xua tay nói:</p><p>- Không sao, không sao!</p><p>Vừa nói vừa đứng lên, vội vàng chạy đi.</p><p>Dương Khai hỏi:</p><p>- Sư đệ vội vội vàng vàng như vậy là muốn đi đâu thế?</p><p>Người đó cũng không quay đầu lại, tiếng nói từ xa vọng lại:</p><p>- Thì đi Cống Hiến đường chứ còn đi đâu được nữa?</p><p>Nghe y nói vậy, Dương Khai mới chợt nhớ ra, hôm nay đã là mồng tám. Mồng tám hằng tháng là ngày tông môn phát cống hiến của tháng trước!</p><p>Cho
nên hằng tháng, cứ vào ngày này, phòng hậu cần của tông môn vô cùng náo
nhiệt, nhất là Cống Hiến đường. Mọi người đổ xô đến đây, để xem tháng
trước đã được bao nhiêu cống hiến, cống hiến nhiều thì tự nhiên sẽ được
đổi lấy linh đan diệu dược, thần binh bảo giáp, võ điển bí tịch để nâng
cao thực lực của mình. Cho nên cứ đến ngày này, các đệ tử Lăng Tiêu các
đều rất háo hức.</p><p>Có người vui mừng, thì cũng có kẻ buồn rầu. Dương Khai chính là kẻ buồn rầu này.</p><p>Giật mình đứng yên tại chỗ, Dương Khai bấm ngón tay đếm, mặt mày thì ủ rủ.
Điểm cống hiến có được của tháng trước thì cũng thảm thương như mọi khi
thôi.</p><p>Quét dọn có thể kiếm được mười điểm cống hiến, nhưng mà
tháng trước bị khiêu chiến sáu lần, cả sáu lần đều bị thua! Mỗi trận
thua thì bị trừ một điểm cống hiến. Bây giờ tính ra mình chỉ thu được
bốn điểm cống hiến mà thôi.</p><p>Thật là…thật là khiến cho người ta không biết phải làm sao.</p><p>May mà bây giờ mình chỉ là đệ tử thí luyện, thân phận thấp nhất trong Lăng
Tiêu các, bị đánh bại thì cũng chỉ trừ một điểm cống hiến mà thôi. Nếu
là đệ tử phổ thông, bị đánh bại một lần thì bị trừ hai điểm, há chẳng
phải là phải tự bù tiền vô đó sao!</p><p>Nghĩ đến đây, Dương Khai lại thấy mình thật may mắn.</p><p>Tuy con muỗi có nhỏ đến mấy thì nó vẫn có thịt. Bây giờ mình đang thiếu
thốn, chỉ mong sao số điểm cống hiến đó có thể đủ sống hết tháng này.</p><p>Không chần chờ gì nữa, hắn vội vàng quét nhanh quét tháo.</p><p>Đến giữa trưa, cuối cùng Dương Khai cũng đã làm xong, hắn xách theo cây chổi đi thẳng về hướng Cống Hiến đường.</p><p>Đợi cho hết buổi sáng, bây giờ Cống Hiến đường im ắng vô cùng, có thể giăng lưới bắt chim ấy chứ. Đây cũng là nguyên nhân vì sao Dương Khai không
đến vào buổi sáng. Buổi sáng đến đây phải xếp hàng, thật là phiền toái.</p><p>Thản nhiên đi vào Cống Hiến đường. Bên trong quả thật thanh tĩnh, chỉ có một lão đầu đang ngủ gật ở phía sau quầy.</p><p>Lão đầu là chưởng quầy của Cống Hiến đường, khoảng năm mươi sau mươi tuổi,
tóc chưa bạc lắm, có khuôn mặt hiền hòa, xem ra là người không sát hại
sinh linh vô tội, nhưng Dương Khai biết ông ta là một cao thủ thật sự.</p><p>Đã từng có một đệ tử ưu tú của Lăng Tiêu các hỗn láo trong Cống Hiến
đường, bị nhất chỉ của lão đầu này cho văng ra hàng chục trượng, suýt
nữa là mất mạng. Lúc đó Dương Khai cũng có mặt, từ đó về sau, hắn mới
biết thực lực của lão đầu này thật khó lường.</p><p>Dương Khai bước về
phía trước, thấy lão đầu này đang ngủ say, tiếng ngáy khò khò, miệng thì không ngừng chậc chậc, chốc chốc nở một nụ cười dâm đãng.</p><p>Cái lão này! Không biết đang mơ đến nữ đệ tử Lăng Tiêu các nào nữa đây!</p><p>Dương Khai không lấy làm ngạc nhiên, cầm cây chổi gõ vào quầy bàn mấy tiếng, gọi khẽ:</p><p>- Mộng chưởng quầy!</p><p>Ông lão họ Mộng, tên gì thì Dương Khai không biết, từ trước đến giờ đều gọi lão ta như vậy.</p><p>Vài tiếng soạt soạt vang lên, quấy rầy giấc mơ đẹp của ông lão. Mở mắt dậy, đợi sau khi nhìn rõ là Dương Khai, mặt lão ta lập tức cau lại, như gặp
phải đống phân.</p><p>- Ánh mắt của lão có ý gì đây?</p><p>Dương Khai giận dữ nói.</p><p>Mộng chưởng quầy trợn mắt nhìn:</p><p>- Tại sao buổi sáng không đến?</p><p>Dương Khai điềm đạm nói:</p><p>- Buổi sáng người nhiều, bây giờ đúng lúc yên tĩnh!</p><p>- Quấy rầy giấc mơ đẹp của ta, thằng nhóc nhà ngươi có biết thế nào là tôn lão ái ấu không?</p><p>Dương Khai tiếp lời, hạ thấp giọng nói:</p><p>- Mơ thấy cô nương nào vậy?</p><p>Đột nhiên Mộng chưởng quầy tỉnh táo hẳn lên, lau miệng chuẩn bị nói chuyện
với Dương Khai, thì thấy bộ mặt ranh mãnh của hắn, lập tức tỉnh lại, lấy tay vỗ bịch bịch lên quầy:</p><p>- Ngươi hỏi như vậy, quả thực làm ô uế danh dự của lão phu! Lý nào lại như vậy.</p><p>- Dáng người đẹp không?</p><p>- Đẹp!</p><p>Mộng chưởng quầy suýt chảy nước miếng.</p><p>- Thân hình đẫy đà, chân dài, da trắng, dung mạo xinh đẹp, eo thon phải không?</p><p>- Ừ ừ ừ…</p><p>Mộng chưởng quầy gật đầu lia lịa, suýt chút nữa là xem Dương Khai như một người bạn tri âm.</p><p>- Ha ha…</p><p>Dương Khai cười trêu chọc.</p><p>Mộng chưởng quầy lắp ba lắp bắp trong họng, mặt đỏ như đít khỉ, quả thực có
chút xấu hổ, hận là không thể đào một cái lỗ chui xuống đất. </p> </div>