Vũ Luyện Điên Phong - Chương 2: Gặp ngõ cụt không quay đầu<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Quy định thứ nhất của Lăng Tiêu các: các đệ tử Lăng Tiêu các mỗi ngày có cơ hội đi khiêu chiến một lần, cứ năm ngày có cơ hội được khiêu chiến
một lần! Thực lực chiến đấu tay đôi không được phép thấp hơn ba tầng,
không được trốn tránh chiến đấu, không được e sợ chiến đấu. Những người
vi phạm sẽ bị đuổi ra khỏi tông môn. Bên thắng sẽ căn cứ vào cấp bậc của đối thủ để được thưởng điểm số tương ứng, bên thua sẽ dựa vào cấp bậc
đệ tử của bản thân mà bị khấu trừ số điểm cống hiến tương ứng.</p><p>Điểm cống hiến cũng được gọi là điểm cống hiến tông môn!</p><p>Đây chính là điểm đặc sắc của Lăng Tiêu các. Nói đơn giản hơn một chút,
điểm cống hiến ở Lăng Tiêu các tương đương với tiền vàng. Chỉ cần có đủ
điểm cống hiến thì có thể đổi được bất cứ thứ gì ở phòng Hậu cần. Đan
dược, bí tịch, binh khí, bảo giáp, hễ là đồ có liên quan đến việc tu
luyện thì tất cả đều có thể đổi. Đương nhiên cũng có thể đổi lấy vàng
hay bạc trắng. Nhưng thông thường, điểm cống hiến tông môn không phải dễ mà có, thường thì các đệ tử không nỡ đổi lấy tiền bạc.</p><p>Cách thức để đạt được điểm cống hiến tông môn cũng rất nhiều, nộp cho tông môn
bảo vật mình có được, hoặc là hoàn thành nhiệm vụ của tông môn giao
cho..., đều có thể đạt được điểm cống hiến của tông môn.</p><p>Một
trong những cách thức bình thường nhất, đơn giản nhất để đạt được điểm
cống hiến đó là khiêu chiến! Khiêu chiến với đệ tử đồng môn kém mình
không quá ba tầng, nếu thắng sẽ đạt được điểm cống hiến.</p><p>Cho nên
sáng sớm như thế này mới có nhiều người như vậy đến vây quanh Dương
Khai. Tất cả đều nhìn chăm chăm vào quả hồng chín nhũn này.</p><p>Tên
tuổi của Dương Khai khắp xa gần Lăng Tiêu các này đều biết, không chỉ
bởi hắn là một trong số rất ít những kẻ mang thân phận đệ tử thí luyện,
cũng là bởi vì từ khi hắn vào Lăng Tiêu các đến nay chưa thắng được trận nào! Lần nào bị khiêu chiến cũng đều thua cuộc.</p><p>Những kẻ để ý
nhất định sẽ nhớ rõ lần trước Dương Khai bị khiêu chiến là lúc nào. Hôm
nay cách lần trước năm ngày, theo quy định tông môn lại có thể tiếp tục
khiêu chiến hắn. Có ai lại không thèm cái điểm cống hiến tùy tiện cũng
có thể lấy được này chứ. Tuy rằng đánh thắng Dương Khai cũng không có
nhiều điểm cống hiến nhưng “thịt muỗi cũng là thịt”. Huống chi, những đệ tử có thể khiêu chiến Dương Khai cũng không phải là hạng người giàu
sang cao quý gì, bọn họ tất nhiên sẽ không chê số điểm cống hiến ít ỏi
ấy.</p><p>Dương Khai và Chu Định Quân đã vào thế, cùng kêu lên:</p><p>- Xin chỉ giáo!</p><p>Tuy là nói như vậy nhưng ai cũng đều biết rằng Dương Khai hôm nay lại không tránh khỏi một trận no đòn!</p><p>Lời nói vừa dứt, Dương Khai liền vượt lên tấn công trước, thân hình gầy gò
ốm yếu bộc phát ra sức chiến đấu kinh người, nắm đấm hướng về phía ngực
Chu Định Quân. Công kích đơn giản trực tiếp, nắm quyền mạnh mẽ sinh gió, dường như khí lực toàn thân đều dồn cả vào đó.</p><p>Quyền này là
trường quyền mà tất cả các đệ tử Lăng Tiêu các đều đã được luyện qua, bộ quyền pháp này cũng không quá sâu sắc, huyền bí, chỉ dùng để các đệ tử
luyện tập thân thể, chiêu thức tự nhiên, đơn giản.</p><p>Chu Định Quân
không hoảng hốt, khuôn mặt ẩn chứa nụ cười, thật sự là cảnh giới của y
cao hơn Dương Khai hai tầng, trận chiến này vốn không còn gì phải hoài
nghi. Lúc đường quyền của Dương Khai sắp lao đến, y mới nhàn nhã uốn
người, thân thể khôi ngô cường tráng giờ phút này lại có vẻ có chút linh động.</p><p>Đường quyền chạm vào y phục, Chu Định Quân không mảy may
bị tổn thương. Không đợi Dương Khai thu quyền, khuỷu tay Chu Định Quân
thục xuống cánh tay Dương Khai, đồng thời đầu gối khẽ nhấc lên, nhằm
trúng vào bụng Dương Khai.</p><p>Dương Khai kêu rên, cố nén sự đau đớn
trong toàn thân, bước chân xê dịch, vội vàng lui về phía sau, trong gang tấc tránh được đòn thứ ba của Chu Định Quân.</p><p>- Hả?</p><p>Chu Định
Quân kinh ngạc, y không ngờ sư huynh mới chỉ có Thối Thể tầng ba này lại có thể liệu địch tiên cơ, biết tiếp theo mình sẽ đối phó như thế nào
với hắn, Dương Khai đã làm loạn kế hoạch của mình rồi.</p><p>Nhưng
sai lầm nho nhỏ này cũng không ảnh hưởng đến đại cục, một suy nghĩ vụt
qua trong đầu Chu Định Quân, muốn thừa dịp Dương Khai còn đang thở hổn
hển để dốc toàn lực chấm dứt trận đấu này.</p><p>Nào biết chân trước y
vừa mới cử động, Dương Khai từ phía sau lại mạnh mẽ lao tới, hình bóng
hai người nhanh chóng áp sát nhau. Chu Định Quân thấy được ý chí chiến
đấu mạnh mẽ và tinh thần bất khuất trong mắt Dương Khai, Dương Khai nắm
chặt tay lại, lại là một trường quyền.</p><p>Nguy rồi! Chu Định Quân
thầm giật mình, biết đã trúng quỷ kế của đối phương. Thực lực bản thân
tuy rằng cao hơn sư huynh này hai bậc, nhưng luận về kinh nghiệm chiến
đấu, y lại không bằng.</p><p>Nhưng dù trúng kế thì đã sao? Chu Định
Quân dồn khí Nhược Uyên, không trốn tránh nữa, cùng lúc đó lấy lại uy
lực của trường quyền.</p><p>Hai tiếng nhỏ binh binh vang lên, Dương
Khai bay tới, thân hình Chu Định Quân vụt qua, rồi đứng lại như cũ, sắc
mặt có chút ngưng đọng. Vừa rồi nếu như là một đối thủ cùng đẳng cấp với y ra đòn ấy thì người bay ra kia chắc chắn sẽ là y.</p><p>Người khác
có thể không biết hai quyền huyền bí này nhưng mình đã cảm nhận được rõ
ràng. Đường quyền của sư huynh này không ngờ lại nhanh hơn y đôi chút,
nói cách khác là hắn đánh trúng mình trước, mình mới đánh trúng được
hắn.</p><p>Chỉ có điều là quyền của hắn, lực thua xa mình, hơn nữa thân thể mình lại cường tráng, trái lại đối phương gầy gò yếu ớt, sắc mặt
xanh xao, rõ ràng ăn uống không đầy đủ, năng lực kháng đòn vốn cũng
không ngang bằng cho nên kết quả trước mắt mới như vậy.</p><p>- Dương sư huynh, đa tạ!</p><p>Chu Định Quân tâm lý không mấy thoải mái, bị đối thủ kém mình hai tầng đánh trúng thật không phải là sự tình đáng kiêu ngạo gì. Tuy rằng trận đấu
này mình đã thắng nhưng lại không có chút hương vị chiến thắng.</p><p>Bên cạnh có tiếng xì xào bàn tán truyền đến:</p><p>- Người này cho là mình đã thắng rồi sao?</p><p>- Ha ha, chẳng lẽ y lại chưa từng nghe qua đại danh Dương Khai mà đã chạy đến khiêu chiến sao?</p><p>- Đúng là rất thú vị!</p><p>Lông mày Chu Định Quân nhíu lại, y quả thật không hiểu rõ Dương Khai, chỉ có điều thường nghe nhắc tới vị sư huynh này, hôm nay đi ngang qua thấy
rất nhiều người vây quanh liền tiến vào tham dự, không nghĩ rằng vận khí lại tốt như vậy, được Dương Khai chọn làm đối thủ.</p><p>Nhưng chẳng
lẽ như thế này vẫn chưa phải là thắng sao? Một quyền mình đã đánh bay
được sư huynh này, đã có ưu thế áp đảo rồi. Theo quy định tông môn mà xử lý, đối phương nên nhận thua mới phải, bởi vì đã không còn cần thiết
phải đánh tiếp nữa rồi.</p><p>- Lại nữa đi!</p><p>Khi y còn đang nghĩ
ngợi, Dương Khai đã ngã nhào trên mặt đất không ngờ lại đứng lên, trong
mắt chẳng những không có chút nổi giận, mà ngược lại ý chí chiến đấu
càng mạnh mẽ hơn, chỉ có điều sau một quyền kia, gương mặt xanh xao đã
tái nhợt đi đôi phần.</p><p>Không đợi Chu Định Quân trả lời, Dương Khai bất ngờ lao tới, lúc cách Chu Định Quân chưa đầy ba thước hắn đột nhiên hơi bật ra, hai chân giống như chiếc roi dài quét qua, đánh úp về phía
Chu Định Quân.</p><p>Đá ngang! Cùng là đệ tử bậc thấp của Lăng Tiêu
các, mỗi người đều tu luyện qua công phu cơ sở, chỉ có điều giờ này khi
Dương Khai ra đòn lại đạt được đến trình độ của những đồng môn cao hơn
hắn nhiều.</p><p>Hóa ra đòn đá ngang này còn có thể lợi hại như vậy đấy.</p><p>Không đợi mọi người cảm thán, một tiếng binh nhẹ truyền ra, Dương Khai một lần nữa lại bay lên.</p><p>Hai tầng cảnh giới chênh lệch, thân thể tố chất chênh lệch khiến Dương Khai căn bản không thể chống đỡ lại Chu Định Quân. Quyền này của Chu Định
Quân đánh vào xương cẳng chân Dương Khai, khi Dương Khai lại đứng lên,
bước từng bước có chút khập khễnh, rõ ràng là xương cốt đã bị đả thương.</p><p>- Tiếp nữa đi!</p><p>Dương Khai cắn răng, ánh mắt hừng hực như lửa thiêu.</p><p>- Binh….</p><p>Dương Khai bay ra.</p><p>- Tiếp nữa đi!</p><p>- Binh…</p><p>Dương Khai lại bay ra.</p><p>Đã có người không đành lòng xem nên bỏ đi trước, cũng có người thổn thức không ngừng:</p><p>- Tên Dương Khai này đúng là bản tính quá cố chấp, lần nào khiêu chiến mà không đánh hắn ngất xỉu, hắn tuyệt đối sẽ không từ bỏ ý đồ!</p><p>Lời
nói này truyền đến tai Chu Định Quân, trong lòng y chua xót không ngừng, không ngờ đối thủ mà mình khiêu chiến lại là kẻ điên cuồng đến như thế
này.</p><p>Dương Khai ước chừng bị đánh bay ra ngoài đến bảy tám lần,
hai má sưng to, ngay cả hốc mắt cũng bị tím đen, bước đi lảo đảo, nhìn
như gió cũng thổi ngã, tuy nhiên vẫn ngoan cố như bàn thạch, ngã xuống ở đâu sẽ đứng lên ở đó, hô một tiếng rồi lại tiếp tục xông lên về phía
trước.</p><p>Cứ lặp lại như vậy, Chu Định Quân rốt cuộc biến sắc:</p><p>- Ngươi điên rồi? Nếu còn chưa nhận thua ngươi sẽ chết đấy! </p> </div>