Vũ Luyện Điên Phong - Chương 43: Bí mật của chưởng môn<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Trong Hắc Phong Lâm, một đoàn mười mấy người Lăng Tiêu Các đang hành tẩu.</p><p>Dương Khai không ngờ được cái nơi hay ho mà hôm qua Tô Mộc nói muốn dẫn mình
đến lại là Hắc Phong Lâm. Bước đi trong rừng, Dương Khai nhìn thấy ở đây có một lối đi trông rất rõ ràng. Khu rừng này nếu như không có người
thường xuyên qua lại, thì căn bản không thể tạo thành con đường mòn như
vậy được.</p><p>Hắc Phong Lâm có nhiều người ra vào đến thế sao? Dương
Khai quan sát bốn phía, phát hiện thấy quả đúng là vậy. Phía trước không xa có vài bóng người, phương hướng đang đi cũng giống hệt đám người của mình.</p><p>- Sư huynh có biết hôm đó tại sao bọn đệ lại đụng độ Thành Thiếu Phong ở Hắc Phong Lâm không?</p><p>Tô Mộc bước đi bên cạnh Dương Khai, bâng quơ hỏi một câu.</p><p>Nét mặt Dương Khai khẽ động, trong đầu đã ngầm phỏng đoán:</p><p>- Không lẽ bọn Thành Thiếu Phong cũng sẽ đến Hắc Phong Lâm?</p><p>- Đúng vậy, Lăng Tiêu Các chúng ta và Phong Vũ Lâu cùng Huyết Chiến Bang
cách nhau không xa, hơn nữa khu rừng Hắc Phong Lâm này lại cách cả ba
phái một cự ly tương đối như nhau. Về cơ bản, đệ tử của ba phái nếu muốn vào nơi này, đều phải đi qua cái ngã tư kia.</p><p>- Nơi này có cái gì mà thu hút người ta đến thế? Sao ai ai cũng đổ dồn về đây hết vậy?</p><p>- Hì hì.</p><p>Tô Mộc cười đắc ý:</p><p>- Sư huynh không biết đó thôi, ở Hắc Phong Lâm có một khu chợ, là nơi
giao dịch buôn bán của đệ tử ba phái, thậm chí là của toàn bộ những
người luyện võ trong Ô Mai Trấn. Các đệ tử có thể lấy đồ dùng tu luyện
mà mình không dùng đến để đổi lấy những thứ có ích, hoặc cũng có thể đem bán đổi lấy tiền. Khu chợ Hắc Phong này náo nhiệt lắm, sư huynh nhất
định phải đến xem thử mới được.</p><p>Lý Vân Thiên cũng nói:</p><p>- Đúng
đấy sư huynh, ở đây có thể tìm được những món đồ tốt. Lần trước Tô Thiếu chỉ dùng có mười lượng bạc đã mua được Thiên Nguyên quả.</p><p>- Thiên Nguyên quả?</p><p>Dương Khai hơi dao động.</p><p>- Ừ, linh quả thuộc Địa cấp hạ phẩm, cái người bán đó đúng là không biết nhìn hàng, để cho đệ ăn được món hời này.</p><p>Nhắc lại chuyện này, Tô Mộc cảm thấy có chút đắc ý.</p><p>Linh quả Địa cấp hạ phẩm, nếu đổi ra ngân lượng, ít nhất phải trên nghìn
lượng, vậy mà Tô Mộc chỉ dùng có mười lượng đã mua được rồi, thế chẳng
phải quá hời thì là gì.</p><p>Dương Khai quả thật chưa bao giờ nghe qua khu chợ Hắc Phong này. Trong ba năm kể từ khi gia nhập Lăng Tiêu Các,
hắn không hề qua lại với bất cứ ai, dĩ nhiên là chẳng có ai kể với hắn
chuyện này rồi.</p><p>Xem ra bọn Tô Mộc rất hay đến nơi này, trông tên
nào cũng tỏ vẻ rất quen thuộc. Từ các cuộc trò chuyện của chúng, Dương
Khai nghe ngóng được không ít chuyện thú vị, trong bụng cũng dần có chút mong đợi đối với nơi này.</p><p>Bản thân hắn tu luyện Chân Dương
quyết, biết đâu có thể tìm được linh đơn dược thảo thuộc tính dương để
dùng thử, có điều hầu bao không có lấy một đồng. Nhớ lại lọ Tiểu Hồi
Nguyên đan mà Tô Mộc cho hôm qua, Dương Khai mới bớt lo lắng chút đỉnh.</p><p>Chợ Hắc Phong hơi xa, bọn họ vừa đi vừa nói chuyện.</p><p>Đột nhiên Dương Khai hỏi:</p><p>- Tô sư đệ, Lăng Tiêu Các chúng ta hình như có một vị là Thập Nhất trưởng lão đúng không?</p><p>Hắn nhớ tới vị lão giả gặp bên Khốn Long Giản hôm đó, vị lão giả này toàn
thân toát lên một vẻ thần bí, thật khiến người khác khó quên.</p><p>- Thập Nhất trưởng lão?</p><p>Tô Mộc ngạc nhiên,</p><p>- Lăng Tiêu Các làm gì có ai là Thập Nhất trưởng lão?</p><p>- Ồ, ta chỉ thuận miệng hỏi vậy thôi.</p><p>Dương Khai đã rõ. Lúc vị lão giả đó tự xưng là Thập Nhất trưởng lão, hắn đã
có chút hồ nghi rồi, giờ xem ra thân phận đó quả nhiên là giả. Chỉ có
điều lão giả đó ôn hòa điềm đạm, lại chẳng có ác ý gì với hắn, nên Dương Khai cũng chẳng tra hỏi đến cùng, tránh chuốc lấy phiền toái.</p><p>Lý Vân Thiên cười:</p><p>- Dương sư huynh tu luyện cả ngày, chỉ e là không nắm rõ tình hình trong
Lăng Tiêu Các chúng ta. Trong Các chỉ có năm vị trưởng lão thôi, quả
thật không có vị Thập nhất trưởng lão nào cả.</p><p>Bọn chúng đều biết
trước kia Dương Khai phải chịu cảnh ngộ bị lăng nhục thê thảm, nên liền
kể cho hắn nghe không ít chuyện của Lăng Tiêu Các, để sau này hắn khỏi
hỏi những chuyện khó xử.</p><p>Phía sau lưng Tô Mộc có một vị trưởng
lão nâng đỡ, nên hiểu biết của y về Lăng Tiêu Các là nhiều nhất. Y cứ
nói mãi, chẳng hiểu sao lại nói đến chuyện Chưởng môn Lăng Tiêu Các.</p><p>Tô Mộc hạ thấp giọng:</p><p>- Ta nghe lão quỷ nói, Chưởng môn của chúng là là một nhân vật xuất
chúng, công lực hiện tại đã đến đỉnh điểm của Thần Du cảnh, chỉ còn
thiếu một chút nữa là có thể đột phá thêm, vậy tức là đệ nhất cao thủ
trong vòng một nghìn dặm trở lại đây rồi.</p><p>Đỉnh điểm của Thần Du cảnh!</p><p>Dương Khai kinh ngạc.</p><p>Cấp bậc tu luyện của những người luyện võ, bắt đầu từ Thối Thể cảnh, sau đó là Khai Nguyên cảnh, Khí Động cảnh, Li Hợp cảnh, Chân Nguyên cảnh, Thần Du cảnh. Mỗi cảnh giới có chín tầng, tầng càng cao càng khó đột phá.
Thần Du cảnh không phải đâu cũng có người luyện được, không ngờ Chưởng
môn của Lăng Tiêu Các đã đạt đến đỉnh điểm của Thần Du cảnh. Nếu tiến
thêm một bước nữa, vậy tức là đã trở thành nhân vật đỉnh cao thật rồi.</p><p>- Bang chủ Hồ Man của Huyết Chiến Bang, Lâu chủ Tiêu Nhược Hàn của Phong
Vũ Lâu cũng chỉ mới ở tầng sáu, tầng bảy gì đó của Thần Du cảnh thôi, so với Chưởng môn của chúng ta chẳng là cái gì hết.</p><p>Tô Mộc nhắc đến là lại tự hào, dù gì người đứng đầu môn phái thực lực cao thâm, thì đệ tử môn hạ cũng được thơm lây.</p><p>- Chưởng môn cần bao lâu mới đột phát được?</p><p>Lý Vân Thiên hứng thú hỏi. Nếu Chưởng môn bỗng nhiên đột phá được, vậy thì Lăng Tiêu Các có thể hùng bá trong vòng mấy nghìn dặm trở lại đây, ra
ngoài còn sợ ai quấy nhiễu?</p><p>Tô Mộc buồn bã, chậm rãi lắc đầu than thở.</p><p>- Sao vậy?</p><p>Lý Vân Thiên thấy thế, không khỏi căng thẳng.</p><p>- Lão quỷ nói, thật ra từ mười mấy năm trước, Chưởng môn đã đạt đến cực đỉnh Thần Du cảnh rồi.</p><p>- Vậy tại sao mãi đến giờ vẫn chưa đột phá?</p><p>Mọi người khó hiểu.</p><p>Mười mấy năm ư, cho dù tu luyện khó khăn đến đâu, cũng phải đột phá rồi chứ.</p><p>Tô Mộc chỉ lắc đầu:</p><p>- Ta không dám nói.</p><p>- Tô thiếu, sao huynh lại làm thế, gợi cho huynh đệ tò mò rồi để mặc luôn à, thế chẳng khác nào cởi hết y phục của mỹ nữ rồi không chịu lấn tiếp? Tàn nhẫn quá.</p><p>Triệu Hổ kêu la, đám đông cũng nhao nhao đòi Tô Mộc kể tiếp.</p><p>- Được rồi, tuy nhiên các huynh đệ phải nhớ kỹ, chuyện này tuyệt đối không được tiết lộ ra ngoài, nếu không sẽ rắc rối to.</p><p>Tô Mộc lấy lại tinh thần, nhìn khắp xung quanh rồi mới hạ giọng xuống:</p><p>- Mười mấy năm trước, Lăng Tiêu Các chúng ta đã xảy ra một đại sự, chính
vì chuyện này mà cảnh giới của Chưởng môn mãi không thể tiến thêm được.</p><p>- Chuyện gì chứ?</p><p>Đám người nuốt nước bọt.</p><p>- Chưởng môn cả đời vô thê vô tử, chỉ thu nhận hai đệ tử, mọi việc đều
bắt nguồn từ hai vị đệ tử này. Trong hai người, đại đệ tử siêng năng,
nhị đệ tử thông minh, cả hai đều là nhân tài xuất chúng, Chưởng môn cũng dốc hết lòng dạy bảo, không hề có kiêng kẽ gì. Hai người họ cũng không
chịu thua kém, về thực lực thì luôn sánh vai cùng nhau, không ai thua
ai. Tuy nhiên, vì tính tình hai người này khác nhau, phương pháp chỉ dạy của Chưởng môn cũng có chút khác nhau. Với đại sư huynh thì rất mực
khen ngợi, còn với nhị sư huynh thì lại vô cùng hà khắc. Cách làm này
khiến nhị sư đệ hiểu lầm dụng ý của Chưởng môn, người cho rằng Chưởng
môn thiên vị đại sư huynh, từ đố kỵ mà sinh ra hận thù. Nhị sư huynh
càng ngày càng xa lánh đại sư huynh, tính tình càng lúc càng hẹp hòi.
Đến mức không biết đã tìm đâu ra một quyển công pháp tà ác đem đi tu
luyện.</p><p>- Ối...</p><p>Cả bọn kêu lên sợ hãi.</p><p>Tô Mộc tiếp tục kể, cả bọn tập trung tinh thần lắng nghe.</p><p>Không ngờ, miệng mồm Tô Mộc cũng lanh lợi thật, khả năng kể chuyện cũng rất
đỉnh, ngôn từ sâu sắc, chỉ trong vài ba câu chữ đã bày ra cảnh tượng ân
oán giữa hai vị sư huynh sư đệ trước mắt mọi người.</p><p>Dương Khai
chỉ im lặng lắng nghe, không nói xen vào lời nào. Hắn cảm thấy câu
chuyện này có lẽ là thật, nhưng hình như Tô Mộc cũng thêm chút mắm muối
vào trong đó. </p> </div>