Vũ Luyện Điên Phong - Chương 13: Ngươi đợi đấy<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Nói ra lời này quả thật là đã bị bức đến đường cùng. Mọi người lập tức
đưa mắt nhìn về phía Tô Mộc, ánh mắt tràn đầy vẻ không thể tin được.</p><p>Thì ra là vậy! Dương Khai tự nhiên tỉnh ngộ. Hắn cứ đoán mục đích của Tô
Mộc là gì, nhưng nghĩ tới nghĩ lui cũng chỉ có hai khả năng, một là vì
lợi, hai là vì danh. Không ngờ đều sai cả, rốt cuộc y vì sắc đẹp.</p><p>Dương Khai cũng đã gặp con gái của ông chủ Hà. Tiểu cô nương này đẹp tinh
khôi, tuy không đến mức khuynh quốc khuynh thành, nhưng cũng là một viên ngọc trong nhà, mặt mũi thanh tú, dáng người yểu điệu, năm nay mới mười bốn tuổi đã nổi danh là tiểu mỹ nhân ở Ô Mai trấn.</p><p>Chính vì thiếu nữ nhỏ tuổi này đã lọt vào mắt xanh của Tô Mộc nên tiệm gạo Hà thị mới gặp phiền toái này.</p><p>- Ngươi đừng có mà nói hươu nói vượn!</p><p>Khuôn mặt Tô Mục đỏ lên, còn muốn biện hộ.</p><p>Tên đồ tễ kia tiếp tục cười lạnh lùng nói:</p><p>- Ta không nói hươu nói vượn, tuy hai huynh đệ ta bản tính bất kham, bình thường hay làm chuyện xấu nhưng chuyện vu oan giáng họa cho tiệm gạo,
tuyệt đường làm ăn của họ thì tuyệt đối không làm. Phải biết rằng huynh
đệ ta sống được cũng là nhờ các chư vị lão gia, tuyệt đường sống của
người khác thì khác nào tuyệt đường sống của chính mình. Chuyện này có
thể làm được sao? Tất cả đều là do tên tiểu tử đó chỉ điểm, xúi giục.</p><p>Lời nói cũng thành khẩn, khiến cho đám đông cười rộ lên.</p><p>Dương Khai bèn hỏi:</p><p>- Sau khi làm xong chuyện, y cho các ngươi bao nhiêu tiền?</p><p>- Năm mươi lượng bạc ròng!</p><p>Gã trả lời.</p><p>- Năm mươi lượng, nhiều thật đó.</p><p>Dương Khai gật gù.</p><p>Ông chủ Hà nghe xong một lúc cũng tự nhiên hiểu được đầu đuôi câu chuyện, lập tức trợn mắt nhìn Tô Mục, khinh miệt nói:</p><p>- Ngươi là kẻ tiểu nhân ti tiện, lại chơi thủ đoạn dơ bẩn, con gái ta sẽ
không để ý nhà ngươi đâu? Lăng Tiêu các có loại người bại hoại như ngươi quả thực là ô uế thanh danh. Dáng vẻ cao to cường tráng mà phẩm chất
không được một phần của Dương tiểu huynh đệ. Quả thật là tốn công nuôi
dưỡng, ta thật sự cảm thấy mất mặt thay cho cha mẹ ngươi.</p><p>Những thương hộ này cũng không ngừng chửi rủa khinh miệt, phỉ nhổ vào hành vi của Tô Mộc.</p><p>Sắc mặt Tô Mộc lúc tái lúc đỏ, trong lòng biết rằng sau này nếu còn đến Ô Mai trấn e là phải che mặt lại.</p><p>Tất cả mối họa này đều là do cái tên … sư huynh ở trước mặt này! Nếu không
phải hắn thì mình đã có thể dành được thiện cảm của ông chủ Hà. Sau này
có thể tới lui nhiều, tiếp xúc với con gái ông chủ Hà, thân phụ nghĩa
hiệp, gần quan thì có thể được ban lộc, không chừng có thể rước con gái
ông ta về.</p><p>Nhưng hiện tại tất cả đã như bọt nước, chẳng những kế hoạch không thành công, thanh danh cũng bại hoại.</p><p>Tô Mộc tuy tức giận vô cùng, nhưng ngược lại thần sắc bình tĩnh, mắt lạnh lùng nhìn Dương Khai:</p><p>- Vị sư huynh này, xưng hô thế nào?</p><p>- Ngươi đoán xem!</p><p>Dương Khai nháy mắt.</p><p>Tô Mộc hít một hơi thật sâu nói:</p><p>- Ngươi không nói ta cũng có thể biết được thân phận của ngươi, nhập môn
hơn ba năm, hiện giờ lại vẫn không thể phá được Thối Thể cảnh. Cả Lăng
Tiêu các, đệ tử thí luyện chỉ đếm trên đầu ngón tay. Ngươi đợi đấy,
khoản nợ này ta sẽ tính sổ với người.</p><p>Dứt lời, liền xoay người ra ngoài. Dù sao thì Tô Mộc cũng có chút công phu, tuy có người ngăn cản
cũng bị y đẩy ra, lách ra khỏi đám đông, thản nhiên bỏ đi.</p><p>Đợi
cho Tô Mộc rời khỏi, mọi người mới nhớ tới hai tên đồ tễ bị đánh như đầu heo. Nhưng hiện tại thì không thấy tung tích bọn chúng đâu? Khi Dương
Khai và Tô Mộc đụng độ với nhau, bọn chúng sớm đã lén chạy mất.</p><p>Trận ồn ào này rốt cuộc cũng kết thúc. Thực ra việc Dương Khai sáng suốt
vạch trần được trò lừa bịp vừa rồi, khiến những thương hộ này không dứt
lời khen ngợi, nhất là ông chủ Hà, vô cùng cảm kích.</p><p>Tên tiểu nhị nhỏ tuổi kia rất sùng bái Dương Khai.</p><p>Đám người dần tản đi, bà chủ cũng đi tới, cầm tay Dương Khai mãi không thả ra, càng nhìn càng thấy thích.</p><p>Ông chủ Hà lộ vẻ mặt lo lắng:</p><p>- Dương hiền chất, hôm nay đắc tội với Tô Mộc, e rằng sau này trong tông môn sẽ gặp nhiều phiền toái.</p><p>Trải qua chuyện ngày hôm nay, ông chủ Hà đã xưng hô thân thiết hơn với Dương Khai.</p><p>- Không sợ.</p><p>Dương Khai khẽ mỉm cười.</p><p>- Tông môn có quy củ của tông môn, cho dù y hận cháu cũng không thể làm gì được.</p><p>- Tuy là nói như thế nhưng hiền chất vẫn phải cẩn thận, nếu như vì chuyện ngày hôm nay mà mang lại tai họa cho hiền chất thì thúc thúc cũng không an tâm.</p><p>- Cháu sẽ cẩn thận.</p><p>Dương Khai an ủi.</p><p>Hai vợ
chồng ông chủ Hà cảm ơn Dương Khai hôm nay đã ra tay cứu giúp, muốn hắn ở lại ăn cơm tối. Vốn Dương Khai định đồng ý, kết quả bị câu nói của bà
chủ làm cho sợ mà chạy mất.</p><p>- Tiểu Dương, cha mẹ cháu còn không? Nhà ở đâu? Năm nay có muốn có con dâu không?</p><p>Xem điệu bộ, bà chủ e là muốn làm trượng mẫu nương của mình rồi. Dương Khai ngầm suy đoán, nhanh chóng tìm cách chuồn.</p><p>Lúc đi còn vác trên lưng túi gạo trắng. Dùng hơn mười lượng bạc cũng không
thể mua được. Lần này đồ ăn của một tháng không cần phải quan tâm nữa.</p><p>Dương Khai vốn dĩ còn lo lắng Tô Mộc trên đường đi mai phục mình. Dù sao Tô
Mộc cũng là người bụng dạ hẹp hòi, biến hóa nham hiểm, chuyện mai phục
đánh lén là không thể không xảy ra. Nhưng mãi cho đến khi về tới Lăng
Tiêu các, y vẫn không hề xuất hiện.</p><p>Nghĩ kỹ lại, y không đánh lén mình coi như là biết điều. Các đệ tử trong Lăng Tiêu các khiêu chiếu
với nhau, cũng không ít người chết. Nhưng tông môn có quy định của tông
môn, tuyệt đối không cho phép vô cớ ra tay giết hại đồng môn, nhất là
đồng môn tự giết nhau ở bên ngoài. Nếu y mai phục mình ở bên ngoài Lăng
Tiêu các, chuyện này bại lộ ra, bản thân Tô Mộc cũng gặp tai họa lớn.</p><p>Y muốn đối phó với mình chắc chắn là sẽ khiêu chiến! Về phần y có thể
nghe ngóng thân phận của mình hay không, điểm này thì không cần hoài
nghi rồi. Các để tử thí luyện của Lăng Tiêu khá là ít, cho dù trước kia
Tô Mộc không biết mình thì chỉ cần tùy tiện hỏi một chút cũng có thể
biết được thân phận của mình.</p><p>Thực lực của người này Dương Khai
không nhìn thấu được, nhưng khẳng định là Thối Thể cảnh, chỉ là không
biết Thối Thể cảnh của y ở tầng thứ mấy?</p><p>Xem ra phải khẩn trương tu luyện thôi, nếu không thật sự không có cách nào ở lại Lăng Tiêu các.</p><p>Nói là làm, Dương Khai vội vã quay trở về phòng, nghỉ ngơi một chút rồi bắt đầu tu luyện.</p><p>Hiện tại lúc này đã không thể tu luyện Thối Thể thiên được nữa rồi, nhưng có thể tu luyện được các kỹ năng cơ bản của Lăng Tiêu các. Những kỹ năng
cơ bản này là ngoại gia công phu dùng để tôi luyện cơ thể. Lấy chiêu
thức bên ngoài tiêu hao thể lực của bản thân, nhằm rèn luyện cơ thể.</p><p>Giống như trước đây Dương Khai bị khiêu chiến, trường quyền và đá ngang là
loại kỹ năng cơ bản này. Trường quyền và đá ngang không được coi là võ
công, nói cách khác không thể gọi là võ công chân chính, chỉ có thể coi
là cơ sở. Loại kỹ năng cơ sở này, mỗi môn phái và gia tộc đều phải có.</p><p>Bên khoảng đất trống phía bên trái căn phòng nhỏ của Dương Khai có một
người gỗ cao cỡ người thật do hắn tự làm, được làm từ gỗ cây hòe đã trăm năm tuổi. Tính chất cứng rắn, dùng để tu luyện là tốt nhất. Trên thân
người gỗ này mấp mô nhiều điểm, thậm chí còn có vài vết máu, chính là
dấu vết mà thường ngày Dương Khai rèn luyện lưu lại.</p><p>Chuẩn bị tư
thế, Dương Khai đấm bình bịch vào người gỗ. Toàn lực dùng quyền, chân
lui nhanh như gió, người gỗ bị đánh lay động không ngừng, phát ra âm
thanh bình bịch.</p><p>Tuy nhiên, mới tu luyện được một lát, Dương Khai liền cảm giác có gì đó không đúng.</p><p>Hôm nay nắm đấm và lực chân của mình dường như lớn hơn trước kia rất nhiều. Từ biên độ đong đưa của người gỗ và âm thanh truyền ra có thể so sánh
một cách rõ ràng. Hơn nữa, theo thời gian, máu thịt của mình, xương cốt
của mình cũng có cảm giác tê dại, nóng rần. Cảm giác này rõ ràng là từ
trong kinh mạch truyền đến. Khí cảm mới được sinh ra từ sáng sớm đã dần
trở nên rõ ràng, không ngừng chuyển động trong cơ thể.</p><p>Thối Thể
tầng bốn bắt đầu, sinh ra khí cảm, có thể rèn luyện kinh mạch trong cơ
thể. Cảm giác ấm áp tê dại đó là do kinh mạch được khai thông. </p> </div>