Vũ Luyện Điên Phong - Chương 7: Thối thể cảnh tầng bốn, sinh ra<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Tuy năm nay Dương Khai mới mười lăm tuổi, nhưng kể từ sau lần gặp đại
nạn cách đây ba năm, tính cách của hắn đã trưởng thành hơn rất nhiều so
với những đứa cùng trang lứa khác. Cũng chính trận đại nạn đó đã rèn cho hắn tính kiên cường.</p><p>Cho nên Dương Khai đã lấy lại bình tĩnh một cách nhanh chóng. Hắn ngồi ở mép giường, tay cầm quyển Vô Tự Hắc Thư,
xem xét tỉ mỉ trang thứ nhất.</p><p>Sau khi xác định trang thứ nhất không còn bất cứ tác dụng gì, Dương Khai mới chậm rãi lật sang trang thứ hai.</p><p>Có được kinh nghiệm của lần trước, động tác lần này của Dương Khai tỏ ra
thuần thục hẳn lên. Hắn căng to hai mắt nhìn trừng trừng vào trang sách
đen sì, một hồi lâu sau, giống như trang sách thứ nhất, những chữ to
thiếp vàng từ từ hiện ra.</p><p>- Ngạo Cốt Kim Thân: Thối Thể thiên!</p><p>Trong lòng Dương Khai bất giác trỗi lên một nỗi lo sợ! Sự tình quả nhiên như
dự đoán, e rằng mỗi một trang của cuốn Hắc Thư này đều ẩn chứa một điều
gì đó.</p><p>Gần như không chút nghĩ ngợi gì, Dương Khai hoàn toàn chú tâm vào trang thứ hai của cuốn Vô Tự Hắc Thư.</p><p>Trong phút chốc, những chữ to thiếp vàng trên trang Hắc Thư dường như biến
thành một đàn cá sống, từ trang sách chui ra, ánh kim sáng lấp lánh cả
một vùng trời, rồi chui vào đầu của Dương Khai. Đợi đến khi ánh kim biến mất, Dương Khai chỉ cảm thấy trong đầu mình dường như có thêm thứ gì
đó. Mà những thứ này, chính là do ánh kim lúc nãy đã đem đến.</p><p>Bình tĩnh trở lại, Dương Khai nhắm mắt lại và bắt đầu xem xét những kiến thức có trong đầu.</p><p>Thật ra cũng không cần mày mò suy nghĩ gì nhiều, những kiến thức đi theo ánh kim vào trong đầu lúc này đây đang hiện lên rõ ràng trong bộ não, chỉ
cần suy nghĩ một chút liền hiện ra, hơn nữa còn có thể hiểu tường tận
thấu đáo.</p><p>- Đây là Thối Thể thiên!</p><p>Dương Khai lẩm bẩm trong miệng, hắn phát hiện cuốn này là một bộ võ thuật quyền cước.</p><p>Bộ võ thuật quyền cước mới nhìn thì thấy đơn giản nhưng thật ra lại huyền
bí vô cùng, mà thời gian luyện bộ võ thuật quyền cước này yêu cầu rất
ngặt nghèo, đúng vào lúc mặt trời mọc mới có thể luyện được.</p><p>Cũng có nghĩa là, mỗi ngày nhiều lắm cũng chỉ luyện được nửa canh giờ mà thôi.</p><p>Bây giờ màn đêm chỉ mới buông xuống, đến lúc mặt trời mọc ít nhất phải chờ
năm tới sáu canh giờ nữa. Dương Khai bị hành hạ cả ngày, lại chỉ ăn một
củ khoai nướng, bụng đang sôi sùng sục. Tuy cơ thể suy nhược, nhưng có
được bảo bối Vô Tự Hắc Thư này nên tinh thần của hắn phấn khởi vô cùng.</p><p>Nhất thời không ngủ được, hắn bèn bắt đầu nghiên cứu trang thứ ba của Vô Tự Hắc Thư.</p><p>Nhưng điều khiến hắn thất vọng là bất luận hắn săm xoi thế nào vẫn không thấy trang thứ ba có gì thay đổi, xem mãi xem mãi rồi ngủ thiếp đi.</p><p>Lúc Dương Khai tỉnh dậy mặt trời vẫn chưa mọc. Trước khi bình minh ló dạng
là lúc màn đêm âm u nhất, mọi vật tĩnh lặng. Toàn bộ Lăng Tiêu các đều
yên tĩnh, chợt có tiếng côn trùng kêu và tiếng chim hót truyền đến, đó
là tiếng chim chóc muông thú thức dậy đi kiếm ăn.</p><p>Vì đã dự định
từ trước nên Dương Khai vội vàng bò dậy ra khỏi giường, ra đứng trước
căn nhà nhỏ, hai tay thả lỏng, hít sâu vài hơi rồi từ từ thả lỏng toàn
thân.</p><p>Ánh bình minh bắt đầu ló dạng ở phía đông, Dương Khai mở
mắt ra, bộ võ thuật quyền cước của Thối Thể thiên đã luyện vô số lần
trong đầu nên hắn lập tức vào tư thế một cách thuần thục.</p><p>Song
thủ thành chưởng, động tác nhẹ nhàng chậm rãi, lần lượt tay trái rồi tới tay phải đẩy về phía trước rồi lại thu về như kéo trời đất về phía
mình, chà xát vạn vật giữa hai tay, hai chân đứng giữa trời đất vũ trụ,
hít thở nhật nguyệt cùng các vì tinh tú.</p><p>Chân trái bước ra,
khoảng cách như chân trời, chân phải nhẹ nhàng di chuyển, một bước đến
nơi hoàng tuyền U Minh. Trong lúc hít thở, sức sống tràn trề, giống như
mùa xuân đến trăm hoa đua nở, sắc xuân dạt dào, xuân qua hạ đến, mặt
trời chói chang, hương sen ngào ngạt.</p><p>Gió thu hiu quạnh, trĩu quả vàng tươi, đi vào lòng người. Gió đông rét mướt, rít lên âm ỉ, màu
tuyết trắng xóa, khoác lớp áo trắng lên vạn vật.</p><p>Sắc mặt Dương
Khai chùng xuống, chậm rãi thi triển quyền cước, cơ hồ như đang bị tảng
đá có trọng lượng hàng nghìn cân đè lên, bất luận thế nào cũng không thi triển được.</p><p>Sau một hồi có tiếng răng rắc, mặt Dương Khai nhợt nhạt hẳn đi, cả người chợt lảo đảo, suýt chút nữa ngã quỵ xuống đất.</p><p>Tuy đã luyện trong đầu vô số lần, cũng biết bộ võ thuật quyền cước này cực
kỳ không đơn giản, nhưng Dương Khai tuyệt nhiên không nghĩ rằng cuốn
Thối Thể thiên này lại huyền diệu đến mức độ này.</p><p>Trong khoảnh
khắc ngắn ngủi lúc nãy, Dương Khai cảm thấy như trời đất đang đè lên
người hắn, nhưng dưới áp lực khổng lồ này, hắn lại có thể cảm nhận được
tất cả cảm giác trong nhân gian.</p><p>Quyển Thối Thể thiên này không
phải luyện quyền cước, mà là luyện thế sự xoay vần, sinh lão bệnh tử;
luyện về chua ngọt đắng cay, hỷ nộ ái ố; luyện về vui buồn ly hợp, âm
tình viên khuyết. Trong mỗi quyền cước chậm rãi, đều chịu ảnh hưởng từ
sức mạnh của trời đất, ẩn chứa trong đó những quy tắc kỳ diệu.</p><p>Chẳng qua vừa rồi Dương Khai cũng chỉ mới đẩy được sáu chưởng, bước được ba
bước mà thôi, vẫn chưa đạt đến một phần trăm tiến độ của quyển Thối Thể
thiên này thì đã thấy khó mà tiếp tục được. Tiếng răng rắc đó vang lên,
thậm chí còn phát ra từ chỗ xương cột sống, khiến cho Dương Khai lầm
tưởng xương cốt của mình đã gãy hết rồi.</p><p>Vội vàng cảm nhận một chút, hắn phát hiện sau lưng chỉ hơi đau một chút, không có gì lo ngại.</p><p>Trấn tĩnh lại tinh thần, Dương Khai lại tiếp tục vào tư thế, thi triển những động tác võ thuật quen thuộc của Thối Thể thiên.</p><p>Lúc nãy chưa chuẩn bị tâm lý, tinh thần hoảng hốt nên Dương Khai vẫn chưa
cảm nhận rõ ràng lắm. Lần này đã rút ra bài học, Dương Khai tự nhiên nín thở, tập trung tâm trí. Nương theo những động tác chậm rãi của quyền
cước, một lần nữa Dương Khai lại cảm nhận được ý cảnh lúc nãy, hơn nữa
còn rõ ràng hơn lúc nãy rất nhiều.</p><p>Trong lòng có một cảm giác
phức tạp, không thể diễn tả được là tư vị gì. Không những vậy, tiếp tục
khai triển thì quyền cước của hắn càng ngày càng nặng nề, dường như cả
người đang chìm sâu dưới nước, vô cùng gian nan, khó mà khai triển được.</p><p>Tiếng ken két văng vẳng bên tai, mỗi động tác đều khiến cho xương cốt trên
khắp cơ thể của Dương Khai vang lên, âm thanh như nổ pháo, toàn thân đau buốt, nhưng Dương Khai lại không mảy may gì cả, kiên trì đến thời khắc
này dùng hết sức mình khai triển bài võ thuật.</p><p>Trong nháy mắt, mồ hôi nhễ nhại khắp người, tay chân Dương Khai không ngừng run rẩy, giống như trọng lượng của trời đất đều đang đè lên người, nặng vô cùng.</p><p>Trong lòng mách bảo hãy kiên trì lên.</p><p>Bỗng nhiên trong cơ thể có một cỗ khí nóng thoát ra, từ từ phát tán. Lúc này cơn đau buốt khắp người đã giảm đi nhiều, tinh thần Dương Khai phấn
chấn hẳn lên, càng giúp hắn tập trung ý chí, khai triển quyền cước. Hắn
biết cỗ khí nóng này nhất định là do Ngạo Cốt Kim Thân trong cơ thể đã
dung hòa với cơ thể rồi phát tán ra. Suy cho cùng Thối Thể thiên và Kim
Thân là bộ đôi phối hợp.</p><p>Mặt trời lên, trước căn nhà nhỏ ở nơi
hẻo lánh nhất Lăng Tiêu các, một thiếu niên mồ hôi ướt đẫm chậm rãi thi
triển quyền cước luyện võ. Từ hôm nay hắn bắt đầu khám phá con đường võ
học mênh mông.</p><p>Nửa canh giờ trôi qua rất nhanh, khi Dương Khai
đột nhiên cảm thấy toàn thân nhẹ tênh, không còn cảm giác có vật nặng đè lên người, thì biết lúc này không thể tiếp tục luyện Thối Thể thiên
được nữa.</p><p>Thối Thể thiên đã ghi rất rõ, chỉ duy nhất trong thời
gian nửa canh giờ trước khi mặt trời lên mới có thể luyện bộ võ thuật
quyền cước này.</p><p>Sức lực toàn thân dường như bị hút cạn, Dương
Khai liền ngồi phịch xuống đất, hít một hơi thật sâu, một cỗ khí màu tím nương theo hơi thở cuốn vào miệng Dương Khai rồi biến mất. Trong nháy
mắt, Dương Khai cảm thấy tinh thần sảng khoái, trong cơ thể dường như có sự thay đổi.</p><p>Dương Khai liền sửng sốt, vội vã tỉ mỉ xem xét lại. Lần này Dương Khai không khỏi giật mình kinh hãi.</p><p>Khí cảm! Không ngờ mình đã sinh ra khí cảm. Nói cách khác, mình đã đột phá Thối Thể tầng ba và đã đạt đến Thối Thể tầng bốn.</p><p>Tin vui trọng đại này làm Dương Khai vô cùng phấn khởi. Từ lúc vào Lăng
Tiêu các cho đến nay, mất ba năm để luyện tới Thối Thể tầng ba, nhưng
hôm nay chưa tới nửa canh giờ khai triển võ thuật quyền cước lại đột phá được.</p><p>Thối Thể cảnh tổng cộng có chín tầng, dùng để luyện thân
thể, ba tầng đầu chỉ là luyện cho cơ thể cường tráng, không có gì đặc
biệt cả, nhưng sau khi luyện đến tầng thứ tư, bên trong kinh mạch sẽ tạo ra khí cảm.</p><p>Chỉ khi tạo ra khí cảm, mới có thể luyện bước kế tiếp.</p><p>Tuy rằng lúc này đã có khí cảm, nhưng trong cơ thể vẫn chưa có nguyên khí,
chỉ khi nào đạt đến Thối Thể tầng bảy, trong cơ thể mới tạo ra chút ít
nguyên khí, mãi đến khi kết thúc Thối Thể tầng chín, nguyên khí sơ khai
đả thông trời đất, đột phá đến Khai Nguyên cảnh, thì mới thực sự có được nguyên khí của chính mình.</p><p>Khai Nguyên cảnh mới chỉ là bước khởi đầu của người luyện võ.</p><p>Mọi thứ trong Thối Thể cảnh đều là bước cơ bản ban đầu giúp ích cho sau
này. Bước cơ bản này không hề cố định theo khuôn mẫu, sẽ được tăng cường theo thực lực của mỗi cá nhân, gân cốt da dẻ sẽ được tôi luyện liên
tục, mãi cho đến khi đạt tới đỉnh điểm.</p><p>Mà cho đến giờ phút này
chẳng qua Dương Khai cũng chỉ mới đạt tới Thối Thể cảnh tầng bốn mà
thôi. Vừa có được khí cảm, đối với người khác thì chẳng đáng là gì,
nhưng đối với Dương Khai mà nói, thì đây quả là một tin tuyệt vời. </p> </div>