Vũ Luyện Điên Phong - Chương 6: Ngựa tốt phối yên tốt, mỹ nữ<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Cứ nằm im trên mặt đất đã hơn một canh giờ, Dương Khai mới đứng dậy. Cơn giày vò vừa nãy đã rút hết tất cả khí lực của hắn.</p><p>Hồi tưởng lại một canh giờ trước từng ly từng tý một, Dương Khai giống như
đưa mình vào cõi mộng. Quả thật không dám tin đây là sự thật.</p><p>Khẽ véo mình một cái, cảm thấy hơi đau.</p><p>- Rốt cuộc sao lại thế này, lai lịch của cuốn Hắc Thư kia là gì?</p><p>Dương Khai lầm bầm tự hỏi, có chút mơ hồ không rõ.</p><p>Đợi tới lúc tinh thần bình ổn trở lại, Dương Khai lập tức phát hiện trong
người có chút gì đó khang khác. Bản thân mình vốn dĩ ba bữa không đủ no, cứ năm ngày lại bị ăn đủ các đòn hiểm, thân hình thì gầy gò ốm yếu. Thế nhưng hiện tại Dương Khai lại cảm giác rõ ràng trong cơ thể của mình ẩn chứa một sức sống mãnh liệt, một cỗ năng lượng ấm áp tỏa ra từ bên
trong. Một cảm giác khoan khoái, dễ chịu không thể nói ra.</p><p>Khẽ cử động một chút, không ngờ xương cốt trong cơ thể lại lại phát ra những
âm thanh lách tách vui tai, dường như có thể tấu thành một khúc tuyệt
âm. Hơn nữa trên người cũng không còn đau nhức nữa, chỗ bị Chu Định Quân đả thương hôm nay dường như cũng đã khỏi hẳn.</p><p>Cảm nhận được điểm này, Dương Khai vội vàng xắn tay áo, vén y phục lên xem xét tỉ mỉ một
lượt thì phát hiện ra, những vết thương chỗ xanh chỗ tím trên người hoàn toàn biến mất, thậm chí những vết thương cũ trước kia cũng có dấu hiệu
khỏi hẳn.</p><p>Chỉ là vẫn gầy như củi khô như thế!</p><p>Đưa tay khẽ
chà vào mấy vết thương cũ, da chết rơi xuống, lộ ra phần da non bên
trong. Mặc dù không giống trẻ con mới sinh, nhưng so với trước kia thì
trông khỏe mạnh hơn rất nhiều.</p><p>- Híz-khà-zzz …</p><p>Dương Khai hít
một hơi lương khí, hoàn toàn không nghĩ rằng sau khi Khô Lâu Kim Thân
dung nhập vào cơ thể mình lại có sức mạnh hồi phục lớn như vậy!</p><p>Cảm thụ lại thực lực của mình một lần nữa, phát hiện vẫn là Thối Thể tầng
ba như trước, không có chút thay đổi nào. Phát hiện này khiến Dương Khai không khỏi có chút thất vọng.</p><p>Từ nhỏ Dương Khai đã được xem
nhiều, nghe nhiều những điển cố trong giang hồ, những chuyện bí mật của
các bậc tiền bối. Hắn biết trên đời này có rất nhiều người phúc trạch
may mắn gặp được kỳ ngộ, từ đó về sau như cá vượt Long Môn, thành công
hết sức oai danh.</p><p>Nhưng dù sao cũng chỉ là chuyện kể mà thôi,
thực sự có thể gặp được kỳ ngộ mà thay đổi cả một kiếp tầm thường, cả
thiên hạ có được mấy người? Các bậc tiền bối cao nhân thực lực càng
mạnh, càng không đành lòng để công sức tu luyện cả đời của mình chôn
theo đất. Trước lúc lâm chung luôn ra sức tìm kiếm y bát truyền nhân.
Cho nên chuyện muốn nhảy xuống vách đá, chui vào sơn động gặp được kỳ
ngộ, căn bản là không thể xảy ra.</p><p>Nhưng chuyện như thế này bây
giờ lại xảy ra trên người mình. Hắc Thư thần bí kia nhất định là có lai
lịch lớn, Ngạo Cốt Kim Thân cũng vô cùng thần kỳ, không hề tầm thường.</p><p>Đây có thể nói là kỳ ngộ của mình, cũng có thể nói là kết quả tất yếu.</p><p>Bốn câu cuối trên trang đầu tiên của Hắc Thư rõ ràng viết: Ngạo Cốt Kim
Thân, bá giả hoành lan, bất khuất chi hồn, phương năng hàng chi!</p><p>Nếu không phải mình lấy được Hắc Thư mà do một người nào khác lấy đi, cũng
tuyệt đối không thể nào khám phá ra được sự huyền bí trong đó, chỉ có
thể bị coi là thứ rác rưởi bẩn thỉu mà thôi. Chính vì được mình nhặt về, gối dưới đầu một năm, nên nó đã cảm nhận được sự bất khuất và cứng cỏi
trong cơ thể mình, hôm nay bí mật của Hắc Thư mới hiện ra.</p><p>Nói
cách khác, sự tình lần này quả thật là kỳ ngộ của mình, nhưng lại là kỳ
ngộ có được nhờ vào năng lực của bản thân. Nghĩ tới đây, Dương Khai chợt thấy sung sướng, bởi cái gọi là ngựa tốt phối yên tốt, mỹ nữ tặng anh
hùng…</p><p>- Hắc Thư đâu.</p><p>Dương Khai bỗng nhiên nhớ tới bảo bối
được mình gối đầu một năm qua, bất giác vội vàng đi tìm, nhưng làm thế
nào cũng tìm không ra.</p><p>Đang lúc lo lắng, dường như trong cơ thể
mơ hồ có chút động tĩnh gì đó. Ngay sau đó, Hắc Thư liền bỗng xuất hiện
trước mắt Dương Khai, rơi bộp xuống mặt đất.</p><p>Dương Khai ngạc
nhiên, đưa tay nhặt lên, chau mày suy tư một lát. Tâm niệm vừa động, Hắc Thư từ trong tay liền biến mất. Khẽ động lần nữa, Hắc Thư lại xuất
hiện.</p><p>Cảnh tượng này giống như đang chơi trò ảo thuật, nhưng sắc
mặt của Dương Khai lại nghiêm trọng vô cùng, vì hắn thực sự đã cảm nhận
được, Hắc Thư có thể dựa theo ý niệm của mình mà thu vào trong cơ thể.</p><p>- Chất liệu của cuốn Vô Tự Hắc Thư này chẳng lẽ lại… là Trấn Hồn thạch!</p><p>Dương Khai vừa dứt lời, thiếu chút nữa dọa chết mình.</p><p>Trấn Hồn thạch à! Nhưng đó chính là nghịch bảo trong truyền thuyết.</p><p>Chỉ có nơi có hàng tỉ âm hồn tụ tập, cửu âm vực sâu không thấy mặt trời,
hấp thụ vô số tinh linh mới có cơ hội hình thành kỳ dị thạch.</p><p>Lời đồn đại xưa nhắc đến chính là thứ này.</p><p>Một khối hắc thạch cỡ một tấc vuông, vùi trong lớp lớp bùn lầy, sinh linh không thể đến gần, cỏ cây cũng không thể sống nổi!</p><p>Lời này có chút hơi hướng khuếch đại, một khối Trấn Hồn thạch lớn cỡ một
tấc vuông làm sao có thể chôn vùi dưới hàng vạn hàng vạn dặm đất đai?
Nhưng quá trình hình thành của loại đá kỳ dị này quả thật tàn nhẫn tanh
mùi máu. Bất cứ sinh mạng nào tới gần chung quanh, đều sẽ chết ngay lập
tức.</p><p>Mà thời gian hình thành của nó cũng vô cùng dài, nhanh thì mấy ngàn năm, lâu thì trên vạn năm.</p><p>Quá trình hình thành tạm thời không truy cứu đến, nhưng một khi Trấn Hồn
thạch được hình thành, đó chính là báu vật không gì bằng. Bởi vật này có sức mạnh rất kỳ lạ, nó có thể dung nhập được vào cơ thể người, còn có
thể mở ra một không gian đặc biệt từ bên trong, không gian này có thể to có thể nhỏ, dùng để cất giữ đồ đạc thì không gì tốt hơn.</p><p>Mặc dù
Dương Khai chỉ là đệ tử thí luyện của Lăng Tiêu các, thân phận hèn mọn,
nhưng kiến thức cũng không hề kém, huống hồ truyền thuyết Trấn Hồn thạch lại được lưu truyền nhiều năm như vậy, bất cứ ai cũng từng được nghe
qua.</p><p>Lúc vừa cầm lấy cuốn Hắc Thư, Dương Khai vẫn không ngờ tới
điều này. Nhưng bây giờ thấy mình có thể thu nó vào trong cơ thể, lại
liên tưởng đến bộ Khô Lâu Kim Thân thoát ra từ trong trang sách, làm sao có thể không nhận ra chất liệu của Hắc Thư?</p><p>Dương Khai mồ hôi đầm đìa.</p><p>Trấn Hồn thạch này chỉ tồn tại trong truyền thuyết, sớm đã tuyệt tích hậu
thế. Nhưng không ngờ mình lại có thể gặp được một khối, mà còn là một
khối lớn thế này!</p><p>Lời đồn trong truyền thuyết kia chỉ nói Trấn
Hồn Thạch lớn một tấc vuông, mặc dù chỉ lớn có như vậy cũng vô giá rồi.
Nhưng khối đá trước mắt mình lại được chế tác thành một cuốn Vô Tự Hắc
Thư, một cuốn Hắc Thư dài một thước, dày ba chỉ!</p><p>Giá trị này… không thể lường được!</p><p>Việc này nếu lan truyền ra ngoài, đừng nói một Lăng Tiêu các hèn mọn, ngay
cả Vương triều Đại Hán, e rằng cũng bị người ta san bằng trong một đêm.</p><p>Dương Khai không kìm được cảm giác nóng bỏng trên tay, trong lòng kinh hãi
hết sức, cũng không quên lau mồ hôi. May là vật này có thể thu vào trong cơ thể, bằng không phiền toái to rồi.</p><p>Thân mang nghịch bảo như
thế, Dương Khai cũng không dám không cẩn thận. Hắn vội vàng như ăn trộm
đóng cửa lại, trốn trong nhà mà tim đập thình thịch.</p><p>Dương Khai vô cùng hưng phấn, rồi lại lo sợ bất an.</p><p>Hiện tại thực lực của mình thấp như vậy, làm sao giữ được trọng bảo như thế
này bên mình đây? Tuy nói Vô Tự Hắc Thư có thể thu vào trong cơ thể,
không lo nguy cơ bị bại lộ, nhưng dù sao Dương Khai cũng cảm thấy không
tự tin.</p><p>Chỉ có tu luyện, chỉ có trở nên mạnh mẽ, mới có thể giữ
được thứ thuộc về mình! Nhớ tới cảnh ngộ ba năm trước đây, ánh mắt sợ
hãi của Dương Khai dần dần tỉnh táo trở lại.</p><p>Mình vượt ngàn dặm xa xôi, lang thang vất vưởng đi tới Lăng Tiêu các này, không phải là để tu luyện sao?</p><p>Mình đã có được Vô Tự Hắc Thư, khám phá nó không chút trở ngại. Trang thứ
nhất của Hắc Thư cho mình Ngạo Cốt Kim Thân, tuy không biết rốt cuộc nó
có ích lợi gì, nhưng xem ra tuyệt đối sẽ không thấp kém. Mà Hắc Thư còn
có nhiều trang như vậy, chẳng lẽ lại chỉ có mỗi một bộ Kim Thân? </p> </div>