Vũ Luyện Điên Phong - Chương 23: Món đồ Lợi hại<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Trận chiến này trong con mắt của những đệ tử quan sát chính là một trận
sóng to gió lớn, nếu không vì e dè thân phận của Tô Mộc thì sợ rằng mọi
người đều đã chạy đi bẩm báo truyền tin rồi. Nhưng vì chuyện này có liên quan tới Tô Mộc nên mọi người cũng là thức thời, không dám nói lung
tung ra ngoài, chỉ đành đem chuyện giấu nhẹm trong lòng.</p><p>Phía trước phòng nhỏ rốt cuộc cũng yên tĩnh trở lại.</p><p>Nhìn sắc trời, Dương Khai có chút buồn bực, hôm nay bị Tô Mộc trì hoãn như
vậy đã làm lỡ mất thời giờ tu luyện Tôi Thể, không khỏi tiếc nuối.</p><p>Trở về phòng lấy bộ quần áo duy nhất còn lại của mình, Dương Khai chạyđến
bên cạnh ao nhỏ cởi bộ quần áo rách nát trên người mình chuẩn bị tắm
rửa. Mấy ngày nay đi lại trong núi, hơn nữa lại đánh nhau với con nhện
lưng hoa, trên người đúng là có mùi khác lạ.</p><p>Hạ Ngưng Thường lén
lút tới gần, nàng muốn nhìn xem tên sư đệ này hiện là cảnh giới gì, vừa
rồi đứng xa quá nên cảm giác không rõ lắm. Trong phòng lại không có
người, đi vòng ra sau, ánh mắt sáng đảo qua, đập vào mắt nàng là cặp
mông trắng bóng, tầm mắt chuyển lên trên, không ngờ Dương Khai lại đang
cởi sạch đồ trên người, trần như nhộng không một mảnh vải đang trong tư
thế nhảy cầu.</p><p>Khuôn mặt nhỏ nhắn của nàng ửng đỏ. Tuy rằng nàng
thực lực rất cao nhưng dù sao vẫn là thiếu nữ chưa từng trải, đừng nói
đến mông mà ngay cả đùi nam nhân nàng cũng chưa từng nhìn thấy, hiện tại lại nhìn thấy cảnh tượng này thì sao sao có thể chịu đựng?</p><p>Quá kích thích. Hạ Ngưng Thường tim đập loạn nhịp, vội vàng nấp đi.</p><p>Sao hôm nay mình và…nơi này lại có duyên như vậy sao? Nàng thật đáng
thương, nước mắt cũng sắp rơi ra, nào nghĩ đến việc rình mò bí mật của
Dương Khai bèn nhún chân, trong nháy mắt thân hình đã biến mất.</p><p>Tên sư đệ thối này, sư môn trọng địa mà không kìm chế, ban ngày ban mặt trần truồng như vậy, thật quá vô sỉ, không biết xấu hổ.</p><p>Bên bể nước, Dương Khai vừa tắm rửa vừa kiểm tra thân thể của mình.</p><p>Hắn phát hiện sau khi tu luyện Thối Thể Thiên, cơ bắp của mình rõ ràng đã
trở nên tinh tráng và rắn chắc hơn trước kia rất nhiều. Tuy rằng vẫn là
gầy nhưng gầy có lực.</p><p>Hơn nữa vết thương để lại sau trận đại
chiến với con nhện lưng hoa ngày hôm qua giờ cũng đã liền vảy, chỉ còn
miệng vết thương ở cánh tay hôm qua bị xuyên qua là vẫn còn hơi đau.</p><p>Dù sao cũng là vết thương xuyên qua thịt, không thể lành nhanh như vậy
được, nhưng cũng không nghiêm trọng như mình tưởng, xem ra chỉ cần vài
ngày là có thể khỏi hẳn.</p><p>Hồi tưởng lại trận tử chiến ngày hôm
qua, Dương Khai lại có chút hưng phấn. Cũng không biết vì sao, hiện tại
bản thân mình càng gặp phải hiểm nguy lại càng nhiệt tình, tính cách
trước kia của mình vốn không phải là như vậy, chẳng lẽ chính trong tiềm
thức của mình còn có khuynh hướng chịu ngược đãi, sống mười mấy năm đột
nhiên bừng tỉnh.</p><p>Nghĩ vậy, Dương Khai vội chìm vào trong bể nước nìn thở một hơi dài, lúc lâu sau mới thò đầu lên.</p><p>Mặc dù có rất nhiều chuyện gấp phải làm nhưng sau khi tắm rửa, mặc quần áo tử tế hắn lại cầm chổi đi quét sân.</p><p>Đây dù sao cũng là công việc ở Lăng Tiêu Các, đã chấp nhận cuộc sống này thì phải sống cho tử tế.</p><p>Lúc quét rác, Dương Khai rõ ràng có thẻ cảm thấy ánh mắt của nhiều sư huynh sư đệ hôm nay nhìn mình không đúng, tràn đầy nghi hoặc. Nghĩ đến những
người này buổi sáng chỉ đếm xem náo nhiệt, không rõ vì sao hôm nay mình
có thể đánh ngất Triệu Hổ.</p><p>Dương Khai điềm đạm tiếp tục làm việc.</p><p>Quét xong đấy lại về phòng gỗ, mở túi lấy từ trong đó ra Tam diệp tàn hồn
hoa và Tuyệt địa cổ mục thảo rồi trút những thứ còn lại vào túi.</p><p>Những thứ thảo dược còn lưu lại đó Dương Khai giữ mà không dùng, cũng có thể
bán cho Cống Hiến Đường để đổi lấy ít điểm cống hiến.</p><p>Vác túi,
Dương Khai đang chuẩn bị đi ra ngoài, sau một hồi ngẫm nghĩ lại thay lại bộ áo bẩn thỉu rách rưới hôm qua, rồi lại bôi bẩn lên mặt sau đó mới đi ra ngoài.</p><p>Cống Hiến Đường, Mộng Lão tay cầm ấm trà, vểnh chẩn
bắt chéo ngồi sau quầy nhàn nhã thưởng thức trà thơm. Miệng còn hừ hừ sờ tới sờ lui cái vòi ấm.</p><p>Bỗng nhiên có bóng người xuất hiện ở cửa, Mộng lão uể oải ngẩng mặt lên nhìn, đang định mắng người nào đui mù
sang sớm đã tới quấy rầy lão phu thanh tình đã thấy Dương Khai chật vật
đi tới, bộ quần áo rách rưới căn bản không che được nét xuân của hắn,
hai cái đùi như ẩn như hiện còn nhìn rõ bộ lông.</p><p>Nơi cửa có hai thiếu nữ đệ tử Lăng Tiêu Các đi qua nhìn thấy cảnh này đều kinh hô lưu manh, xấu hổ che mặt rút lui.</p><p>Mộng chưởng quầy định lực cỡ nào? Trải qua núi đao biển lửa, hải cốt doanh
sơn mặt không đổi sắc, tàn sát mười tòa thành cũng chỉ như mây trôi nước chảy lúc này cũng phun ra một miệng trà, không còn gì là hình tượng.</p><p>- Tiểu Dương Khai, nhà ngươi đây là định náo loạn tới cỡ nào?</p><p>Mộng lão nét mặt ngổn ngang vội vàng đứng dậy, trợn mắt há mồm nhìn Dương Khai.</p><p>Dương Khai vọt tới trước quầy thở hổn hển nói lớn:</p><p>- Ta đã về rồi.</p><p>- Chịu không ít khổ sở chứ?</p><p>Mộng chưởng quầy rất đáng thương Dương Khai, mấy hôm trước lúc hắn từ đây đi còn khỏe mạnh, không nghĩ tới việc chỉ đi một chuyến Hắc Phong Sơn mà
đã thành ra như vậy, người không ra người quỷ không ra quỷ, quả thực là
rất bi thảm.</p><p>- Đúng là có chút hung hiểm.</p><p>Dương Khai gật đầu cũng không nói nhảm nữa mà vội vàng mở túi, chỉ vào một đống thảo dược trong túi nói:</p><p>- Tuy nhiên thu hoạch cũng không tệ. Mộng chưởng quầy, hãy thu những thảo dược này cho Cống Hiến Đường đi.</p><p>Mộng chưởng quầy vừa nhìn thấy thì lông mày dựng lên.</p><p>Chỉ là phàm cấp hạ phẩm thảo dược, căn bản không có giá trị gì. Trong Cống
Hiến Đường loại thảo dược này rất nhiều, thu cũng không có chỗ nào để.</p><p>Đang muốn cự tuyệt lại nhìn thấy vẻ mặt mong chờ của Dương Khai đang nhìn
mình, lại nhìn quần áo hắn như vậy thì trong lòng mềm nhũn, lập tức gật
đầu nói:</p><p>- Ừ, thu hết thu hết, cứ hai cây thảo dược đổi một điểm cống hiến.</p><p>- Vậy ông đếm đi.</p><p>Dương Khai cũng không trả giá mà đẩy túi về phía trước.</p><p>Mộng chưởng quầy đếm một lượt, tổng cộng được ba mươi hai gốc thảo dược, đổi được mười sáu điểm cống hiến, lập tức mở sổ ghi cho hắn.</p><p>- Ngươi đi Hắc Phong Sơn ba ngày kiếm được những thứ này đấy à?</p><p>Mộng chưởng quầy thuận miệng hỏi.</p><p>- Có thể lấy được bằng này đã là không tệ rồi.</p><p>Dương Khai vừa nói vừa dáo dác nhìn bốn xung quanh.</p><p>- Khụ, khụ, đúng là không tệ.</p><p>Mộng lão đầu không đành lòng đả kích Dương Khai, dù sao lão cũng biết được
tình cảnh gian khổ của hắn. Tiểu tử này tư chất không tốt nhưng lại rất
chịu khó, bây giờ người trẻ tuổi có thể chịu khổ nhọc như hắn không có
nhiều. Đáng tiếc là, tư chất chính là điểm yếu nhất của hắn, nhất định
cả đời này cũng chẳng có mấy thành tựu.</p><p>Chính lúc trong lòng đang cảm khái, Mộng chưởng quầy gặp ánh mắt Dương Khai đang nhìn ngắm loạn lên không khỏi hồ nghi:</p><p>- Ngươi đang nhìn cái gì vậy?</p><p>Dương Khai thần bí cúi người hướng lên trước thấp giọng nói:</p><p>- Mộng chưởng quầy, ta lần này vào núi như là tìm được đồ vật vậy.</p><p>Thấy Dương Khai cẩn thận như vậy, Mộng chưởng quầy trong lòng nghĩ đồ vật
kia chắc là có gì đó phi thường không thể so sánh lập tức sắc mặt nghiêm túc thấp giọng hỏi:</p><p>- Là đồ vật gì ?</p><p>- Ta không biết. Đây chẳng là mang về cho ông xem giúp sao, kiến thức của ông rộng chắc chắn là biết nó.</p><p>Dương Khai vừa nói vừa sờ sau mông lấy ra cái túi để trên quầy. </p> </div>