Vũ Luyện Điên Phong - Chương 49: Thắng lợi<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Thành Thiếu Phong đã chết! Không chút dấu hiệu chết trong tay Dương Khai.</p><p>Lần trước Dương Khai đại chiến đệ tử Phong Vũ lâu, Hồ Mị Nhi theo dõi từ
đầu tới cuối, mặc dù biết thực lực Dương Khai rất kinh người, nhưng
không ngờ mạnh tới vậy.</p><p>Thành Thiếu Phong đạt tới Khai Nguyên cảnh tầng một bị hắn dùng một ngón tay chỉ chết!</p><p>Đây là vũ kỹ gì? Sao có uy lực lớn như vậy ? Lỗ thủng trên trán Thành Thiếu Phong rõ ràng là bị một vật chí dương chí cương tạo thành.</p><p>Giờ
khắc này Hồ Mị Nhi khủng hoảng, thấy được thủ đoạn giết người sấm sét
của Dương Khai, nàng mới hiểu lời hắn vừa nói không phải đùa.</p><p>Hắn dám giết người, cũng có năng lực giết người!</p><p>Nộ Đào cũng vô cùng khiếp sợ, vừa rồi hắn và Dương Khai đối quyền, chiêu
thứ hai còn chưa kịp đánh ra đã thấy sư đệ chết trước mặt mình, biến cố
như vậy hắn lần đầu thấy.</p><p>- Ngươi dám giết Thành sư đệ!</p><p>Nộ Đào khàn giọng thét:</p><p>- Ngươi dùng thủ đoạng gì?!</p><p>Uy lực một chỉ kia quá mạnh mẽ, tuyệt đối là vũ kỹ, Nộ Đào có chút sợ, sợ mình cũng không thể ngăn nổi.</p><p>- Ngươi cũng phải chết!</p><p>Dương Khai đương nhiên hiểu đạo lý nhổ cỏ nhổ tận gốc, hai người này theo
mình tới đây chính là vì muốn giết mình, đối với địch nhân Dương Khai
chưa bao giờ nương tay.</p><p>Tình hình lần này không giống lần trước,
khi trước chỉ là kéo bè kéo lỹ đánh nhau, Dương Khai còn có thể hạ thủ
lưu tình, nhưng đối mặt với địch nhân muốn mạng mình, hạ thủ lưu tình
chính là ngu xuẩn.</p><p>Mắt thấy Dương Khai vội vàng xông tới chính mình mình, Nộ Đào cười dữ tợn:</p><p>- Chớ phô trương thanh thế, để mạng lại!</p><p>Vừa hô, nắm đấm cũng đánh ra, nghênh đón Dương Khai. Đối phương chỉ là Thối Thể cảnh, trong cơ thể có được bao nhiêu nguyên khí? Một chiêu kia uy
lực khổng lồ, tiêu hao tuyệt đối không nhỏ, nói cách khác hắn không thể
sử dụng thủ đoạn như vậy nữa.</p><p>Cho nên Nộ Đào mới không sợ hãi.</p><p>Mà khi giao thủ, Nộ Đào lập tức phát hiện mình đã sai rồi, Dương Khai vẫn
có thể sử dụng nguyên khí, mà trong mỗi chiêu hắn đều cảm nhận được một
cỗ năng lượng nóng bức, khiến bản thân Nộ Đào kinh ngạc không thôi, thực lực nếu không cao hơn Dương Khai thì căn bản không thể áp chế nổi.</p><p>Nộ Đào toàn diện né tránh, trái xê phải dịch, không dám chính diện giao
phong với Dương Khai, hắn chỉ muốn tiêu hao chiến, chờ khi nguyên khí
trong người Dương Khai hao sạch, đến lúc đó đối phương chính là cá nằm
trên thớt.</p><p>Ý nghĩ của Nộ Đào cũng không sai, đối phí với đệ tử
Thối Thể cảnh bình thường phương pháp xử lý này rất hữu hiệu, tuyệt đối
là trả giá nhỏ nhưng vẫn xử lý được địch nhân. Nhưng Dương Khai thì
khác, vừa hấp thu toàn bọ Dương Viêm lực trong một khối Dương Viêm
thạch, nguyên khí trong kinh mạch tràn đầy, chẳng khác sông dai, nói
không chừng Nộ Đào sẽ kiệt sức trước.</p><p>Rất nhanh Nộ Đào liền phát hiện có điểm không ổn.</p><p>Lúc đầu biểu hiện của Dương Khai rất giống võ giả Thối Thể cảnh, bất luận
là tốc độ hay lực đạo, mặc dù mạnh hơn bình thường một chút nhưng cũng
không thoát khỏi phạm vi Thối Thể cảnh. Nhưng thời gian dần qua, kèm
theo đủ loại thương thế mình lưu lại trên người hắn, thực lực Dương Khai vẫn tiếp tục tăng lên, một quyền nhanh hơn một quyền, lực đạo càng lúc
càng lớn, khiến cho Nộ Đào kiêng kỵ không dứt chính là trong chiêu thức
ẩn chứa lực lượng nóng bức càng ngày càng mạnh.</p><p>Giống như theo thời gian, thực lực của Dương Khai đang tăng lên.</p><p>Đây là chuyện gì xảy ra? Một võ giả đương chiến đấu, khiến khí trong cơ thể tiêu hao, lực chiến đấu càng ngày càng thấp, sao hắn lại là ngược lại ?</p><p>Thời gian một chén trà trôi qua, Nộ Đào không thể né tránh, bị một quyền của Dương Khai nện lên ngực.</p><p>Lực đạo nặng nề khiến Nộ Đào không thở nổi, lực nóng bức xâm nhập vào cơ thể giống như lửa thiêu.</p><p>Nhìn hai mắt Dương Khai đỏ ngầu, trong lòng Nộ Đào sinh ý lui!</p><p>Đánh một hư chiêu, Nộ Đào bứt ra, vội vã chạy về phía xa, thở dốc quát:</p><p>- Dương Khai, ngươi giết Thành sư đệ, ngươi nhất định phải chết!</p><p>Khai Nguyên cảnh tầng năm không đánh lại địch nhân liền muốn chạy trốn đối
phương cũng không có biện pháp, Nộ Đào rất tin tưởng điều này, bởi vì
khi giao chiến hắn cũng nhận ra Dương Khai không tu luyện vũ kỹ thân
pháp nào.</p><p>Nộ Đào muốn chạy, Dương Khai không ngăn được, chỉ trơ
mắt nhìn đối phương chạy ra xa vài chục trượng, bỗng nhiên trong lòng
Dương Khai khẽ động, giọt Dương dịch cuối cùng xuất hiện trên đầu ngón
tay.</p><p>Chợt Dương Khai vươn tay về phía trước, một màn kinh người hiện ra.</p><p>Một giọt Dương dịch này trong nháy mắt hóa thành một lưỡi dao mỏng như cánh ve đỏ như máu, vừa mới thành hình liền phóng ra ngoài.</p><p>Huyết ảnh phá vỡ không khí, đâm vào sau lưng Nộ Đào.</p><p>Nộ Đào thân thể cứng đờ, ngã xuống đất.</p><p>Khu rừng an tĩnh, chỉ có tiếng côn trùng kêu, tiếng chim hót truyền tới, Dương Khai thở hổn hển, chật vật không chịu nổi.</p><p>Hồ Mị Nhi hai chân run lên, toàn thân lạnh như băng, đáy lòng rét lạnh.
Nàng không rời đi là vì nghĩ khi Dương Khai không chống đỡ nổi sẽ cầu
cứu nàng, đến lúc đó nàng có thể đạt được mục đích của mình.</p><p>Nhưng điều khiến nàng không ngờ tới hai tên đệ tử Phong Vũ lâu tới giết Dương Khai lại bị Dương Khai giết.</p><p>Hai người này đều là Khai Nguyên cảnh nha, một tên tầng một, một tên tầng
năm, liên thủ đối phó một tên Thối Thể cảnh cuối cùng chẳng những thất
bại, ngay cả tính mạng cũng mất đi.</p><p>Tất cả giống như không phải sự thực, như không giải thích được.</p><p>Bỗng nhiên Hồ Mị Nhi cả kinh, nàng phát hiện Dương Mị chuyển mắt nhìn chằm chằm vào mình, hiện ý giết người diệt khẩu.</p><p>Theo bản năng, Hồ Mị Nhi lui về sau mấy bước.</p><p>- Ngươi dám cử động sẽ chết!</p><p>Dương Khai cất giọng lạnh như băng.</p><p>- Ta không cử động…</p><p>Giọng Hồ Mị Như nức nở như muốn khóc.</p><p>Nàng đã bị kinh hãi thực sự, cho dù Dương Khai giờ muốn giết nàng thì một
thiếu nữ như nàng có thể làm được gì? Mặc dù trong tình trường nàng rất
đắc ý nhưng thực lực của nàng không cao.</p><p>Dương Khai không quản
nàng nữa, mà lại đi tới bên người Thành Thiếu Phong cùng Nộ Đào, lục
soát, không tốn bao nhiêu công phu liền lấy ra một chút ngân lượng cùng
hai chai đan dược.</p><p>Hai chai đan dược còn thừa không nhiều lắm, nhưng cũng đáng giá một chút!</p><p>Không tính là ít! Chính là đáng tiếc Dương dịch mình cô đọng trong đan điền
đã không còn, sau một phen đại chiến, Chân dương nguyên khí trong kinh
mạch đã tổn hao phân nửa.</p><p>- Có phải ngươi thiếu tiền hay không?</p><p>Hồ Mị Nhi thấy Dương Khai lục soát hai cỗ thi thể, cả gan lên tiếng:</p><p>- Ta có thể cho ngươi, chỉ cần ngươi không giết ta là được.</p><p>Hiện giờ Hồ Mị Nhi nào dám phong tao trước mặt Dương Khai? Ngay cả nói chuyện nàng cũng vô cùng cẩn thận.</p><p>Dương Khai thản nhiên nhìn nàng:</p><p>- Ta cũng không phải lục lâm đ*o phỉ, muốn tiền của nàng làm gì? Ta thiếu tiền thì sẽ tự mình kiếm! </p> </div>