Vũ Luyện Điên Phong - Chương 14: Lư hương<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> Tu luyện mãi cho tới giờ lên đèn, Dương Khai mới thỏa mãn dừng lại. Thi
triển quyền cước lâu như vậy nhưng lại không thấy mệt mỏi, ngược lại
tinh thần phấn chấn, hứng khởi vô cùng. Sau khi có được Ngạo Cốt Kim
Thân, dường như thể lực của mình tăng lên không ít. Hôm nay đi bộ hai
mươi dặm cũng không mệt, vác túi gạo lớn như thế mà thấy nhẹ như không.</p><p>E là chỉ khi nào tu luyện Thối Thể thiên mới có thể khiến cho mình thực
sự có cảm giác áp lực. Nghĩ tới cảm giác khi tôi luyện Thối Thể thiên
sáng nay, Dương Khai bất giác cảm thấy run run. Cái cảm giác như trời
đất đè lên người thật là vô cùng khó chịu.</p><p>Nhưng có áp lực mới có tiến bộ, hiện tại ngay cả áp lực cũng không có thì làm sao có thể tu luyện được.</p><p>Tiềm lực của con người đều do bức mà ra, người luyện võ muốn trưởng thành
càng phải như thế. Từng bước bức bách tiềm lực của bản thân, từ từ vượt
qua giới hạn của chính mình, như thế thực lực của mình mới có thể tăng
lên.</p><p>Nhưng hiện tại mình đã đánh nhiều quyền như vậy, tung cước
nhiều như vậy, cảm giác mệt mỏi đều không có, vậy thì làm sao có thể đạt tới cực hạn của mình, và làm sao để bức bách tiềm lực?</p><p>Cái này
thật khó, Dương Khai cũng có chút buồn bực. Có được Ngạo Cốt Kim Thân
thực sự là chuyện vô cùng tốt, có thể dựa vào sức mạnh của nó để khôi
phục năng lực. Các kỹ năng cơ bản của Lăng Tiêu các là không thể nào tu
luyện được nữa. Chẳng nhẽ sau này mỗi ngày chỉ có thể tu luyện nửa tiếng trước khi mặt trời mọc?</p><p>Mỗi ngày mười hai canh giờ chỉ tu luyện
nửa canh giờ, thời gian còn lại làm gì? Đi ngủ sao? Tuyệt đối không
được, Dương Khai tuyệt đối bác bỏ suy nghĩ này.</p><p>Vừa lơ đãng nhóm
lửa nấu cơm, Dương Khai vừa suy tư làm thế nào để mình cảm thấy áp lực.
Việc này nếu để người khác biết chỉ sợ sẽ dở khóc dở cười.</p><p>Trên
con đường tu luyện, các vũ giả đều ước được nhẹ nhàng thoải mái một
chút, nhưng hiện tại Dương Khai chỉ muốn bản thân mình được ngược đãi.</p><p>Nghĩ tới nghĩ lui cũng chẳng có cách gì hay. Nguyên nhân chủ yếu là bây giờ
điều kiện kinh tế của bản thân theo không kịp. Có rất nhiều đan dược có
thể phụ trợ việc tu luyện Thối Thể cảnh, ngoài đan dược ra còn có một
vài phương pháp ngoại lực khác. Nhưng căn nguyên của tất cả những thứ
này đều nằm trong một chữ - tiền.</p><p>Ở Lăng Tiêu các, tiền có
nghĩa là điểm cống hiến, Dương Khai đáng thương chỉ có mười hai điểm
cống hiến. Thật là lực bất tòng tâm mà.</p><p>Nấu cơm xong, Dương Khai
đánh luôn mấy bát, cũng không có thức ăn gì, chỉ ăn cơm không như vậy
thôi. Nhưng Dương Khai thấy rất thỏa mãn, mấy ngày nay, đây là lần đầu
tiên mình được ăn một bữa cơm no.</p><p>Ăn xong, Dương Khai cũng không
tu luyện luôn mà đi tắm trước, sau đó nằm xuống giường. Tiếp tục tu
luyện cũng chỉ tốn thời gian mà chẳng hiệu quả gì nhiều, chi bằng tự suy nghĩ cách giải quyết. Chuẩn bị tốt chắc chắn sẽ đạt được kết quả cao.</p><p>Nghĩ đi nghĩ lại, lòng Dương Khai chợt động bèn triệu gọi Vô Tự Hắc Thư ra.</p><p>Dương Khai đã xem hết cuốn Vô Tự Hắc Thư này rồi, trong mỗi trang sách đều
phong ấn một thứ gì đó, chỉ cần thực lực mình đạt tới là có thể triệu
hồi ra.</p><p>Trang thứ nhất có được Ngạo Cốt Kim Thân là cơ sở, cũng là căn nguyên.</p><p>Trang thứ hai là Thối Thể thiên, đây là cuốn tu luyện nhằm vào Ngạo Cốt Kim Thân.</p><p>Trang thứ ba không biết là gì, bởi vì tối qua lúc xem xét tìm hiểu, căn bản
là không thấy tình hình gì. Điều này chắc chắn là có liên quan đến thực
lực của mình.</p><p>Hiện giờ trang thứ nhất và trang thứ hai chẳng có
gì cả, Dương Khai cẩn thận nghiên cứu một lúc cũng không thu hoạch được
gì. Đến khi vô tình lật đến trang thứ ba thì giật mình hoảng hốt.</p><p>Hả? Dương Khai nhíu mày, nhìn chằm chằm vào trang thứ ba.</p><p>Gần như trong phút chốc, trên trang thứ ba kim quang lóe sáng, vô số ánh
hào quang thoát ra, trực tiếp chui vào trong đầu Dương Khai. Bỗng, trên
trang thứ ba từ từ xuất hiện một vòng xoáy, trong vòng xoáy nhô lên một
cái lư hương có màu sắc cổ xưa.</p><p>Sự biến hóa này khiến cho Dương Khai có chút thất thần, sau khi hiểu được thì quá đỗi vui mừng.</p><p>Đúng thế, không phải sáng nay mình đã đột phá được Thối Thế cảnh tầng bốn
rồi sao? Đêm qua không có cách nào xem được huyền cơ của trang thứ ba,
hôm nay sau khi đột phá được rồi tại sao lại không thử xem sao?</p><p>Mặc dù chỉ chênh lệch một tầng, nhưng chính tầng này đã gây trở ngại cho con đường khám phá trang thứ ba.</p><p>Hiểu được điều này rồi, Dương Khai có chút hối hận. Nếu như xem từ lúc sáng
thì nói không chừng giờ không cần phải phí công suy nghĩ.</p><p>Kìm nén sự phấn chấn, Dương Khai đặt lư hương trên tay, cẩn thận xem xét.</p><p>Lư hương này cũng không lớn, thoạt nhìn giống như là lư hương hay dùng của người bình thường, chỉ là đang đóng kín, trên miệng có một cái nắp,
phía trên nắp còn có một vài cái lỗ nhỏ, màu sắc cổ xưa, nhìn không có
gì đặc biệt, có đặt ở đâu cũng sẽ không khiến người khác chú ý.</p><p>Dương Khai khẽ ngửi, phát hiện ra vật này không có mùi, cho tay vào cũng không chìm.</p><p>Vật này để làm gì vậy? Dương Khai tạm thời không hiểu, bất đắc dĩ chỉ có
thể nhắm mắt lại, xem xét những thông tin lúc nãy vừa mới chảy vào đầu
mình.</p><p>Một lát sau, Dương Khai liền mở mắt nhìn một cách kỳ quái.</p><p>Căn cứ vào những thông tin vừa rồi, không ngờ lư hương này lại là thứ hỗ
trợ mình tu luyện. Chỉ có điều một mình lư hương này không thì chẳng có
tác dụng gì, phải bỏ thảo dược vào bên trong, khi đốt mới có thể sinh ra dị hương, mà dị hương này mới là thứ phù trợ cho việc tu luyện.</p><p>Cảnh giới không giống nhau, lư hương cần các loại thảo dược khác nhau.</p><p>Khiến dương mở có chút nghi hoặc chính là, thích hợp chính hắn một cảnh giới
thảo dược không ngờ là Clover tàn hồn hoa và tuyệt địa cây gỗ khô cây
cỏ.</p><p>Điều khiến Dương Khai nghi hoặc là những thảo dược phù hợp với
cảnh giới của mình là Tam Diệp Tàn Hồn hoa và Tuyệt Địa Khô Mộc thảo.</p><p>Theo Dương Khai biết, giá cả của hai loại thảo dược này cũng không đắt, chỉ
là hiếm mà thôi. Hơn nữa bản thân chúng còn có chút độc tính, tuy nói
độc tính không lớn, nhưng quanh năm hít loại thảo dược này cũng sẽ có
hại.</p><p>Hai loại thảo dược này giúp đỡ cho việc tu luyện của mình thật sao?</p><p>Ở Cống Hiến đường nhất định là có loại thảo dược này, tuy nhiên Mộng lão
đầu tham lam vô độ, bán giá khá cao. Hơn nữa bản thân Dương Khai không
có nhiều điểm cống hiến, làm sao có thể phung phí được?</p><p>Kể từ đó, chỉ có thể tự mình nghĩ cách đi tìm hai loại thảo dược này. Cũng may
Lăng Tiêu các cách Hắc Phong Sơn không xa, Dương Khai đã nhiều lần vào
săn thú, cũng khá quen thuộc, nói không chừng bên trong còn có thảo
dược.</p><p>Ngày mai sẽ vào núi! Dương Khai quyết định xong, tất cả
những phiền não đều tiêu tan, sau đó liền chìm vào giấc ngủ. Trước khi
ngủ Dương Khai còn cố ý xem trang thứ tư trong Vô Tự Hắc Thư, để tránh
chuyện lúng túng xảy ra như ngày hôm nay, tuy nhiên trang thứ tư không
có động tĩnh gì, đại khái là công lực của Thối Thể cảnh tầng bốn không
đủ để xem.</p><p>Ngày hôm sau, Dương Khai dậy thật sớm.</p><p>Hôm qua
tu luyện Thối Thể thiên đạt được nhiều điều tốt như thế, hắn đương nhiên biết được cảm giác ấy sung sướng như thế nào, huống chi bản thân hắn
cũng không phải là người lười biếng.</p><p>Nhân lúc mặt trời vừa lên,
Dương Khai từ từ triển khai quyền cước vừa chậm rãi lại vừa như bao hàm
cả thiên địa chi lí trong Thối Thể thiên.</p><p>Tuy đã tu luyện tới
tầng thứ tư, cao hơn hôm qua một tầng, nhưng hôm nay thi triển Thối Thể
thiên cũng không tiến bộ bao nhiêu. Sau nửa canh giờ, vẫn dừng lại ở lại tiến độ một phần hai mươi, thân thể bị tra tấn có chút đau nhức, xương
cốt kêu răng rắc, giống như đạp vào quả đậu khô.</p><p>Hít một hơi khí
màu tím, khí cảm mỏng manh trong cơ thể ngày càng rõ ràng hơn. Kinh mạch được khai thông không ít, cơ thể lại thải ra nhiều tạp chất. </p> </div>