Vũ Luyện Điên Phong - Chương 41: Thối thể cảnh tầng tám<div class="chapter-c" id="chapter-c"><div align="center" class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" style="height:90px"></div> <p> - Không biết...cái khác huynh có lợi hại như vậy không.</p><p>Đôi mắt long lanh của Hồ Mị Nhi nhìn Dương Khai một cách đầy ẩn ý, miệng thì nói toàn những lời lộ liễu trắng trợn.</p><p>Kiểu chòng ghẹo táo bạo thế này, chỉ cần là nam nhân thì không ai có thể thờ ơ được. Huống chi dung mạo của Hồ Mị Nhi lại không tầm thường, thân
hình tuyệt mỹ, bao người nhớ nhung.</p><p>Một chuỗi tiếng nuốt nước bọt vang lên từ tứ phía. Bọn người Tô Mộc tuy cơ thể đang suy yếu, nhưng bị kích thích như vậy, máu nóng liền dồn lên đỉnh đầu, cơ thể duỗi ra, vài tên còn mê man ngay tại chỗ.</p><p>Dương Khai cũng cảm thấy có ngọn
lửa tà bốc lên, yết hầu bỗng nhiên nhúc nhích, hơi thở nặng nề, bàn tay
đang nắm cổ Hồ Mị Nhi bất giác như được gia tăng sức lực.</p><p>Hồ Mị Nhi thở gấp, uốn éo tấm thân vài cái, nhìn Dương Khai quở trách:</p><p>- Huynh còn không buông tay?</p><p>Vừa nói, nàng vừa đưa tay, nhẹ nhàng mà ôn nhu gỡ bàn tay của Dương Khai
ra. Cũng không biết là cố ý hay vô tình, nàng đặt bàn tay Dương Khai
xuống bộ ngực nở nang của mình.</p><p>Sự ấm nóng và mềm mại truyền qua
bàn tay. Dương Khai cảm nhận được rõ ràng có gì đó nhô lên dưới lòng bàn tay mình. Sự kích thích này khiến cho máu trên vết thương chảy càng
nhiều.</p><p>Dương Khai hơi đỏ mặt, hắn không thể ngờ thiếu nữ này lại
phóng đãng đến mức đó, nàng mới có mấy tuổi đâu. Quả đúng là tài không
đợi tuổi, đa tình thì phải xem cảnh hôm nay.</p><p>Nhìn thấy vẻ ngượng ngịu của Dương Khai, Hồ Mị Nhi lại cười khanh khách, thủ thỉ:</p><p>- Huynh muốn làm gì vậy?</p><p>Dương Khai nhìn Hồ Mị Nhi ở ngay dưới người mình, hơi có chút cảm giác “chó
muốn cắn nhím nhưng không xơi nổi”. Nói cho cùng thì cả cuộc chiến, Hồ
Mị Nhi quả thật không hề động thủ với đệ tử Lăng Tiêu Các, Dương Khai
đương nhiên không thể đánh người ta. Hắn muốn giáo huấn nàng, sở dĩ là
vì suốt trận chiến, nàng cứ ngầm thêm dầu vào lửa.</p><p>Nhưng bị nàng
trêu ghẹo thế này, Dương Khai lại có phần bực dọc. Bản thân dù gì cũng
là một trang nam tử, sao có thể để nàng cợt bỡn trong lòng bàn tay?</p><p>Ngẫm nghĩ một chút, bàn tay đang đặt trên ngực Hồ Mị Nhi của Dương Khai đột nhiên bóp một cái thật mạnh.</p><p>- A...</p><p>Hồ Mị Nhi biến sắc, rên rỉ thành tiếng, gương mặt xinh đẹp liền ửng đỏ,
giận dữ trừng mắt nhìn Dương Khai. Không ngờ hắn lại không biết thương
hoa tiếng ngọc đến vậy.</p><p>Trong tiếng cười lớn, Dương Khai đứng lên, nhìn Hồ Mị Nhi nói:</p><p>- Ngươi đi đi.</p><p>Hồ Mị Nhi sững sờ nhìn Dương Khai, hoàn toàn không ngờ sự quyến rũ vô địch của mình lại không phát huy tác dụng. Cơ thể này không biết đã có bao
nhiêu kẻ chăm chăm nhìn vào, muốn nếm thử mùi vị. Bình thường những kẻ
vì chuyện này mà tranh đoạt cũng nhiều vô số kể. Vậy mà hôm nay, hiếm
lắm nàng mới có hứng thú với một nam nhân, chủ động mê hoặc, vậy mà lại
bị hắn coi khinh.</p><p>Hắn có còn là nam nhân không vậy?</p><p>Ngây
ra một hồi, Hồ Mị Nhi đột nhiên nở nụ cười, uyển chuyển đứng dậy, nhìn
sâu vào Dương Khai, khẽ cắn môi, áp lại gần tai Dương Khai thổi nhẹ:</p><p>- Huynh thật thú vị!</p><p>Dứt lời, nàng cười khúc khích, quay người bước đi, cái lưng ong, cái mông tròn, hết sức phong tình.</p><p>Đám người Tô Mộc ngây cả người, vừa ngưỡng mộ vừa đố kị. Chúng không thể
ngờ Dương Khai lại cự tuyệt một chuyện tốt đến thế, từng tên tự vấn
mình, nếu vừa rồi Hồ Mị Nhi nói những lời đó với mình, thì mình sẽ làm
thế nào?</p><p>Không chừng lại đồng ý liền! Không không không, dứt
khoát là tiến tới ngay, miếng ngon từ trên trời rơi xuống sao phải từ
chối? Dẫu sao cũng chẳng có tổn thất gì.</p><p>Đợi Hồ Mị Nhi đi khỏi, đám đông mới quay lại nhìn Dương Khai, tên nào cũng vừa đau đớn cùng mình, vừa xấu hổ hết mức.</p><p>Ôi... Nhiều tiếng thở dài vang lên.</p><p>Dương Khai cúi xuống, xé ít vải từ quần áo của mấy tên đệ tử Phong Vũ Lâu
đang bất tỉnh trên nền đất, sau đó quấn quanh bàn tay bị thương của
mình.</p><p>Hắn đưa mắt nhìn đám người Tô Mộc, mấy tên sư đệ này, tên nào cũng đầy vẻ ngượng ngùng.</p><p>- Còn sức để đi nữa không?</p><p>Dương Khai hỏi.</p><p>Bọn chúng khẽ gật đầu.</p><p>- Thế thì đi thôi.</p><p>Đám người này quay trở về Lăng Tiêu Các trong bộ dạng mặt mũi bầm tím,
người ngợm nhếch nhác, ai nấy đều tự đi tìm thuốc trị thương. Hôm nay
tuy là ẩu đả, nhưng suy cho cùng vẫn là cuộc chiến giữa các tiểu bối với nhau. Tam đại môn phái ở gần nhau thường xuyên xảy ra chuyện như vậy,
cho nên cũng chẳng có gì là kinh ngạc.</p><p>Chỉ cần không phải là
người quan trọng chết thì trưởng bối của mỗi phái cũng chỉ nhắm mắt cho
qua chuyện, không can dự gì thêm. Có tranh đấu mới có tiến bộ mà. Trưởng bối của mỗi phái đều hy vọng cách này sẽ mài dũa được đám đệ tử của
mình.</p><p>Dương Khai trở về căn nhà gỗ, vốn định lấy nửa lọ Ngưng Huyết Khư Ứ cao còn lại ra, nhưng nghĩ một hồi lại thôi.</p><p>Tình trạng ngày hôm nay, nặng nhất cũng chính là vết thương bị kiếm đâm
xuyên qua, mấy vết thương khác chẳng là gì cả. Có điều vết thương trên
tay trông thì đáng sợ, nhưng thật ra cũng chẳng nghiêm trọng như đã
tưởng. Lúc chộp lấy thanh kiếm của Thành Thiếu Phong, Dương Khai đã
tránh phần xương và kinh mạch ra, lòng bàn tay tuy bị đâm thủng một lỗ,
nhưng chỉ bị thương phần mềm thôi.</p><p>So ra cũng không khác mấy vết
thương do đại chiến với Hoa bối tri chu lần trước. Lần đó chỉ cần ba,
bốn ngày là hồi phục, có lẽ lần này cũng vậy.</p><p>Hơn nữa chỉ trong
chốc lát, tình trạng vết thương có vẻ đã đỡ hơn nhiều, thể lực cũng đã
hồi phục được một phần. Dương Khai cẩn thận cảm nhận một chút thì phát
hiện, không chỉ có cỗ ấm nóng phát ra từ Ngạo Cốt Kim Thân có tác dụng
trị thương, mà Chân Dương nguyên khí trong cơ thể cũng có chút khả năng
chữa trị. Hai thứ này bổ trợ cho nhau thì sẽ hồi phục rất nhanh.</p><p>Sau khi biết Chân Dương nguyên khí cũng có công hiệu trị thương, Dương Khai vội chạy đến Khốn Long Giản hấp thu Dương khí. Trận chiến hôm nay tuy
không dùng đến một giọt Dương dịch nào, nhưng Chân Dương nguyên khí
trong cơ thể lại tiêu hao không ít, cần phải bổ sung gấp.</p><p>Đương
lúc hấp thụ Dương khí, Dương Khai đột nhiên cảm thấy trong cơ thể có gì
đó lay động. Dương khí bên ngoài vẫn tự nhiên len lỏi vào, chỉ trong
chớp mắt đã đạt đến mức công lực của một tới hai ngày. Hôm nay lượng
Chân Dương nguyên khí bị tiêu hao đã được bổ sung lại đầy đủ, lại còn có phần lớn hơn, kinh mạch dường như cũng vững chắc, được khai thông hơn
mấy phần.</p><p>Thối Thể cảnh tầng tám? Dương Khai hoàn hồn trở lại, trên mặt lộ rõ vẻ vui sướng.</p><p>Nhanh như vậy đã đột phá lên Thối Thể cảnh tầng tám, việc này nằm ngoài dự
đoán của Dương Khai. Vốn dĩ hắn ước tính, phải tu luyện thêm ít nhất
bảy, tám ngày nữa mới đột phát được.</p><p>Có chuyện như vậy sao, xem
ra việc này có quan hệ mật thiết với trận chiến dốc toàn lực ngày hôm
nay. Giao chiến quả nhiên là có lợi.</p><p>Trong lòng hoan hỉ, Dương
Khai bắt đầu ra sức tu luyện Chân Dương quyết. Sau khi đột phát thêm một tầng, tốc độ hấp thu Dương khí đã gia tăng rõ rệt, mọi phương diện đều
có chuyển biến.</p><p>Đêm xuống, Dương Khai về nhà nghỉ ngơi. Hôm nay dù gì cũng đã bị thương, thực sự là không nên thức khuya luyện tập.</p><p>Mấy ngày kế tiếp, ngoài ăn uống ngủ nghỉ, Dương Khai đều xuống Khốn Long Giản tu luyện.</p><p>Còn đám Tô Mộc thì chẳng có lấy một tên nào xuất hiện, chắc là chúng đang dưỡng thương.</p><p>Một buổi sáng mấy ngày sau, Dương Khai đang quét dọn thì thấy Tô Mộc dẫn
theo đám Lý Vân Thiên từ xa đi đến. Đều là đám người tham gia trận giao
chiến hôm trước, không thiếu một tên, hùng dũng đi theo sau Tô Mộc.</p><p>Tuy đã trị thương đến mấy ngày trời, vậy mà trông bọn chúng vẫn còn chút
thê thảm, hốc mắt tím bầm, khóe miệng sưng vù, trông đến là khôi hài.</p><p>Dương Khai nhìn qua, không kềm nổi, vui vẻ nói:</p><p>- Tô sư đệ, lại ngứa da nữa rồi à? </p> </div>