<li class="dropdown-item">  
    <a href="/chapter/{{chapter.id}}/" class="link-info">{{chapter.name}}</a> 
    <a href="{{url_for('delete_chapter', chapter_id=chapter.id)}}" type="button" class="btn"><!-- Download SVG icon from http://tabler-icons.io/i/circle-x -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><path d="M10 10l4 4m0 -4l-4 4" /></svg>
    Xóa</a>
</li>
