<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chỉnh sửa: {{author.name}}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" name="author-form" novalidate>
          {{ form.hidden_tag() }}
                         
              <p>
                  {{ form.author_name.label }}
                  {{ form.author_name(class="form-control", value=author.name) }}
                  {% for error in form.author_name.errors %}
                      <span style="color:red;">[{{ error }}]</span>
                   {% endfor %}
              </p>
              <p>
                  {{ form.img.label }}
                  {{ form.img(class="form-control", value=author.img) }}
                  {% for error in form.img.errors %}
                      <span style="color:red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.about.label }}
                  {{ form.about(class="form-control", value=author.about) }}
                  {% for error in form.about.errors %}
                      <span style="color:red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              {{ form.submit() }}
          </form>
        
      </div>
      
    </div>
  </div>