<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="/new-fiction/" method="post" name="author-form" novalidate>
        <div class="modal-header">
          <h5 class="modal-title">New Fiction</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Fiction Name</label>
            <input type="text" class="form-control" name="fiction-name" placeholder="Type Fiction Name">
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="mb-3">
                <label class="form-label">Cover Photo</label>
                <div class="input-group input-group-flat">
                  <span class="input-group-text">
                    
                  </span>
                  <input type="text" class="form-control"  value="link ảnh" autocomplete="off" name="cover-image">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Hoàn thành</label>
                <select class="form-select" name="publish-status">
                  <option value="0" selected>Chưa hoàn thành</option>
                  <option value="1">Hoàn thành</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Tác giả</label>
                <input type="text" class="form-control" name="author">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Xuất bản vào năm</label>
                <input type="date" class="form-control" name="publishted-date">
              </div>
            </div>
            <div class="col-lg-12">
              <div>
                <label class="form-label" >Thông tin mô tả</label>
                <textarea class="form-control" rows="3" name="description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-dismiss="modal">
            Cancel
          </a>
          <button href='/test/new-fiction/' class="btn btn-primary ms-auto" type="submit">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <!-- SVG icon code -->
            Create new report
          </button>
  
        </div>
      </form>
      
    </div>
  </div>