<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Chỉnh sửa: {{fiction.name}}</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form action="" method="post" name="author-form" novalidate>
        {{ form.hidden_tag() }}

        <p>
          {{ form.name.label }}
          {{ form.name(class="form-control", value=fiction.name) }}
          {% for error in form.name.errors %}
          <span style="color:red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.cover.label }}
          {{ form.cover(class="form-control", value=fiction.cover) }}
          {% for error in form.cover.errors %}
          <span style="color:red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.desc.label }}
          {{ form.desc(class="form-control", value=fiction.desc) }}
          {% for error in form.desc.errors %}
          <span style="color:red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.status.label }}
          {{ form.status(default=fiction.status) }}
          {% for error in form.desc.errors %}
          <span style="color:red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.author.label }}
          {{ form.author(class="form-control", value=fiction.author_id) }}
          {% for error in form.desc.errors %}
          <span style="color:red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.year.label }}
          {{ form.year(class="form-control",value=fiction.publish_year) }}
          {% for error in form.desc.errors %}
          <span style="color:red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        {{ form.submit() }}
      </form>

    </div>

  </div>
</div>