{% extends "base.html" %}
{% block title %}{{ author.name}}: All fictions{% endblock %}
{% block content%}

<div class="row justify-content-start">
    <div class="col-md-4">
        {% include '_author.html'  %}   
    </div>
    
    <div class="col-md-8 card">
        
<div class="row row-deck">
    {% for fiction in fictions %}

    <div class="col-md-4">
        {% include '_fiction.html'  %}   
    </div>

    {% endfor %}
</div>


    </div>
</div>

<div class="row row-deck">

</div>



{% endblock %}
