<html>

<head>
  <title>{% block title %}{% endblock %} | Dreamer House</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='tabler.min.css') }}" rel="stylesheet">
  <script src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='axios.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='tabler.min.js')}}"></script>
</head>


<body >
  <div class="wrapper">
    {% block nav %}{% endblock %}
    <header class="navbar">
      <div class="container-xl" >
        <div class="navbar-expand-md">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="{{ url_for('index')}}" style="text-decoration: none !important;" >
              DATASET PARSER
            </a>
          </h1>

        </div>

        </div>
       
      </div>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
      {% for message in messages %}
      <p>{{ message }} </p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        
        {% block content %}{% endblock %}
      </div>
    </div>
</body>

</html>