{% extends "base.html" %}
{% block title %}{{chapter.name}} - {{fiction.name}}{% endblock %}
{% block nav %}
{% endblock %}

{% block content%}


<div class="row justify-content-center">
  
  <div class="col-md-9">
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Editable">
      Edit this chapter
  </button> -->
  <center>
    {% include '_navigation.html'  %}
  </center>
  <div class="modal fade" id="Editable" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  {% include '_formeditchapter.html'  %} 

    
    
  </div>
  
    <div class="card card-lg" style="margin: 10;">
      <div class="col-xl-2 col-sm-4">


      </div>
      <div class="card-header justify-content-center">
        <div class="card-title">
          {{ chapter.name }}
        </div>

      </div>
      <div class="card-body">



        <div id="fictionID" data="{{fiction.id}}"></div>
        <div id="currentChapter" data="{{chapter.id}}"></div>
        <div class="card-title" id="exampleModalLabel"></div>
        
        <div class="markdown" id=viewerContent>
         
          
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
          axios.get('{{url_for("api_chapter_id", chapter_id = chapter.id)}}').then(function(response) {
            console.log(response)
            document.getElementById('viewerContent').innerHTML = response.data.content.replace(/(?:\r\n|\r|\n)/g, '<br>');
          })
        </script>
      </div>
    </div>
    <center>
      {% include '_navigation.html'  %}
    </center>
  </div>

</div>

</div>


{% endblock %}