{% extends "base.html" %}
{% block content%}
<div class="row row-deck">

  {% for p in fiction %}

  <!-- <div class="col-3"> -->
    <!-- <div class="p-3 border bg-light">

      <img src="{{ p.cover }} " class="img-thumbnail">
      <br>
      <a href="/post/{{p.id}}">{{ p.id }} - {{ p.name }} </a>
      <p class="lead">{{ p.author }}</p>
      <div id="description" style="white-space: pre-line"> {{ p.desc }}</div>
    </div>

    <hr> -->

  <!-- <div class="col-3">
    <div class="card h-5 border-light" >
      <a href="/post/{{p.id}}">
      <img src="{{p.cover}}" class="card-img-top" alt="..." ></a>
      <div class="card-body">
        <h5 class="card-title"> {{p.name}}</h5>
        <p class="card-text">{{ p.desc }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ p.author }}</small>
      </div>
    </div>
  </div> -->
  <div class="col-sm-3">
  
      
    <div class="card" style="margin:10px">
      <a href="/post/{{p.id}}"><div class="card-img-top img-responsive " style="background-image: url({{p.cover}}); height: 300px"></div></a>
      <div class="card-body">
        <h3 class="card-title"><a href="/post/{{p.id}}">{{p.name}}</a></h3>
        <p>{{ p.author }}</p>
      </div>
    </div>
  


  </div>


    
{% endfor %}
</div>

{% endblock %}