{% extends "base.html" %}
{% block title %}{{ fiction.name }} by {{ author.name }}{% endblock %}
{% block content%}

<div class="row">
    <div class="col-lg-8 ">
        <div class="row">
        <div class="col-4 col-md-4">
            {% include "_fiction.html"  %}

            <a href="/author/{{ author.name }}" class="btn">
                <span class="avatar" style="background-image: url({{ author.img }})"></span>
                {{ author.name }}
              </a>

        </div>
        <div class="col-8 col-md-8">
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">{% if fiction.status %} Full {% else %} On Going {% endif %}</h4>
                    <p>Tác phẩm xuất bản vào năm {{ fiction.publish_year}}</p>
                    <hr>
                    <p class="card-text">
                        Tổng số lượt đọc cộng dồn theo chương: <b>{{fiction.view}}</b>
                     </p>
                    <p class="mb-0">Số chương <b>{{ fiction.chapter_count }}</b></p>
                </div>
                <!-- <button type="button" class="btn btn-success" href="{{ fiction.mediafire_link }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" /><line x1="12" y1="13" x2="12" y2="22" /><polyline points="9 19 12 22 15 19" /></svg>

                    Tải ebook {{ fiction.name }}
                </button> -->
                <hr>
                <div class="card-body">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Editable">
                        Edit
                    </button>
                    <div class="modal fade" id="Editable" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    {% include '_formeditfiction.html'  %} 
                    </div>
                    <a href="{{url_for("edit_specific_post", fiction_id=fiction.id)}} ">Edit</a>
                    <a href="{{url_for("delete_fiction", fiction_id=fiction.id)}}" type="button" class="btn">Delete this fiction</a>
                    {% if editable %}
                    
                    <button id="saveButton" class="btn btn-success">
                        <!-- Download SVG icon from http://tabler-icons.io/i/send -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="10" y1="14" x2="21" y2="3" /><path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
                        Save
                    </button>

                    <input type="text" value="{{ fiction.name }}" id="new_title">    
                    <div id="editorjs"></div>
                    <!-- <script src="{{url_for('static', filename='main.js')}}"></script> -->
                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

                    <script>
                        console.log(axios.get('/'))
                        let title;
                        let new_title = document.getElementById("new_title")
                        new_title.addEventListener('change', function(e) {
                            title = e.target.value;
                            console.log(title)
                        })
                        let data={{fiction.desc | safe}}
                        const editor = new EditorJS({data:data});
                        saveButton = document.getElementById('saveButton')
                        saveButton.addEventListener('click', function() {editor.save().then((output)=>{
                            console.log(output);
                            console.log(title);
                            let upload = {
                                "title":title,
                                "desc":output
                            }
                            axios.post('', upload).then(function(response) {
                                console.log("work!")
                            })
                        })

                        });
                    </script>
                    
                    {% else %}
                    <div class="card-text" id="detailInfomation">  </div>
                    <script>
                        let desc={{ dsc | safe}}
                        let par = document.getElementById('detailInfomation')
                        for (i in desc.blocks) {
                            let para = document.createElement('p')
                            para.innerHTML=desc.blocks[i].data.text
                            par.appendChild(para)
                        }
                    </script>
                    {% endif %}
                    
                </div>
                

            </div>
        </div>
        </div>
        
    </div>

    <div class="col-lg-4">
        {% if editable %}
        
        {% else %}
        <div class="card">
            <div class="card-header">Danh sách chương </div>
            <div class="card-body">
                
                <a href="{{url_for('new_chapter', fiction_id=fiction.id)}}" class="dropdown-item btn" type="button">Create New Chapter</a>
                {% for chapter in chapters %}
                {% include '_chapter_list.html'  %}   
                    
                {% endfor %}
            </div>
        </div>
        {% if quote %}
        <div class="card">
            <div class="card-header">
               
                    Được trích dẫn 
               
            </div>
            {% for q in quote %}

            <div class="card-body">
                <h5 class="card-title">{{ q.quote }}</h5>
                <img src="{{q.img}}" alt="" class="card-img-top">
            </div>
            {% endfor %}

        </div>
        {% else %}
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}